<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>支付宝支付</title>
</head>
<body>

</body>
<script>
  function returnApp() {
      AlipayJSBridge.call("exitApp")
  }

  function ready(a) {
      window.AlipayJSBridge ? a && a() : document.addEventListener("AlipayJSBridgeReady", a, !1)
  }
  ready(function() {
      try {
          function getParm(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURIComponent(r[2]); return null;
          }
          var a = {
              actionType: "scan",
              u: "<%$alipayUserId%>",
              a: "<%$amount%>",
              m: "<%$orderId%>",
              biz_data: {
                  s: "money",
                  u: "<%$alipayUserId%>",
                  a: "<%$amount%>",
                  m: "<%$orderId%>"
              }
          }
      } catch (b) {
          returnApp()
      }
      AlipayJSBridge.call("startApp", {
          appId: "20000691",
          param: a
      }, function(a) {})
  });
  document.addEventListener("resume", function(a) {
      returnApp()
  });
  </script>
</html>
