<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付宝支付</title>
    <script src="<%$webCdnUrl%>/js/alipayjsapi.inc.min.js"></script>
</head>
<body>

</body>

<script type="text/javascript">

    var go_url = 'alipayqr://platformapi/startapp?appId=20000123&actionType=scan&biz_data={"s":"money","u":"<%$alipayUserId%>","a": "<%$amount%>"}';

    AlipayJSBridge.call('hideOptionMenu');
    AlipayJSBridge.call('alert', {
        title: '重要提示',
        message: "真实姓名：<%$alipayUserName%>\n如果无法付款请返回浏览器点击淘宝跳转.",
        button: '确定'
    }, function(e) {
        window.location.href= go_url;
        //           		window.location.href = url1;
        AlipayJSBridge.call("exitApp");
    });

</script>
</html>
