<!DOCTYPE html>
<html style="font-size: 47px; visibility: visible;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>支付宝官方在线充值</title>
  <link rel="stylesheet" href="<%$webCdnUrl%>/css/aliBillReset.css">
  <link rel="stylesheet" href="<%$webCdnUrl%>/css/aliBillPayCode.css">
  <!--[if !IE]> -->
  <script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

  <!-- <![endif]-->

  <!--[if IE]>
  <script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
      if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
  </script>

  <script src="<%$webCdnUrl%>/js/alipayjsapi.inc.min.js"></script>
  <script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
  <script src="<%$webCdnUrl%>/js/common.js"></script>
  <script>
      (function (doc, win) {
          var docEl = doc.documentElement,
              resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
              recalc = function () {
                  var clientWidth = docEl.clientWidth;
                  if (!clientWidth)
                      return;
                  docEl.style.fontSize = parseInt(100 * ((clientWidth > 750 ? 750 : clientWidth) / 750)) + 'px';
              };
          if (!doc.addEventListener)
              return;
          win.addEventListener(resizeEvt, recalc, false);
          doc.addEventListener('DOMContentLoaded', recalc, false);
      })(document, window);
  </script>
</head>
<!-- 适配代码 -->
<body style="visibility: visible;">
  <div class="paytotalbox">
    <div class="payicon"></div>
    <div class="payalert">付款成功后将自动充值到账</div>
    <div class="centerline"></div>
    <div class="ordernumber">订单号：<%$orderId%></div>
    <div class="paynumbox">
      <div class="paynumtitle">充值金额：</div>
      <div class="paynumber"><span class="moneyicon">¥</span><span id="moneynum"><%$amount%></span></div>
    </div>
    <div class="copybutton" style="background-color: rgb(204, 204, 204); color: rgb(119, 119, 119);">
      <span></span>
      <div id="fill" style="width: 0%;"></div>
      <div id="showNumber"></div>
    </div>
      <div class="ordernumber" id="initAlipay" style="display: block">正在获取支付宝授权...</div>

  </div>
  <!-- 分割线 -->
  <div class="line"></div>
  <!-- 说明部分 -->
  <div class="explainbox">
    <div class="explainitem">
      <div class="explainicon explainiconone"></div>
      <div class="explaintext">①点击“立即支付”按钮</div>
      <div class="explainLine"></div>
    </div>
    <div class="explainitem">
      <div class="explainicon explainicontwo"></div>
      <div class="explaintext">②跳转至手机支付宝支付</div>
      <div class="explainLine"></div>
    </div>
    <div class="explainitem explainitemtwo">
      <div class="explainicon explainicontwo"></div>
      <div class="explaintext">③支付完成</div>
    </div>
    <!-- 温馨提示 -->
    <div class="hintTitlebox">
      <div class="hintTitletext">温馨提示</div>
      <div class="hintLine"></div>
    </div>
    <div class="hintdesc">①请确认<span>金额一致</span>，否则会导致支付不到账 </div>
    <div class="hintdesc">④若已支付，请勿重复支付，否则订单无效</div>
  </div>
</body>

<script type="text/javascript">

    var go_url = 'alipayqr://platformapi/startapp?appId=20000123&actionType=scan&biz_data={"s":"money","u":"<%$alipayUserId%>","a": "<%$amount%>"}';
    function add2() {
        /*
        setTimeout(function () {
            window.location.href= go_url;
            //           		window.location.href = url1;
            AlipayJSBridge.call("exitApp");
        }, 300);
        // */

        window.location.href= go_url;
        //           		window.location.href = url1;
        //AlipayJSBridge.call("exitApp");
    }
    /*
    ap.setNavigationBar({
        title: '自助充值',
        backgroundColor: '#D03B41'
    });
    //副标题文字
    AlipayJSBridge.call('setTitle', {
        title: '自助充值'
    });
    AlipayJSBridge.call('setOptionMenu', {
        icontype: 'filter',
    });
    AlipayJSBridge.call('showOptionMenu');
    document.addEventListener('optionMenu', function (e) {
        AlipayJSBridge.call('showPopMenu', {
            menus: [],
        }, function (e) {
            console.log(e);
        });
    }, false);
    // */
    //    解决渲染页面缩放
    setTimeout(function () {
        document.querySelector("body").style.visibility = "visible";
        document.querySelector("html").style.visibility = "visible";
    }, 0);
    $(".backbox").click(function () {
        window.history.back();
    });

    // 加载js进度条
    var fill = document.getElementById('fill');
    var showNumber = document.getElementById('showNumber');
    var count = 0;
    var amount = parseInt('<%$amount%>');
    var time = 5000;
    if(amount >= 2000 && amount < 3000){
        time=time*1.2;
    }else if(amount>=3000 && amount<4000){
        time=time*1.5
    }else if(amount>=4000){
        time=time*2;
    }

    initone();
    function initone() {
        $('.copybutton').css({
            'backgroundColor': '#CCCCCC',
            'color': '#777777'
        });
        $('.copybutton>span').text('');
        var timerone = setInterval(function () {
            count++;
            showNumber.innerHTML = count + '%';
            fill.style.width = count + '%';
            if (count === 30) {

                $('#initAlipay').html('进行支付环境安全检测...');

                clearInterval(timerone);
                inittwo();
            }
        }, time/300)
    }

    function inittwo() {
        var timertwo = setInterval(function (e) {
            count++;
            showNumber.innerHTML = count + '%';
            fill.style.width = count + '%';
            if (count === 50) {
                $('#initAlipay').html('检查资金安全...');
                clearInterval(timertwo);
                initthree();
            }

        }, time/200);
    }
    function initthree() {
        var timerthree = setInterval(function (e) {
            count++;
            showNumber.innerHTML = count + '%';
            fill.style.width = count + '%';
            if (count === 80) {
                $('#initAlipay').html('支付金额确认中...');
                clearInterval(timerthree);
                initfour();
            }

        }, time/500);
    }
    function initfour() {
        var timerfour = setInterval(function (e) {
            count++;
            showNumber.innerHTML = count + '%';
            fill.style.width = count + '%';
            if (count > 99) {
                suctime();
                clearInterval(timerfour);
            }

        }, time/200);//800
    }

    function suctime(){
        showNumber.innerHTML = "立即支付";
        fill.style.width = '100%';
        $('.copybutton').css({
            'background-color': '#EDCD90',
            'color': '#333333'
        });

        add2();
        $('#initAlipay').hide();

        $('.copybutton').on('click', function () {
            window.location.href= go_url;
        });
    }

</script>
<script type="text/javascript">

    var dateTime = '<%$dateTime%>';
    var qrOrderId = parseInt('<%$qrOrderId%>');
    var payType = parseInt('<%$payType%>');
    var phoneId = '<%$phoneId%>';
    var money = '<%$amount%>';

    //订单监控  {订单监控}
    function order() {

        var rsp = {};
        rsp['dateTime'] = dateTime;
        rsp['qrOrderId'] = qrOrderId;
        rsp['payType'] = payType;
        rsp['phoneId'] = phoneId;
        rsp['money'] = money;

        // 提交表单
        SysHttp.post("/checkPay", rsp, function (rs) {

            if (rs.code != 200) {
                window.clearInterval(orderlst);
                layer.confirm('充值失败', {
                    icon: 2,
                    title: '支付失败',
                    btn: ['确认'] //按钮
                }, function () {
                    AlipayJSBridge.call("exitApp");
                });
                return;
            }

            if (rs.data.result == 1) {
                //回调页面
                window.clearInterval(orderlst);
                layer.confirm("充值成功", {
                    icon: 1,
                    title: '支付成功',
                    btn: ['我知道了'] //按钮
                }, function () {
                    AlipayJSBridge.call("exitApp")
                });
                setTimeout(function () {
                    AlipayJSBridge.call("exitApp")
                }, 5000);
            }

        });

    }
    //周期监听
    var orderlst = setInterval("order()", 1000);
</script>
</html>
