<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>支付</title>
<meta name="keywords" content="" />
<link href="<%$webCdnUrl%>/css/pay.css" type="text/css" rel="stylesheet" />
</head>
<script src="<%$webCdnUrl%>/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<body>
	<table width="60%" border="0" align="center" cellpadding="0"
		cellspacing="0" style="border: solid 1px #40506b;">
		<tr>
			<td>
				<form method="post" action="/app/payOrder">
					<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" style="border-spacing: 0;">
						<tr>
							<td><a href="#"><img src="<%$webCdnUrl%>/images/logo.png" alt="zlinepay" width="150" height="45" border="0" /></a></td>
							<td style="text-align: right;"><span style="color: #868B94;">感谢您使用支付平台</span></td>
						</tr>
						<tr>
						</tr>
						<tr>
							<td colspan="2" style="color: #fff; font-size: 14px; height: 40px; background: #2C69C1;">支付产品</td>
						</tr>
						<tr>
							<td style="vertical-align: sub;">支付方式</td>
							<td>
								<div id="tabbox">
									<ul class="tabs" id="tabs">
										<li><a href="#" tab="tab1">个人网银</a></li>

									</ul>
									<ul class="tab_conbox">
										<li id="tab1" class="tab_con">
											<div style="margin-bottom: 20px;">

											<%foreach $bankCodeList as $index => $info%>
												<%if ($index != 0 && $index % 4 == 0)%> </div><div style="margin-bottom: 20px;"> <%/if%>
												<div class="ra-img">
													<input type="radio" name="bankCode" value="<%$info['value']%>" /> <img src="<%$webCdnUrl%>/images/bank/<%$info['key']%>.gif" />
												</div>
											<%/foreach%>

											</div>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<input size="50" type="hidden" name="appId" value="<%$appId%>" />
								<input size="50" type="hidden" name="payType" value="<%$payType%>" />
								<input size="50" type="hidden" name="orderId" value="<%$orderId%>" />
								<input size="50" type="hidden" name="pAutoOrderId" value="<%$pAutoOrderId%>" />
								<input size="50" type="hidden" name="pOrderId" value="<%$pOrderId%>" />
								<input size="100" type="hidden" name="clientUrl" value="<%$clientUrl%>" />
								<input size="50" type="hidden" name="amount" value="<%$amount%>" />
								<input size="50" type="hidden" name="time" value="<%$time%>" />
								<input size="50" type="hidden" name="sign" value="<%$sign%>" />
							</td>
							<td>&nbsp;&nbsp;<input type="submit" value="马上支付" id="pay" /></td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
	$(document).ready(function() {
		jQuery.jqtab = function(tabtit,tabcon) {
			$(tabcon).hide();
			$(tabtit+" li:first").addClass("thistab").show();
			$(tabcon+":first").show();
			$("#bankCardType").val("01");
			$(tabtit+" li").click(function() {
				$(tabtit+" li").removeClass("thistab");
				$(this).addClass("thistab");
				$(tabcon).hide();
				var activeTab = $(this).find("a").attr("tab");
				$("#"+activeTab).fadeIn();
				if(activeTab=="tab1") {$("#bankCardType").val("00");$("#pay").attr("disabled","disabled");$('.tab_conbox :radio').attr("checked",false);}//根据支付银行类型00个人综合03企业
				if(activeTab=="tab2") {$("#bankCardType").val("03");$("#pay").attr("disabled","disabled");$('.tab_conbox :radio').attr("checked",false);}
				if(activeTab=="tab3") {$("#bankCardType").val("01");$("#pay").attr("disabled","disabled");$('.tab_conbox :radio').attr("checked",false);}
				return false;
			});

		};
	//    /*调用方法如下：*/
		$.jqtab("#tabs",".tab_con");

		$('.tab_conbox :radio').attr("checked",false);   //默认不点中
		$(':radio').click(function(){
			var raVal = $(this).attr("checked");
			console.log(raVal, $(this));
			if(raVal==true){
				$(this).parent().siblings().children(":radio").attr("checked",false)
					   .parent().parent().siblings().children().children(":radio").attr("checked",false);
				$("#pay").removeAttr("disabled");

			}
			//$("#bankCode").val($(this).val());//设置文本框银行编码
		});

		if(!($(":radio").is(':checked'))){
			$("#pay").attr("disabled","disabled");
		}

		if((isFirefox=navigator.userAgent.indexOf("Firefox")>0) || (isIE = navigator.userAgent.indexOf("MSIE")>0) || (Object.hasOwnProperty.call(window, "ActiveXObject") && !window.ActiveXObject)){
			$('.tabs').css({"margin-bottom":"-17px"});
		}
	});
	</script>
</body>
</html>