<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>支付</title>
</head>
<body>

</body>
<script type="text/javascript">
	var payUrl = "<%$payUrl%>";
    window.location.href= payUrl;
</script>
</html>