<!DOCTYPE html>
<html lang="zh-CN">
<style>
	.button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
	.center {
		margin: auto;
		width: 60%;
		border: 3px solid #73AD21;
		padding: 10px;
		text-align: center;
	}


</style>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>支付</title>
</head>
<body>

<div class="center">
	<div id="urlToGo" >
		<a href="<%$url%>" class="button" target="_blank" >		
		<%if $type == 3 || $type == 10%>
			打开微信
		<%else%>
			打开支付宝
		<%/if%>
		</a>
	</div>
	<div id="qrCodeToGo">
		<%if $type == 3 || $type == 10%>
			<h3>如果跳转失败，请使用微信扫码此二维码</h3>
		<%else%>
			<h3>如果跳转失败，请使用支付宝扫码此二维码</h3>
		<%/if%>
		<img  src="<%$qrCode%>" style="width: 150px ;width:150px ;">
	</div>
</div>
</body>

</html>