<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>支付订单</title>
    <link rel="stylesheet" type="text/css" href="<%$webCdnUrl%>/css/QRCode.css">
	<style>
		* {
			margin: 0;
			padding: 0;
			list-style: none;
			font-style: normal;
		}

		a {
			text-decoration: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			outline: none;
			color: inherit
		}

		a:hover {
			opacity: 1
		}

		fieldset, img {
			border: 0;
		}

		textarea {
			resize: none;
			padding: 3%;
			line-height: 2.2;
			width: 100%;
			box-sizing: border-box;
		}

		button:active, a:active {
			opacity: 0.8
		}

		input, textarea, select, button {
			font-size: 100%;
			outline: none;
			border: none;
			color: inherit;
			line-height: inherit;
			font-family: inherit;
			background: rgba(255, 255, 255, 0)
		}

		input {
			width: 80px
		}

		button {
			color: #FFFFFF;
			letter-spacing: 3px;
			border-radius: 5px;
			font-size: 110%;
			line-height: 2.5;
		}

		/*body html*/
		html, body {
			-ms-touch-action: none;
			height: 100%;
			position: relative
		}

		body {
			min-height: 100%;
			background: #EFEFEF;
			text-align: center;
			line-height: 1.6;
			color: #000;
			font-size: 12px
		}

		.m-head {
			height: 45px
		}

		.m-head h1 {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 45px;
			line-height: 45px;
			background: #0be;
			font-size: 120%;
			color: #FFFFFF;
			z-index: 10
		}

		.m-zfb .logo {
			height: 50px;
			text-align: center;
			background: #FFFFFF;
			padding: 10px 0;
			box-sizing: border-box
		}

		.m-zfb .logo img {
			display: block;
			height: 100%;
			margin: 0 auto
		}

		.m-zfb dl h1 {
			color: #000000;
			font-size: 250%;
			line-height: 2
		}

		.m-zfb dl img {
			margin: auto auto auto auto;
			display: block
		}

		/* .m-zfb dl dd {
            margin: 5% 0
        }

        /* .m-zfb dl dd p {
            padding: 1% 0
        } */
		.m-zfb dl dd p span {
			color: #019fe8;
		}

		.m-zfb dl dd p i {
			color: #ff0000;
			font-size: 120%;
			font-weight: bolder
		}

		.m-zfb  dt p {
			background: #1E9FFF;
			color: #FFFFFF;
			line-height: 2.6;
			margin: 5% 0;
			border-radius: 5px;
			font-size: 120%
		}

		.m-zfb  dt {
			padding: 0 10%;
		}

		.m-zfb  dt p b {
			font-size: 110%
		}

		.m-zfb dl dt p:last-child {
			background: #ff9713
		}
		/*.m-zfb dl dt p:first-child{color:#FFD600}*/
		.tip {
			text-align: center;
			font-size: 140%;
			margin: 5% 0 0 0;
		}

		.tip p {
			color: rgba(65, 105, 225, 1);
			font-weight: bold;
			font-size: 120%;
		}

		.tip i {
			font-size: 110%;
			margin: 3% 0 0 0;
			color: rgba(251, 42, 46, 1);
			display: block;
			font-weight: bold;
		}

		.tipTiop {
			text-align: center;
			color: #FF5722;
			padding: 3% 0;
			font-size: 120%;
			font-weight: bold
		}

		.tipTiop i {
			color: #FFB800;
			font-size: 120%
		}

		.tipH2 {
			font-size: 115%
		}

		.imgQr {
			width: 200px;
			display: block
		}

		.qrcode {
			display: block;
			width: 60%;
			margin: auto auto auto 17%
		}

		.m-zfb dl dt p {
			background: rgba(251, 42, 46, 1.00);
			color: #FFFFFF;
			line-height: 2.6;
			margin: 5% 0;
			border-radius: 5px;
			font-size: 150%
		}
	</style>
	<!--[if !IE]> -->
	<script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
	<script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>

	<script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
	<script src="<%$webCdnUrl%>/js/qrcode.js"></script>
	<script src="<%$webCdnUrl%>/js/common.js"></script>
</head>

<body>
<div style="width: 100%; text-align: center;font-family:微软雅黑;">
	<div id="panelWrap" class="panel-wrap">
		<!-- CUSTOM LOGO -->
		<!--
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-12 text-center">
                    支付宝支付
				</div>

			</div>
		</div>
		-->
		<!-- PANEL TlogoEMPLATE START -->
		<div class="panel panel-easypay">
			<!-- PANEL HEADER -->
			<div class="panel-heading">
				<h3>
					<small>订单号：<%$orderId%><!--<br>重复扫码不到帐，请只支付一次--><br><span id="btnDL" style="color: red;font-size: 12px !important"></span></small>
				</h3>
				<div class="money">
					<span class="price"><%$amount%></span>
					<span class="currency">元</span>
				</div>
			</div>
			<div class="qrcode-warp">
				<div id="qrcode"></div>
			</div>
            <section class="m-zfb">
                <dl>
                    <dt>
                        <p id="ljzf2" onclick="goAli()">
                            <a id="ljzftext2" class="m-zfb">启动支付宝</a>
                        </p>
                        <p id="ljzf" onclick="goTB()">
                            <a id="ljzftext" class="m-zfb">启动淘宝支付</a>
                        </p>
                    </dt>
                    <div class="tip">
                        <p style="text-align: center">未安装淘宝的用户点击启动支付宝</p>
                        <!-- <p style="text-align: center">不要使用截屏扫码</p> -->
                    </div>
                </dl>
            </section>

		</div>
	</div>
</div>

<script type="text/javascript">
    var intDiff = parseInt('<%$diffTimer%>');//倒计时总秒数量
    var callbackUrl = "<%$callbackUrl%>";
    var dateTime = '<%$dateTime%>';
    var qrOrderId = parseInt('<%$qrOrderId%>');
    var payType = parseInt('<%$payType%>');
    var phoneId = '<%$phoneId%>';
    var money = '<%$amount%>';

    jQuery(function($) {

        $('#btnDL').attr('disabled', false);

        var qrcode = new QRCode('qrcode', {
            text: "<%$qrCodeUrl%>",
            width: 168,
            height: 168,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        });

        timer();
    });

    function timer() {

		var day = 0,
			hour = 0,
			minute = 0,
			second = 0;//时间默认值
		if (intDiff > 0) {
			day = Math.floor(intDiff / (60 * 60 * 24));
			hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
			minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}

		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#btnDL').html("该订单过期还剩(" + hour + '时' + minute + '分' + second + '秒' + ')');
		intDiff--;

        if (intDiff >= 0) {

            if (intDiff % 5 == 0) {

                var rsp = {};
                rsp['dateTime'] = dateTime;
                rsp['qrOrderId'] = qrOrderId;
                rsp['payType'] = payType;
                rsp['phoneId'] = phoneId;
                rsp['money'] = money;

                // 提交表单
                SysHttp.post("/checkPay", rsp, function (rs) {

                    if (rs.code != 200) {
                        setTimeout(timer, 1000);
                        return;
                    }

                    if (rs.data.result == 1) {
                        $('#qrcode').html('<span style="color: red; font-size: 24px;">充值成功</span>');
                        $('.m-zfb').hide();
                    } else {
                        setTimeout(timer, 1000);
                    }

                });

            } else {
                setTimeout(timer, 1000);
            }

        } else {
            $('#qrcode').html('<span style="color: red;">订单已过期，请重新下单</span>');
            $('.m-zfb').hide();
        }
    }

    var u = navigator.userAgent;
    var str = '';
    var baseurl = callbackUrl;
    var tbUrl = 'taobao://www.alipay.com/?appId=10000007&amp;qrcode=alipays%3A%2F%2Fplatformapi%2Fstartapp%3FappId%3D20000691%26url%3D' + encodeURIComponent(callbackUrl) + '%26type%3Dtaobao';
    var goAliUrl = 'alipays://platformapi/startapp?appId=20000691&amp;url=alipays%3A%2F%2Fplatformapi%2Fstartapp%3FappId%3D20000691%26url%3D'+  encodeURIComponent(callbackUrl);
    var reg = new RegExp("amp;", "g");
    str = str.replace(reg, "");
    baseurl = baseurl.replace(reg, "");
    tbUrl = tbUrl.replace(reg, "");
    goAliUrl = goAliUrl.replace(reg, "");

    var isAliApp = u.indexOf('AliApp') > -1
        || u.indexOf('AlipayClient') > -1;
    var isWindows = u.indexOf('Windows') > -1;
    if (isAliApp) {
        //$("#realNameDiv").show();
    } else {

    }
    if (isWindows) {

    } else {

    }
    function goTB() {
        window.location.href = tbUrl;
    }
    function goAli() {
        window.location.href = goAliUrl;
    }

    window.location.href = goAliUrl;

</script>

</body>
</html>