<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>在线支付 - 支付宝 - 网上支付 安全快速！</title>
	<link rel="stylesheet" type="text/css" href="<%$webCdnUrl%>/css/QRCode.css">
	<!--[if !IE]> -->
	<script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
	<script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>

	<script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
	<script src="<%$webCdnUrl%>/js/qrcode.js"></script>
	<script src="<%$webCdnUrl%>/js/common.js"></script>
</head>
<body>
<div style="width: 100%; text-align: center;font-family:微软雅黑;">
	<div id="panelWrap" class="panel-wrap">
		<!-- CUSTOM LOGO -->
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="<%$webCdnUrl%>/images/T1HHFgXXVeXXXXXXXX.png" alt="Logo-QQPay" class="img-responsive center-block">
				</div>

			</div>
		</div>
		<!-- PANEL TlogoEMPLATE START -->
		<div class="panel panel-easypay">
			<!-- PANEL HEADER -->
			<div class="panel-heading">
				<h3>
					<small>订单号：<%$orderId%><br>重复扫码不到帐，请只支付一次<br><span id="btnDL" style="color: red;font-size: 12px !important"></span></small>
				</h3>
				<div class="money">
					<span class="price"><%$amount%></span>
					<span class="currency">元</span>
				</div>
			</div>
			<div class="qrcode-warp">
				<div id="qrcode"></div>
			</div>
			<div class="panel-footer" style="display: none;">
				<span id="Span1" class="warning" style="color:red;font-size:50px"><b><small>请按下面步骤操作： <br> 1.请先截屏保存二维码到手机 <br> 2.打开微信，扫一扫本地图片</small></b></span>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
    var intDiff = parseInt('<%$diffTimer%>');//倒计时总秒数量
    var callbackUrl = "<%$callbackUrl%>";
    var dateTime = '<%$dateTime%>';
    var qrOrderId = parseInt('<%$qrOrderId%>');
    var payType = parseInt('<%$payType%>');
    var phoneId = '<%$phoneId%>';
    var money = '<%$amount%>';

    jQuery(function($) {

        $('#btnDL').attr('disabled', false);

        var qrcode = new QRCode('qrcode', {
            text: "<%$qrCodeUrl%>",
            width: 168,
            height: 168,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        });

        timer();
    });

    function timer() {

		var day = 0,
			hour = 0,
			minute = 0,
			second = 0;//时间默认值
		if (intDiff > 0) {
			day = Math.floor(intDiff / (60 * 60 * 24));
			hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
			minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}

		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#btnDL').html("该订单过期还剩(" + hour + '时' + minute + '分' + second + '秒' + ')');
		intDiff--;

        if (intDiff >= 0) {

            if (intDiff % 5 == 0) {

                var rsp = {};
                rsp['dateTime'] = dateTime;
                rsp['qrOrderId'] = qrOrderId;
                rsp['payType'] = payType;
                rsp['phoneId'] = phoneId;
                rsp['money'] = money;

                // 提交表单
                SysHttp.post("/checkPay", rsp, function (rs) {

                    if (rs.code != 200) {
                        setTimeout(timer, 1000);
                        return;
                    }

                    if (rs.data.result == 1) {
                        $('#qrcode').html('<span style="color: red; font-size: 24px;">充值成功</span>');
                    } else {
                        setTimeout(timer, 1000);
                    }

                });

            } else {
                setTimeout(timer, 1000);
            }

        } else {
            $('#qrcode').html('<span style="color: red;">收款码已过期，请重新下单</span>');
        }
    }

    function pay() {
		window.location.href = 'https://ds.alipay.com/?from=mobilecodec&scheme=alipays%3A%2F%2Fplatformapi%2Fstartapp%3FsaId%3D10000007%26clientVersion%3D3.7.0.0718%26qrcode%3D'+  encodeURIComponent(callbackUrl);
    }

</script>

</body>
</html>