<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>在线支付 - 支付宝 - 网上支付 安全快速！</title>
	<link charset="utf-8" rel="stylesheet" href="<%$webCdnUrl%>/css/alipay.css" media="all">
	<!--[if !IE]> -->
	<script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
	<script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
	<![endif]-->
	<script type="text/javascript">
        if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>

	<script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
	<script src="<%$webCdnUrl%>/js/qrcode.js"></script>
	<script src="<%$webCdnUrl%>/js/common.js"></script>
	<style>
		.switch-tip-icon-img {
			position: absolute;
			left: 70px;
			top: 70px;
			z-index: 11;
		}
		#codeico{
			position:fixed;
			z-index:9999999;
			width:43px;
			height:43px;
			background:url('<%$webCdnUrl%>/images/T1Z5XfXdxmXXXXXXXX.png') no-repeat;
		}
		body{
			font-family:微软雅黑;
		}
	</style>

</head>

<body>
<div class="topbar">
	<div class="topbar-wrap fn-clear">
		<a href="https://help.alipay.com/lab/help_detail.htm?help_id=258086" class="topbar-link-last" target="_blank" seed="goToHelp">常见问题</a>
		<span class="topbar-link-first">你好，欢迎使用支付宝付款！</span>
	</div>
</div>
<div id="header">
	<div class="header-container fn-clear">
		<div class="header-title">
			<div class="alipay-logo">
			</div>
			<span class="logo-title">
            我的收银台
          </span>
		</div>
	</div>
</div>


<div id="container">
	<div id="content" class="fn-clear">
		<div id="J_order" class="order-area">
			<div id="order" class="order order-bow">
				<div class="orderDetail-base">
					<div class="commodity-message-row">
                		<span class="first long-content">收款方：支付宝</span> 交易单号：<%$orderId%>　 (该订单有效期为2分钟，过期后请不要支付。<span style="color: red;">注：重复扫码不到帐，请只支付一次</span>)
						<span class="second short-content">&nbsp;</span>
					</div>
					<span class="payAmount-area" id="J_basePriceArea"><strong class=" amount-font-22 "><%$amount%></strong> 元</span>
				</div>
			</div>
		</div>
		<!-- 操作区 -->
		<div class="cashier-center-container">
			<div data-module="excashier/login/2015.08.02/loginPwdMemberT" id="J_loginPwdMemberTModule" class="cashiser-switch-wrapper fn-clear">
				<!-- 扫码支付页面 -->
				<div class="cashier-center-view view-qrcode fn-left" id="J_view_qr" style="postion:relative;left:40px;">

					<!-- 扫码区域 -->
					<div data-role="qrPayArea" class="qrcode-integration qrcode-area" id="J_qrPayArea">
						<div class="qrcode-header">
							<div class="ft-center">
								扫一扫付款（元）
							</div>
							<div class="ft-center qrcode-header-money"><%$amount%></div>
						</div>
						<div class="qrcode-img-wrapper" id="payok">

							<div align="center">

								<font id="qrcode">
									<span id="qrcode_img"></span>
								</font>
								<font id="queren"></font>
							</div>
							<div class="qrcode-img-explain fn-clear">
								<img class="fn-left" src="<%$webCdnUrl%>/images/T1bdtfXfdiXXXXXXXX.png" alt="扫一扫标识">
								<div class="fn-left">
									该订单过期还剩<br><strong id="hour_show"></strong><strong id="minute_show"></strong><strong id="second_show"></strong></div>
							</div>
						</div>
						<br>
						　　　　 　　<a href="https://mobile.alipay.com/index.htm" class="qrcode-downloadApp">首次使用请下载手机支付宝</a><br><br>
					</div>

					<!-- 指引区域 -->
					<div class="qrguide-area">
						<img src="<%$webCdnUrl%>/images/T13CpgXf8mXXXXXXXX.png" class="qrguide-area-img active">              </div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="partner"><br><p>本站为第三方辅助软件服务商，与支付宝官方和淘宝网无任何关系<br>支付系统 不提供资金托管和结算，转账后将立即到达指定的账户。</p>
	<br><img alt="合作机构" src="<%$webCdnUrl%>/images/2R3cKfrKqS.png"></div>
<script type="text/javascript">

    var intDiff = parseInt('<%$diffTimer%>');//倒计时总秒数量
	var dateTime = '<%$dateTime%>';
    var qrOrderId = parseInt('<%$qrOrderId%>');
    var payType = parseInt('<%$payType%>');
    var phoneId = '<%$phoneId%>';
    var money = '<%$amount%>';

    jQuery(function($) {
        var qrcode = new QRCode('qrcode_img', {
            text: "<%$qrCodeUrl%>",
            width: 168,
            height: 168,
            colorDark : '#000000',
            colorLight : '#ffffff',
            correctLevel : QRCode.CorrectLevel.H
        });
        timer();
    });

    function timer(){

		var day=0,
			hour=0,
			minute=0,
			second=0;//时间默认值
		if(intDiff > 0){
			day = Math.floor(intDiff / (60 * 60 * 24));
			hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
			minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
			second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}

		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#day_show').html(day+"天");
		$('#hour_show').html('<s id="h"></s>'+hour+'时');
		$('#minute_show').html('<s></s>'+minute+'分');
		$('#second_show').html('<s></s>'+second+'秒');

		intDiff--;

		if (intDiff >= 0) {
		    if (intDiff % 5 == 0) {

		        var rsp = {};
                rsp['dateTime'] = dateTime;
                rsp['qrOrderId'] = qrOrderId;
                rsp['payType'] = payType;
                rsp['phoneId'] = phoneId;
                rsp['money'] = money;

                // 提交表单
                SysHttp.post("/checkPay", rsp, function (rs) {

                    if (rs.code != 200) {
                        setTimeout(timer, 1000);
                        return;
                    }

                    if (rs.data.result == 1) {
                        $('#J_qrPayArea').html('<span style="color: red; font-size: 24px;">充值成功</span>');
					} else {
                        setTimeout(timer, 1000);
					}

                });

			} else {
                setTimeout(timer, 1000);
            }
		} else {
            $('#qrcode_img').html('<span style="color: red;">收款码已过期，请重新下单</span>');
		}
    }

</script>
</body></html>