<%include file="header.html"%>
<style>
	.chosen-single {
		width: 180px
	}

	.form-row {
		margin: 10px auto 0;
	}

	.pagination {
		margin: 0 1px;
	}

	.fixed-table-loading {
		display: none !important;
	}

	.profile-user-info {
		width: 100%;
	}
</style>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="col-xs-12">

				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>
				<form class="form-horizontal" name="searchForm" id="searchForm">
					<div class="row form-row">
						<div class="inline">
							<div class="input-group inline">
								<select name="appId" id="appId" class="chosen-single">
									<option value="0">--商户--</option>
										<%foreach $appList as $appId => $appName%>
										<option value="<%$appId%>"><%$appName%></option>
										<%/foreach%>
								</select>
							</div>
						</div>
						<div class="inline">
							<div class="input-group inline">
								<select name="type" id="type" class="chosen-single">
									<option value="all">--资金锁定状态--</option>
									<option value="all">所有</option>
									<option value="0">未锁定</option>
									<option value="1">锁定</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row form-row">
						<div class="input-group inline">
							<button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
						</div>
						<input type="hidden" name="flag" value="search">
					</div>
				</form>
				<hr>

				<div class="dt-buttons btn-overlap btn-group">
					<a href="javascript:void(0);" onclick="exportExcel();">
							<span>
								<i class='fa fa-file-excel-o bigger-110 green'></i>
								<span>导出为 Excel</span>
							</span>
					</a>
				</div>

				<div class="table-header">
					商户资金列表
				</div>

				<!-- div.table-responsive -->

				<!-- div.dataTables_borderWrap -->
				<div class="table-responsive">
					<table id="simple-table" class="table  table-bordered table-hover">
						<thead>
						<tr>
							<th class="center">序号</th>
							<th class="center">商户账号</th>
							<th class="center">可用余额</th>
							<th class="center">现金余额(等于可用余额+冻结金额)</th>
                            <th class="center">提现冻结金额</th>
							<th class="center">投诉冻结金额</th>
							<th class="center">上次修改时间</th>
							<th class="center">是否锁定</th>
							<th class="center">操作</th>
						</tr>
						</thead>

						<tbody id="tableData">
						<%if $pageList['data']%>
						<%foreach $pageList['data'] as $info%>
						<tr>
							<td class="center"><%$info.id%></td>
							<td class="center"><%$info.app_name%></td>
							<td class="center" id="available_balance_<%$info.id%>"><%$info.available_balance%></td>
							<td class="center" id="cash_balance_<%$info.id%>"><%$info.cash_balance%></td>
                            <td class="center"><%$info.frozen_amount%></td>
							<td class="center" id="frozen_balance_<%$info.id%>"><%$info.frozen_balance%></td>
							<td class="center"><%$info.last_modify_time%></td>
							<td class="center">
								<label>
									<input id="isLock-<%$info.id%>" name="isLock-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.lock_status%>checked<%/if%>  onclick="onOffLock({id:<%$info.id%>});">
									<span class="lbl"></span>
								</label>
							</td>
							<td class="center">
                                <input type="button" value="修改资金" class="btn btn-mini btn-round btn-success" onclick='showInfoModal(<%$info|@json_encode%>);'>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="button" value="冻结/解冻资金" class="btn btn-mini btn-round btn-success" onclick='showFrozenInfoModal(<%$info|@json_encode%>);'>
							</td>
						</tr>
						<%/foreach%>
						<%else%>
						<tr><td class="center" colspan="9">无相关数据</td></tr>
						<%/if%>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="pull-right text-right" id="pageNav"></div>
			</div>
			<div id="modal-form" class="modal" role="dialog" tabindex="-2">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
							<h4 class="blue bigger">修改商户资金</h4>
						</div>

						<form name="updateForm" id="updateForm">
							<div class="modal-body">
								<fieldset>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">商户：</div>
										<div class="col-sm-9 text-left">
											<input readonly="" id="app_name" size="35" value="" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">现有余额：</div>
										<div class="col-sm-9 text-left">
											<input readonly="" id="balance" size="35" value="" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">变动金额：</div>
										<div class="col-sm-9 text-left">
											<input type="text" name="amount" value="" /><br/><span style="color: red;"> (大于0为加，小于0为扣减)</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">修改缘由：</div>
										<div class="col-sm-9 text-left">
											<textarea class="autosize-transition form-control" name="remark" id="remark"></textarea><span style="color: red;"> (必须填写修改缘由)</span>
										</div>
									</div>
								</fieldset>
							</div>

							<div class="modal-footer center">
								<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
									<i class="ace-icon fa fa-times"></i>
									取消
								</button>

								<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
									<i class="ace-icon fa fa-check"></i>
									确定
								</button>
							</div>
							<input type="hidden" name="id" id="id" value="">
							<input type="hidden" name="flag" value="updateBalance">
						</form>
					</div>
				</div>
			</div>
			<div id="frozen-modal-form" class="modal" role="dialog" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" onclick="cancelFrozen();">&times;</button>
							<h4 class="blue bigger">冻结/解冻商户资金</h4>
						</div>

						<form name="frozenForm" id="frozenForm">
							<div class="modal-body">
								<fieldset>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">商户：</div>
										<div class="col-sm-9 text-left">
											<input readonly="" id="frozen_app_name" size="35" value="" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">现有余额：</div>
										<div class="col-sm-9 text-left">
											<input readonly="" id="frozen_balance" size="35" value="" />
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">金额：</div>
										<div class="col-sm-9 text-left">
											<input type="text" name="amount" value="" /><br/><span style="color: red;">(大于0为冻结，小于0为解冻，0为清除被冻结的金额)</span>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="block clearfix center">
										<div class="col-sm-3 text-right">缘由：</div>
										<div class="col-sm-9 text-left">
											<textarea class="autosize-transition form-control" name="remark" id="frozen_remark"></textarea><span style="color: red;"> (必须填写缘由)</span>
										</div>
									</div>
								</fieldset>
							</div>

							<div class="modal-footer center">
								<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelFrozen();">
									<i class="ace-icon fa fa-times"></i>
									取消
								</button>

								<button type="button" class="btn btn-sm btn-primary" onclick="comfirmFrozen();">
									<i class="ace-icon fa fa-check"></i>
									确定
								</button>
							</div>
							<input type="hidden" name="id" id="frozenBalanceId" value="">
							<input type="hidden" name="flag" value="frozenBalance">
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>


<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
	//可能会处理成公共JS------
	$(document).ready(function () {

		$('.chosen-single').chosen({
			search_contains: true
		});

		$('.date-timepicker1').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss',
			icons: {
				time: 'fa fa-clock-o',
				date: 'fa fa-calendar',
				up: 'fa fa-chevron-up',
				down: 'fa fa-chevron-down',
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-arrows ',
				clear: 'fa fa-trash',
				close: 'fa fa-times'
			}
		}).next().on(ace.click_event, function () {
			$(this).prev().focus();
		});
		
		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});
	});

    function exportExcel() {
        // 获取表单内容
        var app_id = $('#appId').val();
        var type = $('#type').val();
		window.location.href = "/admin/app/exportBalance?app_id="+app_id+'&type='+type;
    }

	function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
		Handler.bootstrapTable({
			sidePagination: "server", //服务端请求
			method: 'get',
			dataType: "json",
			url: tableParamsBody,
			queryParams: queryParams,
			responseHandler: function (result) {
				return {"rows": result.data.data, "total": result.data.total}
			},
			pagination: true,
			queryParamsType: Params,
			pageSize: tableSize ? tableSize : 10,
			pageNumber: 1,
			pageList: [],
			height: $(document).outerHeight - 120,
			singleSelect: false,
			search: false,
			maintainSelected: false,
			strictSearch: false,
			clickToSelect: false,
			showToggle: false,
			showColumns: false,
			showRefresh: false,
			showExport: false,
			striped: true,
			toolbar: "#dataTableLabelToolbar",
			iconSize: "outline",
			icons: {
				refresh: "glyphicon-repeat",
				toggle: "glyphicon-list-alt",
				columns: "glyphicon-list",
				export: "glyphicon-export"
			},
			columns: queryColumns()
		});
	}

	function queryParams(params) {
		var optionalParam = {
			pageSize: params.pageSize,
			pageNumber: params.pageNumber
		};
		var data = tableParams.split(',');
		for (var i in data) {
			if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
				optionalParam[data[i]] = $('#' + data[i]).val();
			}
		}
		return optionalParam
	}

	function queryColumns() {
		var $columns = [];
		$.ajax({
			url: tableParamsHeader,
			type: 'get',
			dataType: "json",
			data: {'flag': 'theader'},
			async: false,
			success: function (returnValue) {
				$columns = returnValue.data;
			}
		});
		return $columns;
	}
	//-------end-----------
	
	
    jQuery(function($) {
        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);

    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/app/balanceList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['app_name'] + '</td>';
                    html += '<td class="center" id="available_balance_' + rs.data['data'][index]['id'] + '">' + rs.data['data'][index]['available_balance'] + '</td>';
                    html += '<td class="center" id="cash_balance_' + rs.data['data'][index]['id'] + '">' + rs.data['data'][index]['cash_balance'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['frozen_amount'] + '</td>';
                    html += '<td class="center" id="frozen_balance_' + rs.data['data'][index]['id'] + '">' + rs.data['data'][index]['frozen_balance'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['last_modify_time'] + '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isLock-' + rs.data['data'][index]['id'] + '" name="isLock-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['lock_status'])) {
                        html += 'checked';
                    }
                    html += ' onclick="onOffLock({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">';
                    html += '<input type="button" value="修改资金" class="btn btn-mini btn-round btn-success" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'>&nbsp;&nbsp;&nbsp;&nbsp;';
                    html += '<input type="button" value="冻结/解冻资金" class="btn btn-mini btn-round btn-success" onclick=\'showFrozenInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'>';
                    html += '</td>';

                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="9">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function onOffLock(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isLock-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["onOffLock"] = 1;
        rsp["isLock"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/app/balanceList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 更新锁定状态不需要刷新页面
            $('#isLock-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            $('#id').val(json['id']);
            $('#app_name').val(json['app_name']);
            $('#balance').val(json['available_balance']);

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        if (SysData.isNull(rsp.remark)) {
            SysDialog.error("操作失败，必须填写缘由");
            return;
        }

        SysHttp.post("/admin/app/balanceList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#available_balance_' + rsp.id).html("" + rs.data.available_balance);
            $('#cash_balance_' + rsp.id).html("" + rs.data.cash_balance);
        });

        cancel();
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function showFrozenInfoModal(json) {

        // 设置数据
        if (json) {
            $('#frozenBalanceId').val(json['id']);
            $('#frozen_app_name').val(json['app_name']);
            $('#frozen_balance').val(json['available_balance']);

            // 显示弹窗
            $('#frozen-modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function comfirmFrozen() {

        var queryString = $('#frozenForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        if (SysData.isNull(rsp.remark)) {
            SysDialog.error("操作失败，必须填写缘由");
            return;
        }

        SysHttp.post("/admin/app/balanceList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#available_balance_' + rsp.id).html("" + rs.data.available_balance);
            $('#cash_balance_' + rsp.id).html("" + rs.data.cash_balance);
            $('#frozen_balance_' + rsp.id).html("" + rs.data.frozen_balance);
        });

        cancelFrozen();
    }

    function cancelFrozen() {
        $('#frozenForm').clearForm();
        $('#frozen-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>