<%include file="header.html"%>
<style>
    .chosen-single {
        width: 180px
    }

    .form-row {
        margin: 10px auto 0;
    }

    #appList .radio {
        margin: 5px 0;
        padding: 0;
    }

    .modal-footer button:first-child {
        margin-right: 100px;
    }

    .onekeyaddsetting-row {
        padding: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #c4c4c4;
    }

    .onekeyaddsetting-span {
        margin: 0 10px;
    }

    .showChannelInfo .col-sm-3 {
        line-height: 30px;
    }

    .showChannelInfo .block {
        margin-bottom: 10px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" name="logsForm" id="logsForm">
            <div class="row form-row">
                <div class="input-group inline">
                    <select name="appId" id="appId" class="chosen-single">
                        <option value="0">请选择商户名称</option>
                        <%foreach $appList as $appId => $appName%>
                        <%if $app_id == $appId%>
                        <option value="<%$appId%>" selected="selected"><%$appName%></option>
                        <%else%>
                        <option value="<%$appId%>"><%$appName%></option>
                        <%/if%>
                        <%/foreach%>
                    </select>
                </div>
                <div class="input-group inline">
                    <select name="payTypeId" id="payTypeId" class="chosen-single">
                        <option value="0">请选择支付类型</option>
                        <%foreach $payTypeList as $ptId => $ptName%>
                        <option value="<%$ptId%>"><%$ptName%></option>
                        <%/foreach%>
                    </select>
                </div>
                <div class="input-group inline">
                    <select name="platId" id="platId" class="chosen-single">
                        <option value="0">请选择渠道名称</option>
                        <%foreach $platList as $platId => $platName%>
                        <option value="<%$platId%>"><%$platName.name%></option>
                        <%/foreach%>
                    </select>
                </div>
                <div class="input-group inline">
                    <select name="status" id="status" class="chosen-single">
                        <option value="">请选择渠道状态</option>
                        <option value="N">尚未启用</option>
                        <option value="Y">已经启用</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="input-group pull-left">
                    <span class="input-group-addon" style="width:0;">
						时间区间
					</span>
                    <input class="date-timepicker1" type="text"
                           style="border-right: 0;" id="startTime"
                           name="startTime" value="<%$startTime%>"/>
                </div>
                <div class="input-group pull-left" style="margin-right: 10px">
                     <span class="input-group-addon" style="width:0;background: #FFF">
						-
					</span>
                    <input class="date-timepicker1" type="text" name="endTime"
                           id="endTime"
                           value="<%$endTime%>"/>
                </div>
            </div>
            <div class="row form-row">
                <div class="input-group inline">
                    <button type="button" class="btn btn-primary" id="searchButton">
                        <i class="fa fa-search"></i> 数据查询
                    </button>
                </div>

                <input type="hidden" name="flag" value="search">
            </div>
        </form>
        <hr>
        <div class="table-responsive">
            <table id="simple-table" class="table  table-bordered table-hover table-striped">
            </table>
        </div>
    </div>
</div>
<div id="modal-form" class="modal" role="dialog" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">修改渠道费率信息</h4>
            </div>
            <form name="updateChannelForm" id="updateChannelForm">
                <div class="modal-body showChannelInfo">
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">商户名称：</div>
                        <div class="col-sm-9 text-left">
                            <input readonly="readonly" id="app_id" name="app_id" value="" size="40" type="text"/>
                        </div>
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">支付类型：</div>
                        <div class="col-sm-9 text-left">
                            <input readonly="readonly" id="pt_id" name="pt_id" value="" size="40" type="text"/>
                        </div>
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">支付渠道：</div>
                        <div class="col-sm-9 text-left">
                            <input readonly="readonly" id="p_id" name="p_id" value="" size="40" type="text"/>
                        </div>
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">渠道费用：</div>
                        <div class="col-sm-9 text-left">
                            <input readonly="readonly" id="p_point" name="p_point" value="" size="40" type="text"/>
                            <span style="color: red;"> *</span>
                        </div>
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">商户费用：</div>
                        <div class="col-sm-9 text-left">
                            <input id="fee" name="fee" value="" size="40" type="text"/>
                            <span style="color: red;"> *</span>
                            <div class="alert alert-warning" style="padding: 6px;margin: 5px 0">
                                商户费率不能小于或等于渠道费率
                            </div>
                        </div>
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-3 text-right">启用状态：</div>
                        <div class="col-sm-9 text-left">
                            <label>
                                <input type="radio" id="status_Y" name="status" value="Y"/>
                                <span style="color: green">启用</span>
                            </label>
                            <label style="margin-left: 20px">
                                <input type="radio" id="status_N" name="status" value="N"/>
                                <span style="color: red">关闭</span>
                            </label>
                        </div>
                        <input type="hidden" name="id" id="id" value="">
                    </div>
                    <div class="block clearfix center">
                        <div class="col-sm-12 alert alert-warning" style="padding: 6px">
                            注意: 每个支付类型只能开启一个支付渠道,开启后该类型下其他渠道自动关闭
                        </div>
                    </div>
                    <div class="modal-footer center">
                        <button type="button" class="btn btn-sm" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            取消
                        </button>
                        <button type="button" class="btn btn-sm btn-primary" onclick="saveInfoModal();">
                            <i class="ace-icon fa fa-check"></i>
                            确定
                        </button>
                    </div>
                    <input type="hidden" name="flag" value="update">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>

<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>

<script type="text/javascript">
    // Table
    var tableParams = "pageSize,pageNumber,platId,payTypeId,appId,startTime,endTime,status",
        tableParamsHeader = "/admin/app/channel?flag=theader",
        tableParamsBody = "/admin/app/channel?flag=tbody",
        tableParamsDetail = "/admin/app/channel?flag=detail",
        tableParamsUpdate = "/admin/app/channel?flag=update",
        tableParamsSave = "/admin/app/channel?flag=save",
        platList = JSON.parse('<%$platList|@json_encode%>'),
        tableHandler = $('#simple-table');
    $(document).ready(function () {

        $('.chosen-single').chosen({
            search_contains: true
        });

        $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        // 第三方渠道设置
        $('.add_channel').on('click', function (e) {
            e.preventDefault();
            $('#modal-add-form').modal({backdrop: 'static', show: true});
        });
        $('#add_channel_box').on('click', '.del-add-rule', function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().parent().remove();
        });
        $('#add_channel_btn').on('click', function (e) {
            e.preventDefault();
            var len = $('#add_channel_box').find('tr').length + 1;
            var html = '<tr><td>';
            html += '<div class="block clearfix center">' +
                '<div class="col-sm-12 text-left onekeyaddsetting-row"><span class="onekeyaddsetting-span"> NO: ' + len +
                '</span><b style="margin:10px">渠道名称：</b><select name="platId[]" class="add_channel_select" style="font-size: 16px;"><option value="0">请选择渠道</option>';
            for (var key in platList) {
                html += '<option value="' + key + '" data-point="'+ platList[key]['point']+'">' + platList[key]['name'] + '</option>';
            }
            html += '</select>' +
                '<span class="text-left" class="appChannelPoint"><b style="margin:10px">渠道点数：</b><input type="text" disabled readonly size="10" name="appChannelPoint[]" value=""></span>' +
                '<span class="text-left"><b style="margin:10px">商户点数：</b><input type="text" size="10" name="appPoint[]" value=""></span>' +
                '<span class="action-buttons pull-right" style="font-size: 16px;margin-top: 5px"><a class="red del-add-rule" href="javascript:void(0);"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></span>' +
                '</div></div>';
            html += '</td></tr>';

            $('#add_channel_box').append(html);

            $('.onekeyaddsetting-row').on('change', '.add_channel_select', function () {
                console.log($(this).parent().find('.appChannelPoint').html());
                $(this).parent().find('.appChannelPoint').find('input').val($('option:selected', this).attr('data-point'));
            });
        });


        $('#searchButton').on('click', function () {
            tableHandler.bootstrapTable('refresh');
        });

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
        btTable(tableHandler, tableParams, tableParamsHeader, tableParamsBody);

    });

    function showInfoModal(id) {

        $.ajax({
            url: tableParamsDetail,
            type: 'get',
            dataType: "json",
            data: {'flag': 'detail', 'id': id},
            async: false,
            success: function (data) {
                if (data) {
                    for (var idKey in data) {
                        if (SysData.isNull(data[idKey])) {
                            continue;
                        }
                        if (idKey == 'status') {
                            $('.showChannelInfo').find('#status_' + data[idKey]).click();

                        } else {
                            $('.showChannelInfo').find('#' + idKey).val(data[idKey]);
                        }
                    }
                    $('#modal-form').modal({backdrop: 'static', show: true});
                } else {
                    SysDialog.error('获取渠道信息失败,请重新尝试!');
                }
            }
        });
    }

    function saveAddModal() {

        var channel_fee = parseFloat($('#p_point').val()),
            merchant_fee = parseFloat($('#fee').val());
        channel_fee = isNaN(channel_fee) ? 0 : channel_fee;
        merchant_fee = isNaN(merchant_fee) ? 0 : merchant_fee;
        if (merchant_fee <= channel_fee) {
            $('#fee').focus();
            SysDialog.alert("商户费率不能小于或等于渠道费率");
            return;
        }

        var queryString = $('#saveChannelForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }
        SysHttp.post(tableParamsUpdate, rsp, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#modal-form').modal('hide');
            $('#searchButton').click();
        });
    }

    function saveInfoModal() {

        var channel_fee = parseFloat($('#p_point').val()),
            merchant_fee = parseFloat($('#fee').val());
        channel_fee = isNaN(channel_fee) ? 0 : channel_fee;
        merchant_fee = isNaN(merchant_fee) ? 0 : merchant_fee;
        if (merchant_fee <= channel_fee) {
            $('#fee').focus();
            SysDialog.alert("商户费率不能小于或等于渠道费率");
            return;
        }

        var queryString = $('#updateChannelForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }
        SysHttp.post(tableParamsUpdate, rsp, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#modal-form').modal('hide');
            $('#searchButton').click();
        });
    }

    function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
        Handler.bootstrapTable({
            sidePagination: "server", //服务端请求
            method: 'get',
            dataType: "json",
            url: tableParamsBody,
            queryParams: queryParams,
            responseHandler: function (result) {
                return {"rows": result.data, "total": result.total}
            },
            pagination: true,
            queryParamsType: Params,
            pageSize: tableSize ? tableSize : 10,
            pageNumber: 1,
            pageList: [],
            height: $(document).outerHeight - 120,
            singleSelect: false,
            search: false,
            maintainSelected: false,
            strictSearch: false,
            clickToSelect: false,
            showToggle: false,
            showColumns: false,
            showRefresh: false,
            showExport: false,
            striped: true,
            toolbar: "#dataTableLabelToolbar",
            iconSize: "outline",
            showFooter: false,
            icons: {
                refresh: "glyphicon-repeat",
                toggle: "glyphicon-list-alt",
                columns: "glyphicon-list",
                export: "glyphicon-export"
            },
            columns: queryColumns()
        });

        Handler.on('load-success.bs.table', function (e, data) {
            Handler.find('tfoot tr').remove();
            Handler.find('tfoot').append('<tr>' + data.totalSum + '</tr>');
        });
    }

    function queryParams(params) {
        var optionalParam = {
            pageSize: params.pageSize,
            pageNumber: params.pageNumber
        };
        var data = tableParams.split(',');
        for (var i in data) {
            if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
                optionalParam[data[i]] = $('#' + data[i]).val();
            }
        }
        return optionalParam
    }

    function queryColumns() {
        var $columns = [];
        $.ajax({
            url: tableParamsHeader,
            type: 'get',
            dataType: "json",
            data: {'flag': 'theader'},
            async: false,
            success: function (returnValue) {
                $columns = returnValue.data;
            }
        });
        return $columns;
    }
</script>
