<%include file="header.html"%>
<style>
    #appList {
        max-height: 200px;
        overflow-y: auto;
        padding: 0;
    }

    .onekeySetting-channel {
        max-height: 200px;
        overflow-y: auto;
    }

    #appList .checkbox, .radio {
        margin: 5px 0;
        padding: 0;
    }

    .onekeyaddsetting-row {
        padding: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid #c4c4c4;
    }

    .onekeyaddsetting-span {
        margin: 0 10px;
    }

    .modal-footer button:first-child {
        margin-right: 100px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i
                            class="ace-icon fa fa-plus"></i> 添加商户 </a>
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal"
                       onclick="showOnekeySetting();" data-id="1"><i class="ace-icon fa fa-plus"></i> 一键分配通道 </a>
                </h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <form class="form-horizontal" name="searchForm" id="searchForm">
                    <div class="inline">
                        <div class="input-group">
                            <span>商户账号：</span>
                            <input type="text" name="name" value=""/>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <div class="input-group-btn col-xs-2">
                                <button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">
                                    查询
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="flag" value="search">
                </form>
                <hr>

                <div class="table-header">
                    商户列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">商户ID</th>
                            <th class="center">商户账号</th>
                            <th class="center">管理员</th>
                            <th class="center">开启的支付渠道</th>
                            <th class="center">所属代理</th>
                            <th class="center">最近登录IP</th>
                            <th class="center">最近登录时间</th>
                            <th class="center">提款手续费</th>
                            <th class="center">重置密码</th>
                            <th class="center">是否锁定</th>
                            <th class="center">费率</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody id="tableData">
                        <%if $pageList['data']%>
                        <%foreach $pageList['data'] as $info%>
                        <tr>
                            <td class="center"><%$info.app_id%></td>
                            <td class="center"><%$info.name%></td>
                            <td class="center"><%$info.adminName%></td>
                            <td class="left"><%$info.openPlatList%></td>
                            <td class="center"><%$info.proxyName%></td>
                            <td class="center"><%$info.last_ip%></td>
                            <td class="center"><%$info.last_time%></td>
                            <td class="center"><%$info.withdrawal_fee%> 元</td>
                            <td class="center">
                                <input type="button" value="重置登录密码" class="btn btn-minier btn-round btn-warning"
                                       onclick="resetLoginPassword('<%$info.id%>');"><br/><br/>
                                <input type="button" value="重置安全设置" class="btn btn-minier btn-round btn-warning"
                                       onclick="resetSecurityPassword('<%$info.id%>');">
                            </td>
                            <td class="center">
                                <label>
                                    <input id="isLock-<%$info.id%>" name="isLock-<%$info.id%>"
                                           class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if
                                    $info.is_lock%>checked<%/if%> onclick="onOffLock({id:<%$info.id%>});">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center">
                                <div class="action-buttons">
                                    <a class="green" href="/admin/app/channel?id=<%$info.app_id%>" >
                                        设置
                                    </a>
                                </div>
                            </td>
                            <td class="center">
                                <div class="action-buttons">
                                    <a class="green" href="javascript:void(0);"
                                       onclick='showInfoModal(<%$info|@json_encode%>);'>
                                        编辑
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <%/foreach%>
                        <%else%>
                        <tr>
                            <td class="center" colspan="15">无相关数据</td>
                        </tr>
                        <%/if%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="pull-right text-right" id="pageNav"></div>
            </div>
        </div>
        <div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
                        <h4 class="blue bigger">添加商户</h4>
                    </div>

                    <form name="addForm" id="addForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">账号：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="name" value=""/><span style="color: red;"> *</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">密码：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="password" name="password" value=""/><span
                                            style="color: red;"> *</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">提款手续费：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="withdrawalFee" id="withdrawalFee"
                                               value="<%$withdrawal_fee%>"/> 元 <span style="color: red;"> *</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-12 text-left"
                                         style="border-bottom: 1px solid #CCC;padding: 10px">
                                        <input type="button" value="+ 分配第三方支付" title="分配第三方支付"
                                               id="addAddSetting"
                                               class="add-rule ui-add ui-state-default ui-corner-all btn btn-xs btn-primary"
                                               data-id="1"
                                        >
                                    </div>
                                    <div class="">
                                        <table id="addSetting" class="group ui-widget ui-widget-content col-sm-12"
                                               style="border:0px none;"></table>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="add">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal" role="dialog" tabindex="-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
                        <h4 class="blue bigger">修改信息</h4>
                    </div>

                    <form name="updateForm" id="updateForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">商户账号：</div>
                                    <div class="col-sm-9 text-left">
                                        <input readonly="" id="name" size="35" value=""/><span
                                            style="color: red;"> *</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">商户ID：</div>
                                    <div class="col-sm-9 text-left">
                                        <input readonly="" size="35" id="app_id" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">商户KEY：</div>
                                    <div class="col-sm-9 text-left">
                                        <input readonly="" name="app_key" size="35" id="app_key" value=""/> <input
                                            type="button" value="更换" class="btn btn-sm btn-round btn-danger"
                                            onclick="changeKey();">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">提款手续费：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="withdrawalFee" id="withdrawal-fee" value=""/> 元
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">允许登录的ip：</div>
                                    <div class="col-sm-9 text-left">
                                        <textarea class="autosize-transition form-control" name="allowLoginIp"
                                                  id="allow_login_ip"></textarea><span style="color: red;"> (多个用半角道号分隔，默认所有ip均可登录)</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-12 text-left">
                                        <div class="ui-jqdialog-content ui-widget-content col-sm-12">
                                            <div class="col-sm-12 text-left"
                                                 style="border-bottom: 1px solid #CCC;padding: 10px">
                                                <input type="button" value="+ 分配第三方支付" title="分配第三方支付"
                                                       id="updateAddSetting"
                                                       class="add-rule ui-add ui-state-default ui-corner-all btn btn-xs btn-primary"
                                                       data-id="1"
                                                >
                                            </div>
                                            <div class="">
                                                <table id="updateSetting"
                                                       class="group ui-widget ui-widget-content col-sm-12"
                                                       style="border:0px none;">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="id" id="id" value="">
                        <input type="hidden" name="flag" value="update">
                    </form>
                </div>
            </div>
        </div>
        <div id="onekey-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelOnekey();">&times;
                        </button>
                        <h4 class="blue bigger"> 一键设置商户上游</h4>
                    </div>
                    <form name="onekeyForm" id="onekeyForm">
                        <div class="modal-body">
                            <div class="block clearfix center">
                                <div class="col-sm-12 text-left"
                                     style="border-bottom: 1px solid #CCC;padding-bottom: 5px">
                                    <b>选择商户：</b>
                                    <label class="radio-inline">
                                        <span id="YesSelect" style="text-decoration: underline"> 全选 </span> /
                                        <span id="NoSelect" style="text-decoration: underline">全不选</span>
                                    </label>
                                </div>
                                <div class="col-sm-12 text-left" id="appList"></div>
                            </div>
                            <div class="space-4"></div>
                            <div class="block clearfix center">
                                <div class="col-sm-12 text-left"
                                     style="border-bottom: 1px solid #CCC;padding: 10px">
                                    <input type="button" value="+ 分配第三方支付" title="添加设置" id="onekeyAddSetting"
                                           class="add-rule ui-add ui-state-default ui-corner-all btn btn-xs btn-primary">
                                </div>
                                <div class="col-sm-12 text-left">
                                    <div class="">
                                        <table id="onekeySetting" class="group ui-widget ui-widget-content col-sm-12"
                                               style="border:0px none;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelOnekey();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmOnekey();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="onekeySetting">
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
    var platList = JSON.parse('<%$platList|@json_encode%>');
    var withdrawalFee = parseInt('<%$withdrawal_fee%>');

    jQuery(function ($) {
        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);

        // 添加弹窗增加第三方渠道设置
        $('#addAddSetting').click(function (e) {
            var id = $(this).data('id');
            var class_name = "chosen-single-add-"+id;
            e.preventDefault();
            var len = $('#addSetting').find('tr').length + 1;
            var html = '<tr><td>';
            html += '<div class="block clearfix center">' +
                '<div class="col-sm-12 text-left onekeyaddsetting-row"><span class="onekeyaddsetting-span"> NO: ' + len +
                '</span><b style="margin:10px">渠道名称：</b><select name="platId[]" class="'+class_name+'" style="font-size: 16px;"><option value="0">请选择</option>';
            for (var key in platList) {
                html += '<option value="' + platList[key]['p_id'] + '">' + platList[key]['p_name'] + '</option>';
            }
            html += '</select>' +
                '<span class="text-left"><b style="margin:10px">点数：</b><input type="text" size="10" name="appPoint[]" value=""></span>' +
                '<span class="action-buttons pull-right" style="font-size: 16px;margin-top: 5px"><a class="red del-add-rule" href="javascript:void(0);"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></span>' +
                '</div></div>';

            html += '</td></tr>';
            $('#addSetting').append(html);
            $("."+class_name).chosen({
                search_contains: true
            });
            $(this).data(id).val(id+1);
        });

        // 添加弹窗删除第三方渠道设置
        $('#addSetting').on('click', '.del-add-rule', function (e) {
            e.preventDefault();
            //$(this).parents('.onekeyaddsetting-row').remove();
            $(this).parent().parent().parent().parent().remove();
        });
        $(document).on('click', '#YesSelect', function (e) {
            e.preventDefault();
            YesNoSelect(true);
        });
        $(document).on('click', '#NoSelect', function (e) {
            e.preventDefault();
            YesNoSelect(false);
        });
        // 编辑弹窗增加第三方渠道设置
        $('#updateAddSetting').click(function (e) {
            var id = $(this).data('id');
            var class_name = "chosen-single-"+id;
            e.preventDefault();
            var len = $('#updateSetting').find('tr').length + 1;
            var html = '<tr><td>';
            html += '<div class="block clearfix center">' +
                '<div class="col-sm-12 text-left onekeyaddsetting-row"><span class="onekeyaddsetting-span"> NO: ' + len +
                '</span><b style="margin:10px">渠道名称：</b><select name="platId[]" class="'+class_name+'" style="font-size: 16px;"><option value="0">请选择</option>';
            for (var key in platList) {
                html += '<option value="' + platList[key]['p_id'] + '">' + platList[key]['p_name'] + '</option>';
            }
            html += '</select>' +
                '<span class="text-left"><b style="margin:10px">点数：</b><input type="text" size="10" name="appPoint[]" value=""></span>' +
                '<span class="action-buttons pull-right" style="font-size: 16px;margin-top: 5px"><a class="red del-update-rule" href="javascript:void(0);"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></span>' +
                '</div></div>';
            html += '</td></tr>';

            $('#updateSetting').append(html);
            $("."+class_name).chosen({
                search_contains: true
            });
            $(this).data(id).val(id+1);
        });

        // 编辑弹窗删除第三方渠道设置
        $('#updateSetting').on('click', '.del-update-rule', function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().parent().parent().remove();
        });

        // 添加弹窗增加第三方渠道设置
        $('#onekeyAddSetting').click(function (e) {
            var id = $(this).data('id');
            var class_name = "chosen-single-one-"+id;
            e.preventDefault();
            var len = $('#onekeySetting').find('tr').length + 1;
            var html = '<tr><td>';
            html += '<div class="block clearfix center">' +
                '<div class="col-sm-12 text-left onekeyaddsetting-row"><span class="onekeyaddsetting-span"> NO: ' + len +
                '</span><b style="margin:10px">渠道名称：</b><select name="platId[]" class="'+class_name+'" style="font-size: 16px;"><option value="0">请选择</option>';
            for (var key in platList) {
                html += '<option value="' + platList[key]['p_id'] + '">' + platList[key]['p_name'] + '</option>';
            }
            html += '</select>' +
                '<span class="action-buttons pull-right" style="font-size: 16px;margin-top: 5px"><a class="red del-add-rule" href="javascript:void(0);"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></span>' +
                '</div></div>';
            html += '</td></tr>';
            $('#onekeySetting').append(html);
            $("."+class_name).chosen({
                search_contains: true
            });
            $(this).data(id).val(id+1);
        });

        // 添加弹窗删除第三方渠道设置
        $('#onekeySetting').on('click', '.del-add-rule', function (e) {
            e.preventDefault();
            $(this).parent().parent().parent().parent().parent().remove();
        });
    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['app_id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['adminName'] + '</td>';
                    if (rs.data['data'][index]['openPlatList']) {
                        html += '<td class="center">' + rs.data['data'][index]['openPlatList'] + '</td>';
                    } else {
                        html += '<td class="center"></td>';
                    }

                    html += '<td class="center">' + rs.data['data'][index]['proxyName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['last_ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['last_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['withdrawal_fee'] + ' 元 </td>';

                    html += '<td class="center">';
                    html += '<input type="button" value="重置登录密码" class="btn btn-minier btn-round btn-warning" onclick="resetLoginPassword(' + rs.data['data'][index]['id'] + ');"><br/><br/>';
                    html += '<input type="button" value="重置安全设置" class="btn btn-minier btn-round btn-warning" onclick="resetSecurityPassword(' + rs.data['data'][index]['id'] + ');">';
                    html += '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isLock-' + rs.data['data'][index]['id'] + '" name="isLock-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_lock'])) {
                        html += 'checked';
                    }
                    html += ' onclick="onOffLock({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';
                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs action-buttons">' +
                        '<a class="green" href="/admin/app/channel?id='+ rs.data['data'][index]['app_id']+'"' +
                        '>设置</a></div>';
                    html += '</td>' ;
                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs action-buttons">' +
                        '<a class="green" href="javascript:void(0);"' +
                        'onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'>编辑</a></div>';
                    html += '</td>' +
                        '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="15">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function (obj) { //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showOnekeySetting() {

        $('#onekey-modal-form').modal({backdrop: 'static', show: true});

        var rsp = {};
        rsp["flag"] = "getAppList";

        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            var html = '';
            if (rs.data.list && !SysData.isNull(rs.data.list)) {
                for (var appId in rs.data.list) {
                    html += '<div class="checkbox col-sm-4"><label><input name="appIds" class="ace ace-checkbox-2" type="checkbox" value="' + appId + '"/><span class="lbl"> ' + rs.data.list[appId] + '</span></label></div>';
                }
            }

            $('#appList').html(html);

        });
    }

    function YesNoSelect(event) {
        var allCheck = document.getElementsByName("appIds");
        if (event) {
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = true;
            }
        } else {
            for (var i = 0; i < allCheck.length; i++) {
                allCheck[i].checked = false;
            }
        }
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            for (var idKey in json) {
                var id = $('#updateAddSetting').data('id');
                var class_name = "chosen-single-"+id;
                if (idKey == 'plat_app_info') {

                    $('#updateSetting').html('');
                    if (SysData.isNull(json[idKey])) {
                        continue;
                    }

                    var html = '';
                    var len = 1;
                    for (var platId in json[idKey]) {

                        html += '<tr><td>';
                        html += '<div class="block clearfix center">' +
                            '<div class="col-sm-12 text-left onekeyaddsetting-row"><span class="onekeyaddsetting-span"> NO: ' + len +
                            '</span><b style="margin:10px">渠道名称：</b><select name="platId[]" class="chosen-single" style="font-size: 16px;"><option value="0">请选择</option>';
                        for (var key in platList) {
                            if (key == platId) {
                                html += '<option value="' + platList[key]['p_id'] + '" selected>' + platList[key]['p_name'] + '</option>';
                            } else {
                                html += '<option value="' + platList[key]['p_id'] + '">' + platList[key]['p_name'] + '</option>';
                            }
                        }
                        html += '</select>' +
                            '<span class="text-left"><b style="margin:10px">点数：</b><input type="text" size="10" name="appPoint[]" value="' + json[idKey][platId]['point'] + '"></span>' +
                            '<span class="action-buttons pull-right" style="font-size: 16px;margin-top: 5px"><a class="red del-update-rule" href="javascript:void(0);"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></span>' +
                            '</div></div>';
                        html += '</td></tr>';

                        len++;
                    }
                    $('#updateSetting').append(html);
                } else {
                    $('#' + idKey).val(json[idKey]);
                }

            }

            $('#withdrawal-fee').val(json['withdrawal_fee']);

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});

            $(".chosen-single").chosen({search_contains:true});
        }
    }

    function onOffLock(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isLock-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "updateLock";
        rsp["onOffLock"] = 1;
        rsp["isLock"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 更新锁定状态不需要刷新页面
            $('#isLock-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

    function del(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("操作失败");
            return;
        }

        SysHttp.post("/admin/app/list", {flag: "del", id: id}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }
            window.location.reload();
        });
        return;
    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }
            var page = $('.laypage_curr').html();
            cancel();
            $('.laypage_skip').val(page);
            $('.laypage_btn').click();
        });
    }

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("商户账号不能为空");
            return;
        }

        // 提交表单
        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function comfirmOnekey() {

        var index = layer.load(3, {
            shade: [0.5, '#000']
        });

        // 获取表单内容
        var queryString = $('#onekeyForm').formSerialize();
        var rsp = $.deparam(queryString);

        // 提交表单
        SysHttp.post("/admin/app/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }


    function changeKey() {
        SysHttp.post("/admin/app/list", {flag: "changeKey"}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#app_key').val(rs.data.key);
        });
    }

    function resetLoginPassword(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("id不能为空");
            return;
        }

        SysDialog.confirm('确定重置登录密码吗？',
            function (rqs) {
                if (rqs) {
                    SysHttp.post("/admin/app/list", {flag: "resetLoginPassword", id: id}, function (rs) {

                        if (rs.code != 200) {
                            SysDialog.error(rs.msg);
                            return;
                        }

                        SysDialog.success('登录密码重置成功！初始密码为：' + rs.data.password);
                    });
                }
            }
        );
    }

    function resetSecurityPassword(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("id不能为空");
            return;
        }

        SysDialog.confirm('确定重置安全设置吗？',
            function (rqs) {
                if (rqs) {
                    SysHttp.post("/admin/app/list", {flag: "resetSecurityPassword", id: id}, function (rs) {

                        if (rs.code != 200) {
                            SysDialog.error(rs.msg);
                            return;
                        }

                        SysDialog.success('资金密码等安全设置重置成功！请联系商户重新设置');
                    });
                }
            }
        );
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#withdrawalFee').val(withdrawalFee);
        $('#add-modal-form').modal('hide');
    }

    function cancelOnekey() {
        $('#onekeyForm').clearForm();
        $('#onekey-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>
