<%include file="header.html"%>
<style>
	.chosen-single {
		width: 180px
	}

	.form-row {
		margin: 10px auto 0;
	}

	.pagination {
		margin: 0 1px;
	}

	.fixed-table-loading {
		display: none !important;
	}

	.profile-user-info {
		width: 100%;
	}
</style>
<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="row form-row">
				<div class="inline">
					<div class="input-group inline">
						<select name="appId" id="appId" class="chosen-single">
							<option value="0">--商户--</option>
								<%foreach $appList as $appId => $appName%>
								<option value="<%$appId%>"><%$appName%></option>
								<%/foreach%>
						</select>
					</div>
				</div>
				<div class="inline">
					<div class="input-group inline">
						<select name="type" id="type" class="chosen-single">
							<option value="all">--结算类型--</option>
							<option value="1">充值结算</option>
							<option value="2">提款</option>
							<option value="3">提款手续费</option>
							<option value="4">管理员添加资金</option>
							<option value="5">管理员扣减资金</option>
							<option value="6">管理员冻结资金</option>
							<option value="7">管理员解冻资金</option>
							<option value="8">管理员清除冻结资金</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row form-row">
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">时间区间</span>
					<input class="date-timepicker1" type="text" style="border-right: 0;" id="startTime"  name="startTime" value="<%$startTime%>"/>
				</div>
				<div class="input-group pull-left" style="margin-right: 10px">
					<span class="input-group-addon" style="width:0;background: #FFF">-</span>
					<input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$endTime%>"/>
				</div>
			</div>

			<div class="row form-row">
				<div class="input-group inline">
					<button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
				</div>
				<input type="hidden" name="flag" value="search">
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">商户</th>
						<th class="center">金额</th>
						<th class="center">类型</th>
						<th class="center">交易流水号</th>
						<th class="center">帐变时间</th>
						<th class="center">帐变后金额</th>
						<th class="center">操作</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.id%></td>
						<td class="center"><%$info.app_name%></td>
						<td class="center"><%$info.amount%></td>
						<td class="center"><%$info.typeName%></td>
						<td class="center"><%$info.tradeInfo%></td>
						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info.current_balance%></td>
						<%if ($info.type == 1 || $info.type == 2 || $info.type == 3)%>
						<td class="center" id="button_<%$info.id%>"><input type="button" value="查看详情" class="btn btn-sm btn-round btn-success" onclick='viewInfo(<%$info|@json_encode%>);'></td>
						<%else%>
						<td class="center" id="button_<%$info.id%>"></td>
						<%/if%>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="8">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span>总金额为：<span id="total"><%$pageList['sumAmount']%></span></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
	</div>
</div><!-- /.row -->

<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>

<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

	//可能会处理成公共JS------
	$(document).ready(function () {

		$('.chosen-single').chosen({
			search_contains: true
		});

		$('.date-timepicker1').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss',
			icons: {
				time: 'fa fa-clock-o',
				date: 'fa fa-calendar',
				up: 'fa fa-chevron-up',
				down: 'fa fa-chevron-down',
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-arrows ',
				clear: 'fa fa-trash',
				close: 'fa fa-times'
			}
		}).next().on(ace.click_event, function () {
			$(this).prev().focus();
		});

		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});
	});

	function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
		Handler.bootstrapTable({
			sidePagination: "server", //服务端请求
			method: 'get',
			dataType: "json",
			url: tableParamsBody,
			queryParams: queryParams,
			responseHandler: function (result) {
				return {"rows": result.data.data, "total": result.data.total}
			},
			pagination: true,
			queryParamsType: Params,
			pageSize: tableSize ? tableSize : 10,
			pageNumber: 1,
			pageList: [],
			height: $(document).outerHeight - 120,
			singleSelect: false,
			search: false,
			maintainSelected: false,
			strictSearch: false,
			clickToSelect: false,
			showToggle: false,
			showColumns: false,
			showRefresh: false,
			showExport: false,
			striped: true,
			toolbar: "#dataTableLabelToolbar",
			iconSize: "outline",
			icons: {
				refresh: "glyphicon-repeat",
				toggle: "glyphicon-list-alt",
				columns: "glyphicon-list",
				export: "glyphicon-export"
			},
			columns: queryColumns()
		});
	}

	function queryParams(params) {
		var optionalParam = {
			pageSize: params.pageSize,
			pageNumber: params.pageNumber
		};
		var data = tableParams.split(',');
		for (var i in data) {
			if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
				optionalParam[data[i]] = $('#' + data[i]).val();
			}
		}
		return optionalParam
	}

	function queryColumns() {
		var $columns = [];
		$.ajax({
			url: tableParamsHeader,
			type: 'get',
			dataType: "json",
			data: {'flag': 'theader'},
			async: false,
			success: function (returnValue) {
				$columns = returnValue.data;
			}
		});
		return $columns;
	}
	//-------end-----------

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/app/orderList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
				$('#total').html(rs.data.sumAmount);
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['app_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['typeName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['tradeInfo'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_balance'] + '</td>';
                    if (rs.data['data'][index]['type'] == 1 || rs.data['data'][index]['type'] == 2 || rs.data['data'][index]['type'] == 3) {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['id'] + '"><input type="button" value="查看详情" class="btn btn-sm btn-round btn-success" onclick=\'viewInfo(' + JSON.stringify(rs.data['data'][index]) + ');\'></td>';
					} else {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['id'] + '"></td>';
                    }
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="8">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function viewInfo(json) {

        if (SysData.isNull(json.id) || SysData.isNull(json.type) || SysData.isNull(json.app_id)) {
            SysDialog.alert("参数错误");
            return;
        }

        if (json.type != 1) {
            window.location.href = '/admin/app/withdrawalList?appId=' + json.app_id + '&tradeNo=' + json.tradeInfo;
        } else {
            window.location.href = '/admin/app/payList?appId=' + json.app_id + '&startTime=' + json.start_time + '&endTime=' + json.end_time;
        }
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }
</script>
<%include file="footer.html"%>