<%include file="header.html"%>
<style>
	.chosen-single {
		width: 180px
	}

	.form-row {
		margin: 10px auto 0;
	}

	.pagination {
		margin: 0 1px;
	}

	.fixed-table-loading {
		display: none !important;
	}

	.profile-user-info {
		width: 100%;
	}
</style>
<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="row form-row">
				<div class="inline">
					<div class="input-group inline">
						<select name="appId" id="appId" class="chosen-single">
							<option value="0">--商户--</option>
							<%foreach $appList as $appId => $appName%>
							<%if ($searchAppId == $appId) %>
							<option value="<%$appId%>" selected><%$appName%></option>
							<%else%>
							<option value="<%$appId%>"><%$appName%></option>
							<%/if%>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="inline">
					<div class="input-group inline">
						<select name="platId" id="platId" class="chosen-single">
							<option value="0">--支付渠道--</option>
							<%foreach $platList as $platId => $platName%>
							<option value="<%$platId%>"><%$platName%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="inline">
					<div class="input-group inline">
						<select name="type" id="type" class="chosen-single">
							<option value="0">--支付类型--</option>
							<%foreach $payTypeList as $ptId => $ptName%>
							<option value="<%$ptId%>"><%$ptName%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="inline">
					<div class="input-group inline">
						<select name="result" id="result" class="chosen-single">
							<option value="all">--支付结果--</option>
							<option value="1" selected>已支付</option>
							<option value="0">未支付</option>
						</select>
					</div>
				</div>				
			</div>
		
			<div class="row form-row">
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">交易流水号</span>
					<input class="form-control" type="text" name="tradeNo" id="tradeNo" value="<%$tradeNo%>"/>
				</div>
				
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">充值订单号</span>
					<input class="form-control" type="text" name="orderId" id="orderId" value=""/>
				</div>
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">上传订单号</span>
					<input class="form-control" type="text" name="pOrderId" id="pOrderId" value=""/>
				</div>
			</div>
			
			<div class="row form-row">
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">时间区间</span>
					<input class="date-timepicker1" type="text" style="border-right: 0;" id="startTime"  name="startTime" value="<%$startTime%>"/>
				</div>
				<div class="input-group pull-left" style="margin-right: 10px">
					<span class="input-group-addon" style="width:0;background: #FFF">-</span>
					<input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$endTime%>"/>
				</div>
			</div>
			<div class="row form-row">
				<div class="input-group inline">
					<button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
				</div>
				<input type="hidden" name="flag" value="search">
			</div>
		</form>
		<hr>
		<div class="row">
			<div class="pull-right tableTools-container">
			</div>
			<div class="dt-buttons btn-overlap btn-group">
				<a href="javascript:void(0);" onclick="exportExcel();">
							<span>
								<i class='fa fa-file-excel-o bigger-110 green'></i>
								<span>导出为 Excel</span>
							</span>
				</a>
			</div>
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">商户</th>
						<th class="center">渠道</th>
						<th class="center">支付类型</th>
						<th class="center">充值订单号</th>
						<th class="center">上传订单号</th>
						<th class="center">充值金额</th>
						<th class="center">商户订单备注</th>
						<th class="center">真实到账金额</th>
						<th class="center">渠道充值订单号</th>
						<th class="center">渠道通知数据</th>
                                                <th class="center">IP来源</th>
						<th class="center">充值时间</th>
						<th class="center">完成时间</th>
						<th class="center">点数</th>
						<th class="center">扣掉点数后金额</th>
						<th class="center">支付状态</th>
						<th class="center">通知商户</th>
						<th class="center">通知商户次数</th>
						<th class="center">商户响应数据</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<tr><td class="center" colspan="20">无相关数据</td></tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal"></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>

		<div id="modal-form" class="modal" role="dialog" tabindex="-2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">修改支付状态</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">充值时间：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="create_time" name="createTime" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">充值金额：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="amount" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">所属商户：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="appName" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">商户订单id：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="order_id" name="orderId" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">支付结果：</div>
									<div class="col-sm-9 text-left">
										<select name="result" style="font-size: 16px;">
											<option value="0">支付中</option>
											<option value="1">已支付</option>
										</select>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">真实付款金额：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="realAmount" value="" />
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="appId" id="app_id" value="">
						<input type="hidden" name="id" id="id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
	//可能会处理成公共JS------
	$(document).ready(function () {

		$('.chosen-single').chosen({
			search_contains: true
		});

		$('.date-timepicker1').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss',
			icons: {
				time: 'fa fa-clock-o',
				date: 'fa fa-calendar',
				up: 'fa fa-chevron-up',
				down: 'fa fa-chevron-down',
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-arrows ',
				clear: 'fa fa-trash',
				close: 'fa fa-times'
			}
		}).next().on(ace.click_event, function () {
			$(this).prev().focus();
		});

		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});
	});

    function exportExcel() {
        // 获取表单内容
        var app_id = $('#appId').val();
        var startTime = $('#startTime').val();
        var endTime = $('#endTime').val();
        var type_id = $('#type').val();
        var p_id = $('#platId').val();
		var result = $('#result').val();

        if (startTime && endTime) {
            var startD = new Date(Date.parse(startTime.replace(/-/g,"/")));
            var endD   = new Date(Date.parse(endTime.replace(/-/g,"/")));
            var days = parseInt((endD.getTime()-startD.getTime()) / (1000 * 60 * 60 * 24));
            if(days > 31){
                alert('选择的时间区间超过了一个月');
            } else {
                window.location.href = "/admin/app/exportPayExcel?p_id=" + p_id  + "&startTime=" + startTime + "&endTime=" + endTime+ '&app_id='+app_id+'&type_id='+type_id+'&result='+result;
            }
        } else {
            alert('请选择开始时间和结束时间');
        }
    }

	function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
		Handler.bootstrapTable({
			sidePagination: "server", //服务端请求
			method: 'get',
			dataType: "json",
			url: tableParamsBody,
			queryParams: queryParams,
			responseHandler: function (result) {
				return {"rows": result.data.data, "total": result.data.total}
			},
			pagination: true,
			queryParamsType: Params,
			pageSize: tableSize ? tableSize : 10,
			pageNumber: 1,
			pageList: [],
			height: $(document).outerHeight - 120,
			singleSelect: false,
			search: false,
			maintainSelected: false,
			strictSearch: false,
			clickToSelect: false,
			showToggle: false,
			showColumns: false,
			showRefresh: false,
			showExport: false,
			striped: true,
			toolbar: "#dataTableLabelToolbar",
			iconSize: "outline",
			icons: {
				refresh: "glyphicon-repeat",
				toggle: "glyphicon-list-alt",
				columns: "glyphicon-list",
				export: "glyphicon-export"
			},
			columns: queryColumns()
		});
	}

	function queryParams(params) {
		var optionalParam = {
			pageSize: params.pageSize,
			pageNumber: params.pageNumber
		};
		var data = tableParams.split(',');
		for (var i in data) {
			if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
				optionalParam[data[i]] = $('#' + data[i]).val();
			}
		}
		return optionalParam
	}

	function queryColumns() {
		var $columns = [];
		$.ajax({
			url: tableParamsHeader,
			type: 'get',
			dataType: "json",
			data: {'flag': 'theader'},
			async: false,
			success: function (returnValue) {
				$columns = returnValue.data;
			}
		});
		return $columns;
	}
	//-------end-----------



    var appList = JSON.parse('<%$appList|@json_encode%>');
    var platList = JSON.parse('<%$platList|@json_encode%>');
    var payTypeList = JSON.parse('<%$payTypeList|@json_encode%>');

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

    	var searchAppId = '<%$searchAppId%>';
    	if (!SysData.isNull(searchAppId)) {
            searchComfirm();
		}

    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/app/payList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + appList[rs.data['data'][index]['app_id']] + '</td>';
                    html += '<td class="center">' + platList[rs.data['data'][index]['p_id']] + '</td>';
                    html += '<td class="center">' + payTypeList[rs.data['data'][index]['pt_id']] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['order_id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['pOrderId'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center"><textarea class="autosize-transition form-control">' + rs.data['data'][index]['remark'] + '</textarea></td>';
                    html += '<td class="center">' + rs.data['data'][index]['real_amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['plat_order_id'] + '</td>';
                    html += '<td class="center"><textarea class="autosize-transition form-control">' + rs.data['data'][index]['content'] + '</textarea></td>';
                    html += '<td class="center">' + rs.data['data'][index]['referer_ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['end_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_fee_rate'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_fee'] + '</td>';
					if (rs.data['data'][index]['result'] == 0) {
                        html += '<td class="center red">未支付</td>';
                    } else {
						html += '<td class="center green">已支付</td>';
					}

                    if (rs.data['data'][index]['notify_status'] == 0 && rs.data['data'][index]['result'] == 1) {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['id'] + '"><input type="button" value="重新推送" class="btn btn-sm btn-round btn-danger" onclick="push(' + rs.data['data'][index]['app_id'] + ', ' + rs.data['data'][index]['id'] + ');"></td>';
                    } else if (rs.data['data'][index]['notify_status'] == 1) {
						html += '<td class="center green">已通知</td>';
                    } else {
                        if ((rsp['pOrderId'] || rsp['orderId']) && rs.data['data'][index]['result'] != 1) {
                            html += '<td class="center" id="button_' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['id'] + '"><input type="button" value="修改" class="btn btn-sm btn-round btn-danger" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'></td>';
                        } else {
                            html += '<td class="center red"></td>';
                        }

					}
                    html += '<td class="center">' + rs.data['data'][index]['notify_times'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['notify_res_data'] + '</td>';
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tatal').html('总真实充值到账金额：' + rs.data.sumRealAmount + '，扣除点数后金额：' + rs.data.sumFee);
            } else {
                html += '<tr><td class="center" colspan="20">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function push(appId, id) {
        SysHttp.post("/admin/app/pushOrder", {appId:appId,id:id}, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#button_' + appId + '_' + id).html('<span class="green">已完成</span>');
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            for (var idKey in json) {

                if (idKey == 'app_id') {
                    $('#appName').val(appList[json['app_id']]);
                }

                $('#' + idKey).val(json[idKey]);

            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        SysDialog.confirm('确定修改吗？',
            function (rqs) {
                if (rqs) {
                    SysHttp.post("/admin/app/updatePayInfo", rsp, function (rs) {

                        if (rs.code != 200) {
                            SysDialog.error(rs.msg);
                            return;
                        }

                        searchComfirm();
                        cancel();
                    });
                }
            }
        );
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>