@charset "utf-8"; 

html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td, hr,
	button, article, aside, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section {
	margin: 0;
	padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

body, button, input, select, textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53
}

input, select, textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

fieldset, img {
	border: 0
}

iframe {
	display: block
}

abbr, acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500
}

ol, ul {
	list-style: none
}

caption, th {
	text-align: left
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500
}

q:before, q:after {
	content: ''
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a:hover {
	text-decoration: underline
}

ins, a {
	text-decoration: none
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.fn-clear {
	zoom: 1
}

body .fn-hide {
	display: none
}

.fn-left, .fn-right {
	display: inline
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

a {
	color: #06b
}

html body .ft-orange, html body .ft-green {
	font-family: tahoma, verdana, arial
}

html body .ft-weaken {
	color: #666
}

html body .ft-link {
	color: #06b
}

html body .ft-orange {
	color: #F60
}

html body .ft-green {
	color: #53a000
}

html body .ft-explain {
	color: #a6a6a6
}

html body .ft-normal {
	color: #4d4d4d
}

html body .ft-black {
	color: #000
}

html body .ft-error {
	color: #ff5243
}

html body .ft-12 {
	font-size: 12px
}

html body .ft-14 {
	font-size: 14px
}

html body .ft-18 {
	font-size: 18px
}

html body .ft-left {
	text-align: left
}

html body .ft-center {
	text-align: center
}

html body .ft-right {
	text-align: right
}

html body .ft-top {
	vertical-align: top
}

html body .ft-middle {
	vertical-align: middle
}

html body .ft-bottom {
	vertical-align: bottom
}

html body .ft-baseline {
	vertical-align: baseline
}

html body .ft-bold {
	font-weight: 700
}

html body .ft-normal {
	font-weight: 400
}

html body .ft-bar {
	color: #c7c7c7;
	padding: 0 7px 0 6px
}

.ft-break {
	word-wrap: break-word;
	word-break: break-all
}

.ft-nowrap {
	white-space: nowrap
}

label, label:focus, label:hover, label:active {
	border: 0 none;
	outline: medium none
}

legend {
	display: none
}

fieldset {
	padding: 10px 0 0
}

.mi-form-item {
	padding: 0 0 20px 170px;
	margin: 0
}

.mi-form-item select {
	color: #4d4d4d;
	vertical-align: middle
}

.mi-form-item-normal {
	padding-left: 0
}

.mi-form-spliter {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 6px 3px 0
}

.mi-label {
	padding: 3px 0 6px;
	padding: 5px 0 0\9;
	*padding: 4px 0 0;
	_padding: 3px 0 0;
	width: 170px;
	float: left;
	*margin-top: 1px;
	margin-left: -170px;
	vertical-align: middle;
	text-align: right;
	color: #4d4d4d;
	font-size: 14px;
	position: relative
}

.mi-form .required {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	position: relative;
	top: 2px;
	padding: 0 5px;
	color: red
}

.mi-input, .mi-textarea, .mi-form .mi-securitycore .mi-checkcode-input {
	border: 1px solid #CCC;
	border-top-color: #a6a6a6;
	color: #4d4d4d;
	font: 400 12px tahoma, arial, \5b8b\4f53;
	padding: 7px 4px;
	padding: 8px 4px 5px\9;
	*padding: 8px 4px 5px;
	_padding: 7px 4px 6px;
	vertical-align: top;
	width: 210px
}

.mi-form .ui-securitycore .ui-checkcode-input {
	width: 60px
}

.mi-form .ui-securitycore .ui-checkcode-input {
	height: auto
}

.mi-form-item-placeholder, .mi-input-placeholder,
	.mi-textarea-placeholder {
	color: #a6a6a6
}

.mi-input-len3 {
	width: 3em
}

.mi-input-len4 {
	width: 4em
}

.mi-input-authcode {
	width: 4.5em
}

.mi-input-len6, .mi-input-securitycode, .mi-input-date {
	width: 6em
}

.mi-input-len8 {
	width: 8em
}

.mi-input-len10 {
	width: 14em
}

.mi-input-hover, .mi-textarea-hover {
	border-color: #a6a6a6;
	color: #4d4d4d
}

.mi-form-item-focus .mi-form-explain, .mi-form-item-hover .mi-form-explain
	{
	color: #4d4d4d
}

.mi-form-item-hover .mi-input, .mi-form-item-hover .mi-textarea {
	border-color: #a6a6a6;
	color: #4d4d4d
}

.mi-form-item .mi-input:focus, .mi-form-item .mi-textarea:focus,
	.mi-form-item .mi-input-focus, .mi-form-item .mi-textarea-focus,
	.mi-form-item-focus .mi-input, .mi-form-item-focus .mi-textarea,
	.mi-form .ui-securitycore .ui-checkcode-input:focus {
	color: #4d4d4d;
	border-color: #07F;
	outline: 1px solid #8cddff;
	*padding: 7px 3px 4px;
	*border: 2px solid #07F
}

.mi-radio, .mi-checkbox {
	width: 16px;
	vertical-align: middle;
	margin-top: 2px;
	margin-top: -2px\0;
	*margin-top: 0;
	*zoom: 1
}

.mi-radio-label, .mi-checkbox-label {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	position: relative;
	padding: 0 5px 0 1px;
	top: 2px;
	top: 0\9;
	*top: 1px;
	_top: 0
}

.mi-input-banknum, .mi-input-bigdigital {
	font-size: 18px;
	padding-top: 3px;
	padding-bottom: 3px
}

.mi-input-amount, .mi-input-digital, .mi-form .ui-securitycore .mi-input-digital
	{
	font-weight: 700
}

.mi-form .ui-securitycore .ui-form-item-placeholder {
	font-weight: 500
}

.mi-textarea {
	width: 650px;
	overflow: auto;
	resize: none
}

.mi-input-disabled, .mi-textarea-disabled {
	border-color: #CCC;
	background-color: #f2f2f2;
	color: #CCC;
	cursor: default
}

.mi-form-explain {
	color: #a6a6a6;
	padding: 3px 0 0;
	padding-top: 5px\9;
	*padding-top: 5px;
	_padding-top: 3px;
	_margin-left: 3px;
	font-size: 12px
}

.mi-form-item-error .mi-input {
	border-color: red;
	color: #ff5243
}

.mi-form-item-error .alieditContainer {
	border: 1px solid red
}

.mi-form-item-success .mi-form-explain, .mi-form-item-forbidden .mi-form-explain,
	.mi-form-item-cue .mi-form-explain, .mi-form-item-warn .mi-form-explain,
	.mi-form-item-error .mi-form-explain, .mi-form-item-doubt .mi-form-explain,
	.mi-form-item-wait .mi-form-explain, .mi-form-item-loading .mi-form-explain
	{
	background: url(./2jqI4wyfNx.png) no-repeat 0 0;
	color: #4d4d4d;
	padding-left: 19px
}

.mi-form-item-error .mi-select {
	border-color: red
}

.mi-form-item-error .mi-select-value {
	color: red
}

.mi-form-item-success .mi-form-explain {
	background-position: -486px -520px
}

.mi-form-item-forbidden .mi-form-explain {
	color: #ff5243;
	background-position: -458px -546px
}

.mi-form-item-cue .mi-form-explain {
	background-position: -431px -570px
}

.mi-form-item-warn .mi-form-explain {
	background-position: -400px -596px
}

.mi-form-item-error .mi-form-explain {
	color: #ff5243;
	background-position: -368px -626px
}

.mi-form-item-doubt .mi-form-explain {
	background-position: -338px -653px
}

.mi-form-item-wait .mi-form-explain {
	background-position: -305px -681px
}

.mi-form-item-loading .mi-form-explain {
	background: url(./2budYKAewD.gif) no-repeat 0 4px
}

.mi-loading-text {
	zoom: 1;
	padding-right: 15px;
	color: #20b907;
	background: url(./2bueMwUB2X.gif) no-repeat right 80%
}

.mi-form-text, .mi-form-link, .sl-checkcode-link {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 3px 0 0
}

.mi-form-text {
	font-size: 14px;
	vertical-align: middle
}

.mi-form-link, .sl-checkcode-link {
	padding-top: 5px
}

.mi-form-link {
	*padding-top: 2px;
	vertical-align: middle;
	height: 18px
}

.mi-form-link, .sl-checkcode-link {
	margin: 0 0 0 3px;
	margin-top: 3px\9
}

.mi-form-alieditlink {
	padding: 0;
	position: relative;
	top: -2px;
	left: 3px
}

.sl-checkcode-img {
	vertical-align: top
}

.sl-checkcode-link {
	height: 22px;
	line-height: 1.2;
	padding-top: 8px;
	overflow: hidden
}

.mi-form-item-authcodebreak .sl-checkcode-link {
	width: 40px;
	height: 30px;
	padding-top: 0
}

.mi-input-del {
	display: block;
	width: 10px;
	height: 10px;
	text-indent: -10em;
	overflow: hidden;
	margin: 4px 0 0 3px;
	background: url(./2lOVDr2nsf.png) no-repeat 0 -40px
}

.mi-input-add, .mi-input-add:visited, .mi-input-add:hover {
	margin: 10px 0 0;
	text-decoration: none;
	display: block;
	padding: 6px 0 0 31px;
	width: 190px;
	height: 24px;
	font-weight: 700;
	overflow: hidden;
	background: url(./2lOVDr2nsf.png) no-repeat 0 0
}

.mi-button {
	display: inline-block;
	padding: 0;
	text-decoration: none !important;
	text-align: center;
	*zoom: 1;
	*display: inline;
	overflow: visible;
	vertical-align: middle;
	position: relative
}

.mi-button-text {
	cursor: pointer;
	border: 0;
	float: left;
	cursor: pointer
}

.mi-button-icon {
	position: absolute;
	top: 10px;
	width: 6px;
	height: 11px
}

.mi-button input.mi-button-text, .mi-button button.mi-button-text {
	*line-height: normal;
	overflow: visible;
	border: 0;
	float: left
}

.mi-button-sblue, .mi-button-swhite, .mi-button-sorange,
	.mi-button-sblue-hover, .mi-button-swhite-hover,
	.mi-button-sorange-hover, .mi-button-sblue-disabled,
	.mi-button-swhite-disabled, .mi-button-sorange-disabled,
	.mi-button-mblue, .mi-button-mwhite, .mi-button-morange,
	.mi-button-mblue-hover, .mi-button-mwhite-hover,
	.mi-button-morange-hover, .mi-button-mblue-disabled,
	.mi-button-mwhite-disabled, .mi-button-morange-disabled,
	.mi-button-lblue, .mi-button-lwhite, .mi-button-lorange,
	.mi-button-lblue-hover, .mi-button-lwhite-hover,
	.mi-button-lorange-hover, .mi-button-lblue-disabled,
	.mi-button-lwhite-disabled, .mi-button-lorange-disabled,
	.mi-button-text {
	padding: 0 0 0 4px;
	background: url(./2jqIj9rJRR.png) no-repeat 0 0
}

.mi-button-text {
	padding: 0 4px 0 0;
	background-position: right 0
}

.mi-button-icon {
	background: url(./2jqJNfyrAv.png) no-repeat 0 0
}

.mi-button-sblue .mi-button-text, .mi-button-swhite .mi-button-text,
	.mi-button-sorange .mi-button-text {
	height: 24px;
	color: #FFF;
	font: 700 12px/1 \5b8b\4f53, \9ED1\4F53, verdana
}

a.mi-button-sblue .mi-button-text, a.mi-button-swhite .mi-button-text, a.mi-button-sorange .mi-button-text
	{
	padding: 7px 11px 0 8px;
	height: 17px
}

.mi-button-sblue button.mi-button-text, .mi-button-swhite button.mi-button-text,
	.mi-button-sorange button.mi-button-text {
	padding: 4px 8px 4px 5px;
	padding: 5px 8px 2px 5px\9;
	height: 24px
}

.mi-button-sblue input.mi-button-text, .mi-button-swhite input.mi-button-text,
	.mi-button-sorange input.mi-button-text {
	padding: 1px 8px 1px 5px;
	padding: 2px 8px 1px 5px\9
}

.mi-button-swhite {
	background-position: 0 -50px
}

.mi-button-swhite .mi-button-text {
	background-position: right -50px;
	color: #4D4D4D
}

.mi-button-sorange {
	background-position: 0 -100px
}

.mi-button-sorange .mi-button-text {
	background-position: right -100px
}

a.mi-button-sblue:hover, .mi-button-sblue-hover {
	background-position: 0 -25px
}

a.mi-button-sblue:hover .mi-button-text, .mi-button-sblue-hover .mi-button-text
	{
	background-position: right -25px
}

a.mi-button-swhite:hover, .mi-button-swhite-hover {
	background-position: 0 -75px
}

a.mi-button-swhite:hover .mi-button-text, .mi-button-swhite-hover .mi-button-text
	{
	background-position: right -75px
}

a.mi-button-sorange:hover, .mi-button-sorange-hover {
	background-position: 0 -125px
}

a.mi-button-sorange:hover .mi-button-text, .mi-button-sorange-hover .mi-button-text
	{
	background-position: right -125px
}

a.mi-button-sblue-disabled:hover, a.mi-button-swhite-disabled:hover, a.mi-button-sorange-disabled:hover,
	.mi-button-sblue-disabled, .mi-button-swhite-disabled,
	.mi-button-sorange-disabled {
	background-position: 0 -150px
}

a.mi-button-sblue-disabled:hover .mi-button-text, a.mi-button-swhite-disabled:hover .mi-button-text,
	a.mi-button-sorange-disabled:hover .mi-button-text,
	.mi-button-sblue-disabled .mi-button-text, .mi-button-swhite-disabled .mi-button-text,
	.mi-button-sorange-disabled .mi-button-text {
	background-position: right -150px;
	color: #e5e5e5;
	cursor: default
}

.mi-button-mblue .mi-button-text, .mi-button-morange .mi-button-text,
	.mi-button-mwhite .mi-button-text {
	height: 30px;
	color: #fff;
	font: 700 14px/1.2 \5b8b\4f53, \9ED1\4F53, verdana
}

a.mi-button-mblue .mi-button-text, a.mi-button-mwhite .mi-button-text, a.mi-button-morange .mi-button-text
	{
	padding: 8px 21px 0 18px;
	height: 22px
}

a.mi-button-mwhite .mi-button-text {
	padding-top: 7px;
	height: 23px
}

.mi-button-mblue button.mi-button-text, .mi-button-mwhite button.mi-button-text,
	.mi-button-morange button.mi-button-text {
	padding: 4px 18px 3px 15px;
	padding: 6px 18px 1px 15px\9;
	height: 30px
}

.mi-button-mblue input.mi-button-text, .mi-button-mwhite input.mi-button-text,
	.mi-button-morange input.mi-button-text {
	padding: 3px 18px 3px 15px;
	padding: 5px 18px 1px 15px\9
}

.mi-button-mblue {
	background-position: 0 -175px
}

.mi-button-mblue .mi-button-text {
	background-position: right -175px
}

.mi-button-mwhite {
	background-position: 0 -237px
}

.mi-button-mwhite .mi-button-text {
	background-position: right -237px;
	color: #4d4d4d
}

.mi-button-morange {
	background-position: 0 -299px
}

.mi-button-morange .mi-button-text {
	background-position: right -299px
}

a.mi-button-mblue:hover, .mi-button-mblue-hover {
	background-position: 0 -206px
}

a.mi-button-mblue:hover .mi-button-text, .mi-button-mblue-hover .mi-button-text
	{
	background-position: right -206px
}

a.mi-button-mwhite:hover, .mi-button-mwhite-hover {
	background-position: 0 -268px
}

a.mi-button-mwhite:hover .mi-button-text, .mi-button-mwhite-hover .mi-button-text
	{
	background-position: right -268px
}

a.mi-button-morange:hover, .mi-button-morange-hover {
	background-position: 0 -330px
}

a.mi-button-morange:hover .mi-button-text, .mi-button-morange-hover .mi-button-text
	{
	background-position: right -330px
}

a.mi-button-mblue-disabled:hover, a.mi-button-mwhite-disabled:hover, a.mi-button-morange-disabled:hover,
	.mi-button-mblue-disabled, .mi-button-mwhite-disabled,
	.mi-button-morange-disabled {
	background-position: 0 -361px
}

a.mi-button-mblue-disabled:hover .mi-button-text, a.mi-button-mwhite-disabled:hover .mi-button-text,
	a.mi-button-morange-disabled:hover .mi-button-text,
	.mi-button-mblue-disabled .mi-button-text, .mi-button-mwhite-disabled .mi-button-text,
	.mi-button-morange-disabled .mi-button-text {
	background-position: right -361px;
	color: #e5e5e5;
	cursor: default
}

.mi-button-lblue .mi-button-text, .mi-button-lorange .mi-button-text,
	.mi-button-lwhite .mi-button-text {
	height: 34px;
	color: #FFF;
	font: 700 14px/1.4 \5b8b\4f53, \9ED1\4F53, verdana
}

a.mi-button-lblue .mi-button-text, a.mi-button-lwhite .mi-button-text, a.mi-button-lorange .mi-button-text
	{
	padding: 8px 19px 4px 16px;
	height: 22px
}

.mi-button-lblue button.mi-button-text, .mi-button-lwhite button.mi-button-text,
	.mi-button-lorange button.mi-button-text {
	padding: 4px 18px 3px 15px;
	padding: 4px 18px 2px 15px\9;
	height: 34px
}

.mi-button-lblue input.mi-button-text, .mi-button-lwhite input.mi-button-text,
	.mi-button-lorange input.mi-button-text {
	padding: 3px 18px 3px 15px;
	padding: 4px 18px 2px 15px\9
}

.mi-button-lblue {
	background-position: 0 -392px
}

.mi-button-lblue .mi-button-text {
	background-position: right -392px
}

.mi-button-lwhite {
	background-position: 0 -462px
}

.mi-button-lwhite .mi-button-text {
	background-position: right -462px;
	color: #4d4d4d
}

.mi-button-lorange {
	background-position: 0 -532px
}

.mi-button-lorange .mi-button-text {
	background-position: right -532px
}

a.mi-button-lblue:hover, .mi-button-lblue-hover {
	background-position: 0 -427px
}

a.mi-button-lblue:hover .mi-button-text, .mi-button-lblue-hover .mi-button-text
	{
	background-position: right -427px
}

a.mi-button-lwhite:hover, .mi-button-lwhite-hover {
	background-position: 0 -497px
}

a.mi-button-lwhite:hover .mi-button-text, .mi-button-lwhite-hover .mi-button-text
	{
	background-position: right -497px
}

a.mi-button-lorange:hover, .mi-button-lorange-hover {
	background-position: 0 -567px
}

a.mi-button-lorange:hover .mi-button-text, .mi-button-lorange-hover .mi-button-text
	{
	background-position: right -567px
}

a.mi-button-lblue-disabled:hover, a.mi-button-lwhite-disabled:hover, a.mi-button-lorange-disabled:hover,
	.mi-button-lblue-disabled, .mi-button-lwhite-disabled,
	.mi-button-lorange-disabled {
	background-position: 0 -602px
}

a.mi-button-lblue-disabled:hover .mi-button-text, a.mi-button-lwhite-disabled:hover .mi-button-text,
	a.mi-button-lorange-disabled:hover .mi-button-text,
	.mi-button-lblue-disabled .mi-button-text, .mi-button-lwhite-disabled .mi-button-text,
	.mi-button-lorange-disabled .mi-button-text {
	background-position: right -602px;
	color: #e5e5e5;
	cursor: default
}

a.mi-button-mblue-prev-disabled:hover, a.mi-button-mwhite-prev-disabled:hover,
	a.mi-button-morange-prev-disabled:hover, .mi-button-mblue-prev-disabled,
	.mi-button-mwhite-prev-disabled, .mi-button-morange-prev-disabled,
	.mi-button-mblue-next-disabled, .mi-button-mwhite-next-disabled,
	.mi-button-morange-next-disabled {
	background: url(./2jqIj9rJRR.png) no-repeat 0 0
}

.mi-button-mblue-prev .mi-button-icon, .mi-button-mwhite-prev .mi-button-icon,
	.mi-button-morange-prev .mi-button-icon {
	left: 15px;
	background-position: 0 0
}

.mi-button-mwhite-prev .mi-button-icon {
	background-position: -7px 0
}

.mi-button-mblue-next .mi-button-icon, .mi-button-mwhite-next .mi-button-icon,
	.mi-button-morange-next .mi-button-icon {
	right: 15px;
	background-position: -21px 0
}

.mi-button-mwhite-next .mi-button-icon {
	background-position: -28px 0
}

a.mi-button-mblue-prev-disabled:hover, a.mi-button-mwhite-prev-disabled:hover,
	a.mi-button-morange-prev-disabled:hover, a.mi-button-mblue-next-disabled:hover,
	a.mi-button-mwhite-next-disabled:hover, a.mi-button-morange-next-disabled:hover,
	.mi-button-mblue-prev-disabled, .mi-button-mwhite-prev-disabled,
	.mi-button-morange-prev-disabled, .mi-button-mblue-next-disabled,
	.mi-button-mwhite-next-disabled, .mi-button-morange-next-disabled {
	background-position: 0 -361px
}

a.mi-button-mblue-prev-disabled:hover .mi-button-icon, a.mi-button-mwhite-prev-disabled:hover .mi-button-icon,
	a.mi-button-morange-prev-disabled:hover .mi-button-icon,
	.mi-button-mblue-prev-disabled .mi-button-icon,
	.mi-button-mwhite-prev-disabled .mi-button-icon,
	.mi-button-morange-prev-disabled .mi-button-icon {
	left: 15px;
	background-position: -14px 0
}

a.mi-button-mblue-next-disabled:hover .mi-button-icon, a.mi-button-mwhite-next-disabled:hover .mi-button-icon,
	a.mi-button-morange-next-disabled:hover .mi-button-icon,
	.mi-button-mblue-next-disabled .mi-button-icon,
	.mi-button-mwhite-next-disabled .mi-button-icon,
	.mi-button-morange-next-disabled .mi-button-icon {
	right: 15px;
	background-position: -35px 0
}

a.mi-button-mblue-prev-disabled:hover .mi-button-text, a.mi-button-mwhite-prev-disabled:hover .mi-button-text,
	a.mi-button-morange-prev-disabled:hover .mi-button-text, a.mi-button-mblue-next-disabled:hover .mi-button-text,
	a.mi-button-mwhite-next-disabled:hover .mi-button-text, a.mi-button-morange-next-disabled:hover .mi-button-text,
	.mi-button-mblue-prev-disabled .mi-button-text,
	.mi-button-mwhite-prev-disabled .mi-button-text,
	.mi-button-morange-prev-disabled .mi-button-text,
	.mi-button-mblue-next-disabled .mi-button-text,
	.mi-button-mwhite-next-disabled .mi-button-text,
	.mi-button-morange-next-disabled .mi-button-text {
	background-position: right -361px;
	color: #e5e5e5;
	cursor: default
}

a.mi-button-mblue-prev .mi-button-text, a.mi-button-mwhite-prev .mi-button-text,
	a.mi-button-morange-prev .mi-button-text, a.mi-button-mblue-prev-disabled .mi-button-text,
	a.mi-button-mwhite-prev-disabled .mi-button-text, a.mi-button-morange-prev-disabled .mi-button-text
	{
	padding-right: 14px;
	padding-left: 27px
}

.mi-button-mblue-prev button.mi-button-text, .mi-button-mwhite-prev button.mi-button-text,
	.mi-button-morange-prev button.mi-button-text,
	.mi-button-mblue-prev-disabled button.mi-button-text,
	.mi-button-mwhite-prev-disabled button.mi-button-text,
	.mi-button-morange-prev-disabled button.mi-button-text {
	padding-right: 11px;
	padding-left: 24px
}

.mi-button-mblue-prev input.mi-button-text, .mi-button-mwhite-prev input.mi-button-text,
	.mi-button-morange-prev input.mi-button-text,
	.mi-button-mblue-prev-disabled input.mi-button-text,
	.mi-button-mwhite-prev-disabled input.mi-button-text,
	.mi-button-morange-prev-disabled input.mi-button-text {
	padding-right: 11px;
	padding-left: 24px
}

a.mi-button-mblue-next .mi-button-text, a.mi-button-mwhite-next .mi-button-text,
	a.mi-button-morange-next .mi-button-text, a.mi-button-mblue-next-disabled .mi-button-text,
	a.mi-button-mwhite-next-disabled .mi-button-text, a.mi-button-morange-next-disabled .mi-button-text
	{
	padding-right: 30px;
	padding-left: 11px
}

.mi-button-mblue-next button.mi-button-text, .mi-button-mwhite-next button.mi-button-text,
	.mi-button-morange-next button.mi-button-text,
	.mi-button-mblue-next-disabled button.mi-button-text,
	.mi-button-mwhite-next-disabled button.mi-button-text,
	.mi-button-morange-next-disabled button.mi-button-text {
	padding-right: 27px;
	padding-left: 8px
}

.mi-button-mblue-next input.mi-button-text, .mi-button-mwhite-next input.mi-button-text,
	.mi-button-morange-next input.mi-button-text,
	.mi-button-mblue-next-disabled input.mi-button-text,
	.mi-button-mwhite-next-disabled input.mi-button-text,
	.mi-button-morange-next-disabled input.mi-button-text {
	padding-right: 27px;
	padding-left: 8px
}

.topbar {
	width: 100%;
	height: 26px;
	background: url(./OzLou0mHd.png) repeat-x 0 0
}

.topbar .topbar-wrap {
	background: url(./OzLou0mHd.png) repeat-x 0 0;
	width: 950px;
	margin: 0 auto
}

.topbar .topbar-wrap a, .topbar .topbar-wrap span {
	float: right;
	color: #fff;
	padding: 4px 15px;
}

.topbar .topbar-wrap .topbar-link-last {
	padding-right: 0
}

.topbar .topbar-wrap .topbar-link-first {
	padding-left: 0;
	background: 0 0
}

#header {
	width: 100%;
	height: 40px;
	margin-top: 15px;
	zoom: 1
}

#header h1.logo {
	float: left;
	background: url(/pay/images/T1HHFgXXVeXXXXXXXX.png) no-repeat left 2px;
	height: 33px;
	width: 100px;
	text-indent: -999px
}

#header h1.logo a, #header h1.logo span {
	width: 170px;
	height: 45px;
	display: block;
	background: url(./187HQtMqDP.png) no-repeat 100px -525px
}

#header .quick-links {
	float: right;
	margin-top: 5px
}

#header .quick-links li {
	display: inline
}

#footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	zoom: 1
}

#footer #ServerNum {
	color: #fff
}

.mi-notice {
	font-size: 14px;
	border: 1px solid #e1e1ca;
	background-color: #fff
}

.mi-notice-titleonly {
	border: 0
}

.mi-notice-titleonly .mi-notice-title {
	margin: 0
}

.mi-notice-success .mi-notice-title {
	background-color: #edffcc
}

.mi-notice-success .iconfont {
	color: #3C3
}

.mi-notice-forbidden .mi-notice-title {
	background-color: #fceee8;
	border-color: #f6c8b5
}

.mi-notice-forbidden .iconfont {
	color: #f33
}

.mi-notice-cue .mi-notice-title {
	background-color: #e5f5ff;
	border-color: #cbd7e3
}

.mi-notice-cue .iconfont {
	color: #09f
}

.mi-notice-warn .mi-notice-title {
	background-color: #ffff8d;
	border-color: #f5db64
}

.mi-notice-warn .iconfont {
	color: #f90
}

.mi-notice-error .mi-notice-title {
	background-color: #fceee8;
	border-color: #f6c8b5
}

.mi-notice-error .iconfont {
	color: #f33
}

.mi-notice-doubt .mi-notice-title {
	background-color: #e5f5ff;
	border-color: #cbd7e3
}

.mi-notice-doubt .iconfont {
	color: #09f
}

.mi-notice-wait .mi-notice-title {
	background-color: #fff9d7;
	border-color: #e6ccae
}

.mi-notice-wait .iconfont {
	color: #c60
}

.mi-notice-title {
	min-height: 34px;
	_height: 34px;
	padding: 25px 43px 21px 88px;
	border: 1px solid #e1e1ca;
	margin: -1px;
	position: relative
}

.mi-notice-title .iconfont {
	font-size: 38px;
	line-height: 38px;
	float: left;
	margin: -4px 0 0 -51px;
	*display: inline
}

.mi-notice-title h3 {
	color: #3C3C3C;
	font-weight: 700;
	font-size: 16px;
	padding: 4px 0 0;
	padding-top: 5px\9;
	_padding-top: 4px
}

.mi-notice-explain {
	color: gray;
	padding: 16px 0 23px 84px
}

.mi-notice-explain-other {
	border-top: 1px dashed #eee;
	color: #4d4d4d;
	margin: 0 15px;
	padding: 14px 0 16px 69px
}

.mi-notice-explain-other .ft-bar {
	padding: 0 5px
}

.mi-notice-title .mi-notice-explain {
	padding: 6px 0 0
}

.mi-notice-title .mi-notice-explain-other {
	padding: 14px 0 0;
	margin: 0;
	border-top: 0
}

html body .mi-notice-inxbox {
	border: 1px solid #949494
}

.mi-notice-inxbox .ui-xbox-action {
	z-index: 1;
	right: 19px;
	top: 16px
}

.mi-notice-inxbox .ui-xbox-action a, .mi-notice-inxbox .ui-xbox-action a:hover
	{
	font-size: 14px;
	text-decoration: none
}

.mi-notice-inxbox .mi-notice {
	margin: 0;
	border: 0
}

.mi-notice-inxbox .mi-notice-title {
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 26px 44px 21px 89px
}

#teLogin {
	margin: 20px 0 0
}

.login-switchable-container #teLogin {
	margin: 0;
	height: 446px
}

#teLogin-left {
	float: left
}

#teLogin-right {
	float: right
}

#teLogin .btn-ok {
	margin: 0
}

.teBox {
	width: 470px;
	height: 400px;
	border: 1px solid #BCCCEE
}

.login-switchable-container .teBox {
	border: 0
}

.teBox-in {
	padding: 20px
}

.teBox h3 {
	color: #4d4d4d;
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: 700
}

.teForm {
	padding: 20px 0 0 20px
}

.line {
	height: 1px;
	margin: 3px 0;
	overflow: hidden;
	background: #E1E1E1
}

.mi-form-item {
	padding: 0 0 20px 100px
}

.quick-login-explain {
	margin-top: 26px;
	font-size: 14px;
	margin-bottom: 27px
}

.login-area-pd {
	padding: 30px 13px
}

a {
	color: #08c
}

.mi-input-account {
	width: 162px;
	padding: 7px 10px;
	padding: 8px 10px 5px\9;
	*padding: 8px 10px 5px;
	_padding: 7px 10px 6px
}

.mi-input-authcode {
	padding: 5px 10px
}

.aside-link {
	margin: 3px 0 3px 4px;
	display: inline-block;
	zoom: 1;
	*padding-left: 0
}

.mi-state-info {
	margin: 5px 0;
	width: 600px
}

div.mi-fm-item-tip {
	left: 170px;
	position: relative
}

.fn-hide {
	display: none
}

.reload-img {
	cursor: pointer
}

.submit-status {
	color: #20B907;
	background: url(./187IlGGn67.gif) right bottom no-repeat;
	padding-right: 15px;
	margin-left: 5px
}

.aliedit-watermark {
	position: absolute;
	z-index: -1;
	left: 3px;
	top: 3px;
	opacity: 0;
	width: 172px;
	height: 16px;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.checkcode-icon-right, .checkcode-icon-wrong {
	background: url(./2jqI4wyfNx.png) no-repeat 0 0;
	color: #4D4D4D;
	padding-left: 19px
}

.sl-checkcode-icon {
	vertical-align: top;
	width: 14px;
	height: 14px;
	padding-top: 5px;
	display: inline-block;
	*zoom: 1
}

.checkcode-icon {
	height: 14px;
	width: 14px;
	display: inline-block;
	*zoom: 1
}

.checkcode-icon-right {
	background-position: -486px -525px;
	*padding-left: 0;
	*zoom: 1
}

.checkcode-icon-wrong {
	background-position: -368px -631px;
	*padding-left: 0;
	*zoom: 1
}

.fake-pwd-input {
	vertical-align: middle;
	padding: 5px 10px
}

.fg-pwd-area {
	_display: inline-block;
	margin-left: 4px
}

.fg-pwd-link {
	line-height: 24px
}

.login-account {
	vertical-align: middle;
	padding: 5px 4px;
	background-color: #EBEBE4
}

.alipay-agreement-link {
	margin-left: 5px;
	color: #999
}

.alipay-agreement {
	width: 600px;
	height: 270px;
	padding: 10px;
	text-align: center
}

.alipay-agreement-content {
	height: 230px;
	width: 600px;
	margin-bottom: 5px
}

.user-login-account {
	padding: 1px 0 6px;
	font-size: 14px;
	margin: 4px 0 0;
	font-weight: 700;
	font-family: verdana, Arial;
	color: #FF9700;
	word-break: break-all;
	word-wrap: break-word
}

.gray-txt {
	color: #b2b2b2
}

.topbar {
	width: 100%;
	height: 26px;
	background: url(./OzLou0mHd.png) repeat-x 0 0
}

.topbar .topbar-wrap {
	background: url(./OzLou0mHd.png) repeat-x 0 0;
	width: 950px;
	margin: 0 auto
}

.topbar .topbar-wrap a, .topbar .topbar-wrap span {
	float: right;
	color: #fff;
	padding: 4px 15px;
}

.topbar .topbar-wrap .topbar-link-last {
	padding-right: 0
}

.topbar .topbar-wrap .topbar-link-first {
	padding-left: 0;
	background: 0 0
}

#header {
	width: 100%;
	height: 40px;
	margin-top: 15px;
	zoom: 1
}

#header h1.logo {
	float: left;
	background: url(./187HQtMqDP.png) no-repeat left -472px;
	height: 33px;
	width: 100px;
	text-indent: -999px
}

#header h1.logo span {
	width: 170px;
	height: 45px;
	display: block;
	background: url(./187HQtMqDP.png) no-repeat 100px -525px
}

.login-switchable-container {
	min-height: 446px;
	border: 3px solid #a6a6a6;
	border-top: 0;
	width: 944px;
	overflow: hidden;
	*position: relative
}

.login-switchable {
	width: 1888px;
	position: relative
}

.login-switchable-item {
	float: left;
	width: 944px
}

.next-mobile {
	float: right;
	height: 305px;
	width: 35%;
	background: url(./aOtWJZaCj.png) no-repeat center 81px
}

.next-mobile h3 {
	margin-top: 80px;
	color: #000;
	font-size: 20px;
	text-align: center
}

.next-mobile a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background: #00aeef;
	display: block;
	width: 111px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin: 225px auto 0;
	border: 1px solid #009ed9;
	border-radius: 1px;
	cursor: pointer
}

.next-mobile a:hover {
	line-height: 36px;
	text-decoration: none;
	background: #05b5f7
}

.next-mobile a span {
	display: block;
	border: 0;
	height: 38px
}

.next-mobile a:hover span {
	border: 1px solid #4bcaf9;
	height: 36px
}

.mobileBox {
	margin: 0;
	min-height: 446px;
	position: relative;
	_border: 1px solid #fff
}

.prev_to_t {
	position: absolute;
	left: 17px;
	top: 173px;
	display: block;
	width: 51px;
	height: 101px;
	background: url(./QBqGzcoGz.png) no-repeat 0 0;
	border-radius: 1px;
	cursor: pointer
}

.prev_to_t:hover {
	background-position: -51px 0
}

.mobileBox-in {
	width: 350px;
	margin: 0 auto;
	padding-top: 74px;
	padding-bottom: 60px
}

.mobileBox-in .ui-step {
	width: 350px;
	margin: 0 auto
}

.mobileBox-in h3 {
	font-size: 20px;
	color: #000;
	margin-bottom: 33px;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53
}

.mobile-form .mi-form-item {
	padding-left: 0;
	width: 350px !important
}

.mobile-form .mobileAccountContainer {
	height: 87px;
	overflow: hidden
}

.mobile-form .mi-form-item .mi-label {
	display: block;
	float: none;
	margin-left: 0;
	text-align: left;
	width: 100%;
	font-size: 14px;
	color: #4c4c4c
}

.mobile-form .account-loading-explain, .mobile-form .mi-form-explain {
	color: #b2b2b2
}

.mobile-form .mi-form-item-forbidden .mi-form-explain, .mobile-form .mi-form-item-error .mi-form-explain
	{
	color: #FF5243
}

.mobile-form .mi-form-explain a {
	color: #08c
}

.mi-input-mobile-account {
	height: 24px;
	line-height: 24px;
	width: 328px;
	border: 1px solid #ccc;
	font-size: 14px;
	padding: 7px 10px;
	padding: 8px 10px 5px\9;
	*padding: 8px 10px 5px;
	_padding: 7px 10px 6px
}

.mi-input-ack {
	height: 24px;
	line-height: 24px;
	width: 160px;
	border: 1px solid #ccc;
	padding: 7px 10px;
	float: left;
	display: block;
	font-size: 14px
}

.get-ack {
	width: 164px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	display: block;
	margin-left: 2px;
	float: left;
	background: #cacccd;
	border: 1px solid #cacccd;
	color: #aeb1b3;
	font-weight: 400;
	cursor: default;
	font-size: 14px;
	border-radius: 1px
}

.get-ack:hover {
	text-decoration: none
}

.mobile-form .mi-mobile-button {
	display: block;
	width: 348px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #0fa4db;
	border-radius: 3px;
	background: #00aeef;
	text-align: center;
	color: #fefefe;
	font-size: 14px;
	cursor: pointer
}

.mobile-form .mi-mobile-button:hover {
	line-height: 36px;
	text-decoration: none;
	background: #05b5f7
}

.mobile-form .mi-mobile-button span {
	display: block;
	border: 0;
	height: 38px;
	cursor: pointer
}

.mobile-form .mi-mobile-button:hover span {
	height: 36px;
	border: 1px solid #4bcaf9
}

.mobile-form .mi-mobile-button-disabled, .mobile-form .mi-mobile-button-disabled:hover
	{
	background: #cacccd;
	color: #aeb1b3;
	font-weight: 700;
	line-height: 38px;
	border: 1px solid #cacccd;
	cursor: default
}

.mobile-form .mi-mobile-button-disabled span, .mobile-form .mi-mobile-button-disabled:hover span
	{
	height: 38px;
	line-height: 38px;
	border: 0
}

.mi-form-item {
	position: relative;
	width: 350px
}

.mi-mobile-account-item {
	padding-bottom: 40px
}

.show-mobile-tips {
	color: gray;
	font-size: 12px
}

.mobile-account-list {
	*position: relative;
	height: 108px;
	overflow: hidden
}

.mobile-account-list li {
	height: 38px;
	line-height: 38px
}

.mobile-account-label {
	font-size: 20px;
	color: #4c4c4c;
	position: relative;
	padding-left: 25px
}

.mobile-account-no-radio {
	padding-left: 0
}

.mobile-account-label input {
	position: absolute;
	top: 6px;
	left: 2px
}

.all-accounts {
	position: absolute;
	right: 0;
	bottom: 20px;
	padding: 5px 5px 5px 17px;
	background: url(./PmyYpG5Ij.png) no-repeat 4px 11px
}

.mi-form-item .mi-label input {
	margin-right: 2px
}

.mi-input-account {
	height: 24px;
	width: 328px;
	font-size: 14px
}

.mi-label {
	width: 350px;
	text-align: left;
	margin-left: 0
}

.fg-pwd-area {
	position: absolute;
	top: -3px;
	right: 0
}

.newBtn-orange, .newBtn-blue {
	display: block;
	width: 110px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fefefe;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 3px
}

.newBtn-small {
	width: 100px;
	height: 30px;
	line-height: 30px
}

.newBtn-long {
	width: 348px
}

.newBtn-orange {
	border: 1px solid #D86E0F;
	background: #F57403
}

.newBtn-blue {
	border: 1px solid #0fa4db;
	background: #00aeef
}

.newBtn-orange-disabled, .newBtn-blue-disabled {
	background: #cacccd;
	color: #aeb1b3;
	font-weight: 700;
	border: 1px solid #cacccd;
	cursor: default
}

.newBtn-orange:hover {
	line-height: 36px;
	text-decoration: none;
	background: #FB8318
}

.newBtn-blue:hover {
	line-height: 36px;
	text-decoration: none;
	background: #05b5f7
}

.newBtn-small:hover {
	line-height: 28px
}

.newBtn-orange-disabled:hover, .newBtn-blue-disabled:hover {
	line-height: 36px;
	text-decoration: none;
	background: #cacccd;
	cursor: default
}

.newBtn-orange span, .newBtn-blue span {
	display: block;
	border: 0;
	height: 38px;
	cursor: pointer
}

.newBtn-small span {
	height: 30px
}

.newBtn-orange:hover span {
	height: 36px;
	border: 1px solid #FAA65A
}

.newBtn-blue:hover span {
	height: 36px;
	border: 1px solid #4bcaf9
}

.newBtn-small:hover span {
	height: 28px
}

.newBtn-orange-disabled:hover span, .newBtn-blue-disabled:hover span {
	border: 1px solid #cacccd;
	cursor: default
}

.mi-form-item-success .mi-form-explain, .mi-form-item-forbidden .mi-form-explain,
	.mi-form-item-cue .mi-form-explain, .mi-form-item-warn .mi-form-explain,
	.mi-form-item-error .mi-form-explain, .mi-form-item-doubt .mi-form-explain,
	.mi-form-item-wait .mi-form-explain {
	background-image: url(./3EJq37MT4T.png)
}

#partner {
	background-color: #f7f7f7;
	margin-top: 10px;
	padding: 20px 0 16px;
	text-align: center
}

#content .placeholder {
	color: #aaa
}

.fg-opt-area {
	padding: 20px 15px 25px;
	height: 30px;
	width: 450px
}

.icon-phone, .icon-tao {
	background: url(./QaJSXACT7.png) 0 0 no-repeat;
	float: left;
	width: 42px;
	height: 32px
}

.icon-tao {
	background-position: 0 -32px
}

.fg-text {
	float: left;
	margin: 5px 10px;
	font-size: 14px
}

.fg-line-parent {
	padding: 0 20px
}

.fg-line {
	border-bottom: 1px dashed #ccc;
	float: left;
	width: 100%;
	height: 0;
	overflow: hidden
}

#teLogin-left {
	width: 60%
}

.t-login-form {
	background: url(./OyuPSd4Mn.png) no-repeat 60% 0
}

.t-login-form .submitContainer {
	width: 100%;
	padding-left: 0
}

.t-login-form .submitContainer .left-submitContainer {
	width: 65%;
	text-align: center
}

.t-login-form .submitContainer .right-nextContainer {
	width: 35%;
	text-align: center
}

.next-mobile h3.mt55 {
	margin-top: 55px;
	color: #000;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53
}

.teBox .use-account-title {
	margin-top: 55px;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53
}

.pb6 {
	padding-bottom: 6px
}

.ag-cb {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle
}

.partner-name {
	color: red
}

.login-title {
	width: 100%
}

.login-title-left {
	float: left;
	font-size: 20px;
	background-color: #fff;
	text-decoration: none
}

.login-title .lt-text {
	color: #000;
	font-size: 20px;
	background-color: #fff
}

.login-title .rt-text {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: #1589ca
}

.login-title-right {
	float: right;
	font-size: 16px;
	line-height: 33px;
	text-decoration: none
}

.login-title-area {
	border-bottom: 2px solid #CBCBCB;
	position: relative;
	height: 30px;
	margin: 50px 0 20px;
	padding: 2px 0
}

.login-title li {
	float: left
}

.login-title li a {
	display: block;
	font-weight: 700;
	color: #666;
	border-bottom: 0;
	background-color: #fff;
	text-decoration: none;
	font-size: 20px
}

.login-title li a.to-mobile {
	padding: 10px 0 0 90px;
	border: 0;
	color: #08c;
	font-size: 16px
}

@font-face {
	font-family: rei;
	src: url(https://i.alipayobjects.com/common/fonts/rei.eot?20130819);
	src:
		url(https://i.alipayobjects.com/common/fonts/rei.eot?20130819#iefix)
		format("embedded-opentype"),
		url(https://i.alipayobjects.com/common/fonts/rei.woff?20130819)
		format("woff"),
		url(https://i.alipayobjects.com/common/fonts/rei.ttf?20130819)
		format("truetype"),
		url(https://i.alipayobjects.com/common/fonts/rei.svg?20130819#rei)
		format("svg")
}

.iconfont {
	font-family: rei;
	font-style: normal;
	font-weight: 400;
	cursor: default;
	-webkit-font-smoothing: antialiased
}

.ft-yh {
	font-family: \5FAE\8F6F\96C5\9ED1, \9ED1\4F53, \5B8B\4F53
}

.r-qrpay {
	width: 40%;
	text-align: center
}

.amount-font {
	color: #f60;
	margin: 0 5px;
	font-weight: 700
}

.separate {
	height: 0;
	overflow: hidden
}

.fn-absolute {
	position: absolute
}

.orderDetail-base {
	background-color: #EFF4FF;
	border-bottom: 3px solid #A3B5DB;
	padding: 16px 20px;
	position: relative
}

.ui-tip {
	background: #E8E8E8;
	position: absolute;
	z-index: 9999
}

.ui-tip .ui-icon-dialog-arrow, .ui-privilege-tip .ui-icon-dialog-arrow {
	background: url(./3LPrsalrOr.png) 999px 999px no-repeat
}

.ui-privilege-tip {
	position: absolute;
	z-index: 9999;
	background: #e8e8e8
}

.icon {
	height: 36px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.cashier-cash .icon {
	width: auto
}

.ui-list-icons li {
	float: left;
	margin-bottom: 22px;
	margin-right: 20px;
	width: 156px
}

.icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden
}

.icon-parent-fix {
	position: relative
}

.icon-parent-fix .icon {
	position: absolute;
	top: 50%;
	left: 0
}

.more-arrow, .shrink-arrow, .ico-creditCard, .realName-icon {
	display: inline-block;
	overflow: hidden;
	cursor: default;
	vertical-align: middle;
	background: url(./2V0t7Te9SO.png) no-repeat
}

.more-arrow {
	width: 10px;
	height: 7px;
	background-position: -71px -48px
}

.shrink-arrow {
	width: 10px;
	height: 7px;
	background-position: -71px -55px
}

.orderDetail-more-link a, .orderDetail-shrink-link a {
	color: #FFF
}

.icon-box .icon {
	background-repeat: no-repeat;
	color: #07F;
	display: block;
	font-weight: 700;
	height: 36px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px;
	white-space: nowrap
}

.order-item table {
	table-layout: fixed;
	width: 680px
}

.order-item table td {
	word-wrap: break-word
}

.order-item-label {
	text-align: right;
	width: 80px;
	font-style: normal;
	font-weight: 500
}

#J-orderDetail .first {
	font-weight: 700;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
	margin-top: 4px
}

#J-orderDetail .second {
	display: block;
	line-height: 22px
}

#J-orderDetail .ajax-Account .ico-shield, #J-orderDetail .ajax-Account .ico-bow,
	#J-orderDetail .ajax-Account .ico-assure {
	display: none
}

#J-orderDetail .acount-merge {
	width: 100%
}

#J-orderDetail .ajax-Account th {
	white-space: nowrap
}

#J-orderDetail .muti-order {
	width: 100%;
	margin-bottom: 10px
}

#J-orderDetail .muti-order .muti-list {
	background-color: #FFF;
	height: 24px
}

#J-orderDetail .muti-order .muti-list th {
	border-bottom: 1px solid #bfbfbf
}

#J-orderDetail .muti-order tbody {
	border-bottom: 1px solid #dcdcdc
}

#J-orderDetail .muti-order tbody tr {
	height: 36px
}

#J-orderDetail .muti-order tbody td {
	border-bottom: 1px dashed #dcdcdc
}

#J-orderDetail .muti-order .trade-type, #J-orderDetail .muti-order .order-type
	{
	padding-left: 10px
}

.order-extand-explain .create-time {
	margin-left: 20px
}

.order-extand-explain .commodity-message-row {
	height: 18px
}

.order-extand-explain .explain-trigger-area {
	cursor: pointer
}

#order .ui-detail {
	width: 100%;
	position: absolute;
	z-index: 100
}

#order.order-shield .ui-detail, #order.order-assure .ui-detail {
	background-color: #e4f8c3;
	border: 0;
	border-bottom: 3px solid #87a74d
}

#order.order-bow .ui-detail {
	background-color: #deeaff;
	border: 0;
	border-bottom: 3px solid #85aed4
}

#order.order-merge .ui-detail {
	background-color: #f5f5f5;
	border: 0;
	border-bottom: 3px solid #bababa
}

.ui-detail .separate {
	margin-bottom: 7px
}

.order-detail-container {
	width: 680px
}

.order-detail-amount {
	position: absolute;
	right: 30px;
	bottom: -10px;
	text-align: right
}

.j-orderDetail-more, .j-orderDetail-shrink {
	color: #FFF
}

.ui-detail-iframe-fix {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.od-price-cnt {
	float: right;
	margin-top: -24px;
	position: absolute;
	right: 50px;
	bottom: 16px;
	text-align: right
}

.od-price-num {
	font-size: 22px
}

.od-privilege-cnt {
	font-size: 0;
	text-align: right
}

.od-privilege-text {
	background-color: #FFF;
	border: 1px solid #1E73C1;
	color: #1E73C1;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	padding-right: 1px;
	font-size: 12px
}

.od-privilege-type {
	background-color: #1E73C1;
	color: #FFF;
	padding: 0 2px
}

.od-more-cnt {
	position: relative;
	z-index: 1;
	width: 685px;
	line-height: 22px;
	padding-bottom: 20px;
	padding-left: 23px
}

.privilege-list {
	padding: 5px 12px 10px
}

.privilege-list li {
	padding: 4px 0
}

.privilege-list .od-privilege-text {
	margin-right: 5px
}

.privilege-list .privilege-hr {
	border-bottom: 1px dashed #EEE;
	float: left;
	width: 100%;
	height: 0;
	overflow: hidden
}

.privilege-hr-fix {
	*float: left
}

#order {
	position: relative;
	margin-top: 15px;
	*zoom: 1;
	*z-index: 101
}

.orderDetail-base {
	padding: 16px 23px;
	position: relative
}

.orderDetail-base .order-ie6-fix {
	overflow: hidden;
	height: 0
}

#order.order-shield .orderDetail-base, #order.order-assure .orderDetail-base
	{
	background-color: #e4f8c3;
	border-bottom: 3px solid #87a74d;
	color: #3f542a
}

#order.order-bow .orderDetail-base {
	background-color: #deeaff;
	border-bottom: 3px solid #85aed4;
	color: #244d75
}

#order.order-merge .orderDetail-base {
	background-color: #f5f5f5;
	border-bottom: 3px solid #bababa
}

.order-extand-explain .create-time {
	margin-left: 15px
}

.commodity-message-row {
	height: 22px;
	overflow: hidden;
	padding-top: 14px
}

.commodity-message-row .second, .commodity-message-row .first {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.commodity-message-row .first {
	font-weight: 700;
	font-size: 14px;
	float: left
}

.commodity-message-row .second {
	margin-left: 20px;
	float: left;
	margin-top: 1px
}

.commodity-message-row .long-content {
	max-width: 400px;
	_width: 400px
}

.commodity-message-row .short-content {
	max-width: 165px;
	_width: 165px
}

.commodity-message-row .forex10002-rate {
	max-width: 525px;
	_width: 525px
}

.payAmount-area {
	position: absolute;
	bottom: 16px;
	right: 23px;
	text-align: right;
	z-index: 1
}

.payAmount-area .amount-font-22 {
	font-size: 22px;
	line-height: 22px;
	color: #f60
}

.payAmount-area .amount-font-14 {
	font-size: 14px;
	line-height: 14px;
	color: #f60
}

.orderDetail-more-link, .orderDetail-shrink-link {
	position: absolute;
	right: 23px;
	padding: 5px 10px;
	z-index: -1
}

.orderDetail-more-link {
	bottom: -25px
}

#order.order-shield .orderDetail-more-link, #order.order-shield .orderDetail-shrink-link,
	#order.order-assure .orderDetail-more-link, #order.order-assure .orderDetail-shrink-link
	{
	background-color: #87a74d
}

#order.order-bow .orderDetail-more-link, #order.order-bow .orderDetail-shrink-link
	{
	background-color: #85aed4
}

#order.order-merge .orderDetail-more-link, #order.order-merge .orderDetail-shrink-link
	{
	background-color: #bababa
}

.multi-discount {
	background: url(./1FVDQtrGBR.png) 999px 999px no-repeat;
	background-position: -122px -384px;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	vertical-align: middle;
	text-indent: -9999px
}

.ui-tip .ui-icon-dialog-arrow {
	background-position: -2px -13px;
	_background-position: -3px -13px;
	height: 16px;
	left: -6px;
	margin-top: 12px;
	text-indent: -999px;
	top: 0;
	width: 9px;
	z-index: 1
}

.ui-tips-bubble {
	background: #e8e8e8
}

.ui-tips-bubble .ui-icon-dialog-arrow {
	margin: -3px 0 0 -10px;
	width: 16px;
	height: 11px;
	_bottom: -8px;
	background-position: -89px -333px;
	line-height: 16px;
	overflow: hidden
}

.ui-tips-bubble .ui-icon-top-arrow {
	top: -9px;
	_bottom: -12px;
	background-position: -171px 0
}

.ui-tip .ui-dialog-head-text {
	padding: 10px 12px 0;
	position: relative;
	color: #4D4D4D
}

.ui-dialog-head-text span {
	font-weight: 700
}

.ui-tip .ui-dialog-content {
	padding: 5px
}

.ui-privilege-tip .ui-icon-dialog-arrow {
	height: 16px;
	left: 100%;
	margin-top: 7px;
	text-indent: -999px;
	top: 0;
	z-index: 1;
	margin-left: -5px;
	_margin-left: -6px;
	width: 12px;
	background-position: 0 3px
}

.ui-dialog {
	position: absolute;
	z-index: 9999
}

.ui-dialog-container {
	*display: inline-block;
	_display: inline;
	height: 100%;
	position: relative;
	zoom: 1
}

.ui-dialog-modal {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.ui-dialog-modal .ui-dialog-shadow {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
	filter: alpha(opacity = 20);
	-ms-filter: 'Alpha(Opacity=20)'
}

.ui-dialog-shadow iframe {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: 'Alpha(Opacity=0)'
}

.ui-icon-dialog-arrow {
	position: absolute;
	left: 50%;
	background-repeat: no-repeat
}

.ui-dialog-fix {
	height: 100%;
	bottom: 0;
	left: -2px;
	top: -2px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	background-color: transparent;
	opacity: 0;
	filter: alpha(opacity = 0)
}

.no-balance-cash {
	border-top: 0 !important
}

.ui-dialog-header {
	background-color: #F5F5F5;
	margin-bottom: 4px;
	padding: 4px 10px;
	position: relative
}

.ui-dialog-header span {
	font-weight: 700
}

.ui-dialog-close {
	cursor: pointer;
	position: absolute;
	right: 10px
}

.ui-dialog-arrow {
	background: url(./2fojXdFuXR.png) no-repeat scroll 0 0
		transparent;
	height: 11px;
	overflow: hidden;
	position: absolute;
	right: 70px;
	width: 15px;
	z-index: 200
}

.ui-tip .ui-dialog-content {
	padding: 5px 12px 10px
}

.ui-tip .ui-dialog-container {
	background-color: #fff;
	margin: 2px;
	border: solid 1px #B3B3B3;
	width: 308px;
	z-index: 1
}

.ui-tip .j-apop-close {
	position: absolute;
	right: 10px;
	top: 0;
	margin-top: 6px
}

.ui-privilege-tip .ui-dialog-container-privilege {
	width: 342px;
	text-align: left;
	color: #A6A6A6;
	background-color: #fff;
	border: solid 1px #b3b3b3;
	z-index: 1;
	margin: 2px;
	height: 100%;
	position: relative;
	zoom: 1
}

.ui-privilege-tip .ui-dialog-head-text {
	padding: 10px 12px 0;
	position: relative;
	color: #4d4d4d
}

.ui-privilege-tip .ui-dialog-head-text span {
	font-weight: 700
}

.trade-merge-table {
	width: 900px;
	table-layout: fixed;
	border-bottom: 1px solid #dcdcdc
}

.trade-merge-table .type {
	width: 50px
}

.trade-merge-table .name {
	width: 140px
}

.trade-merge-table .num {
	width: 160px
}

.trade-merge-table .other {
	width: 110px
}

.trade-merge-table .amount {
	width: 50px
}

.trade-merge-table td {
	padding: 5px 2px;
	word-wrap: break-word;
	border-bottom: 1px dashed #dcdcdc
}

.trade-merge-table th {
	padding: 5px 2px;
	word-wrap: break-word;
	background-color: #e2e2e2
}

.order-pagenum-area {
	width: 900px;
	margin-top: 5px
}

.order-pagenum-area span.order-pagenum {
	color: #4D4D4D;
	margin: 5px;
	cursor: pointer
}

.order-pagenum-area span.order-pagenum-select {
	font-weight: 700;
	color: #08C
}

.order-total-num {
	margin-right: 10px
}

#container {
	width: 950px;
	margin: 0 auto;
	overflow: hidden
}

.ico-shield, .ico-bow, .ico-box, .ico-assure, .order-type-navigator .icon-question
	{
	display: inline-block;
	overflow: hidden;
	cursor: default;
	vertical-align: middle;
	background: url(./2V0t7Te9SO.png) no-repeat
}

.ico-shield, .ico-bow, .ico-assure {
	width: 47px;
	height: 47px;
	margin-top: -30px;
	margin-right: 6px;
	zoom: 1;
	position: relative
}

.ico-shield {
	background-position: -49px 0
}

.ico-bow {
	background-position: -99px 0
}

.ico-assure {
	background-position: 0 0
}

.ico-box {
	background-position: 0 -49px;
	width: 17px;
	height: 12px
}

.order-shield .icon-question, .order-assure .icon-question {
	background-position: -38px -50px;
	cursor: pointer;
	margin: 0;
	width: 12px;
	height: 12px
}

.order-bow .icon-question {
	background-position: -22px -50px;
	cursor: pointer;
	margin: 0;
	width: 12px;
	height: 12px
}

.seller-name {
	margin-left: 17px
}

#J_orderPriceMore {
	display: none
}

html {
	color: #4D4D4D
}

.ft-red {
	color: red
}

.alieditContainer * {
	vertical-align: bottom
}

.alieditContainer {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 184px;
	height: 24px;
	vertical-align: bottom;
	position: relative
}

.alieditContainer object {
	width: 100%;
	height: 24px
}

.alieditContainer a.aliedit-install {
	border: 1px solid #AEAEAE;
	line-height: 24px;
	color: #06F !important;
	_width: 184px;
	min-width: 184px;
	height: 100%;
	display: block;
	text-align: center
}

.mi-loading-text {
	margin-left: 5px
}

.mi-form-explain {
	height: 18px
}

.mi-label {
	padding: 1px 0 6px;
	padding: 3px 0 0\9;
	*padding: 2px 0 0;
	_padding: 1px 0 0
}

.account-loading-explain {
	background: url(./2budYKAewD.gif) no-repeat 0 4px;
	color: #4D4D4D;
	height: 18px;
	padding: 3px 0 0 19px;
	padding-top: 5 px\9;
	*padding-top: 5px;
	_padding-top: 3px;
	_margin-left: 3px;
	font-size: 12px
}

span.btn {
	display: inline-block;
	line-height: 100%;
	text-align: left;
	text-decoration: none;
	vertical-align: middle
}

span.btn, span.btn input, span.btn button {
	background-image: url(./187HQtMqDP.png);
	background-repeat: repeat-x;
	border: medium none;
	cursor: pointer;
	outline: medium none
}

span.btn-ok, span.btn-ok-hover, span.btn-ok-disabled {
	border: 1px solid #D74C00;
	font-family: SimSun;
	font-size: 14px;
	padding: 1px
}

span.btn-ok {
	background-position: 0 0;
	margin-left: 0
}

span.btn input, span.btn button {
	vertical-align: baseline
}

span.btn-ok button, span.btn-ok input, span.btn-ok-hover button, span.btn-ok-hover input
	{
	color: #FFF;
	font-weight: 700;
	height: 29px;
	line-height: 28px;
	padding: 0 16px 3px
}

span.btn-ok button, span.btn-ok input {
	background-position: 0 -70px;
	font-family: SimSun;
	height: 29px
}

.sub-th {
	width: 66px
}

.order {
	z-index: 2
}

.ui-detail {
	padding-top: 0
}

.ui-detail .separate {
	margin-bottom: 3px
}

.ui-tip .ui-dialog-container {
	width: 360px
}

.teBox {
	height: 380px
}

#footer {
	background-color: #fff
}

#content .ui-label {
	color: #4D4D4D;
	font: 14px/1.5 tahoma, arial, \5b8b\4f53
}

.ui-form-item a {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53
}

.other-pay {
	margin-top: 30px;
	position: relative
}

.other-pay h3 {
	border: 1px solid #A1BEDE;
	height: 31px;
	line-height: 31px;
	padding-left: 20px;
	font-size: 14px;
	color: #4D4D4D;
	background: url(./187HQtMqDP.png) 0 -435px repeat-x;
	font-weight: 700
}

.fn-mb19 {
	margin-bottom: 19px
}

.xbox-btn-normal {
	padding: 0 0 20px 170px
}

.ui-poptip {
	color: #DB7C22;
	z-index: 101;
	font-size: 12px;
	line-height: 1.5;
	zoom: 1
}

.ui-poptip-shadow {
	background-color: rgba(229, 169, 107, .15);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b,
		endColorstr=#26e5a96b);
	border-radius: 2px;
	padding: 2px;
	zoom: 1;
	_display: inline
}

.ui-poptip-container {
	position: relative;
	background-color: #FFFCEF;
	border: 1px solid #ffbb76;
	border-radius: 2px;
	padding: 5px 15px;
	zoom: 1;
	_display: inline
}

.ui-poptip:after, .ui-poptip-shadow:after, .ui-poptip-container:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

a.ui-poptip-close {
	position: absolute;
	right: 3px;
	top: 3px;
	border: 1px solid #ffc891;
	text-decoration: none;
	border-radius: 3px;
	width: 12px;
	height: 12px;
	font-family: tahoma;
	color: #dd7e00;
	line-height: 10px;
	*line-height: 12px;
	text-align: center;
	font-size: 14px;
	background: #ffd7af;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF0E1),
		to(#FFE7CD));
	background: -moz-linear-gradient(top, #FFF0E1, #FFE7CD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1',
		endColorstr='#FFE7CD');
	background: -o-linear-gradient(top, #FFF0E1, #FFE7CD);
	background: linear-gradient(top, #FFF0E1, #FFE7CD);
	overflow: hidden
}

a.ui-poptip-close:hover {
	border: 1px solid #ffb24c;
	text-decoration: none;
	color: #dd7e00;
	background: #ffd7af;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFE5CA),
		to(#FFCC98));
	background: -moz-linear-gradient(top, #FFE5CA, #FFCC98);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA',
		endColorstr='#FFCC98');
	background: -o-linear-gradient(top, #FFE5CA, #FFCC98);
	background: linear-gradient(top, #FFE5CA, #FFCC98)
}

.ui-poptip-arrow {
	position: absolute;
	z-index: 10;
	*zoom: 1
}

.ui-poptip-arrow em, .ui-poptip-arrow span {
	position: absolute;
	*zoom: 1;
	width: 0;
	height: 0;
	border-color: rgba(255, 255, 255, 0);
	border-color: transparent\0;
	*border-color: transparent;
	_border-color: tomato;
	_filter: chroma(color = tomato);
	border-style: solid;
	overflow: hidden;
	top: 0;
	left: 0
}

.ui-poptip-arrow-10 {
	left: -6px;
	top: 10px
}

.ui-poptip-arrow-10 em {
	top: 0;
	left: -1px;
	border-right-color: #ffbb76;
	border-width: 6px 6px 6px 0
}

.ui-poptip-arrow-10 span {
	border-right-color: #FFFCEF;
	border-width: 6px 6px 6px 0
}

.ui-poptip-arrow-2 {
	top: 10px;
	right: 0
}

.ui-poptip-arrow-2 em {
	top: 0;
	left: 1px;
	border-left-color: #ffbb76;
	border-width: 6px 0 6px 6px
}

.ui-poptip-arrow-2 span {
	border-left-color: #FFFCEF;
	border-width: 6px 0 6px 6px
}

.ui-poptip-arrow-11 em, .ui-poptip-arrow-11 span {
	
}

.ui-poptip-arrow-11 em, .ui-poptip-arrow-1 em {
	border-width: 0 6px 6px;
	border-bottom-color: #ffbb76;
	top: -1px;
	left: 0
}

.ui-poptip-arrow-11 span, .ui-poptip-arrow-1 span {
	border-width: 0 6px 6px;
	border-bottom-color: #FFFCEF
}

.ui-poptip-arrow-11 {
	left: 14px;
	top: -6px
}

.ui-poptip-arrow-1 {
	right: 28px;
	top: -6px
}

.ui-poptip-arrow-5 em, .ui-poptip-arrow-7 em {
	border-width: 6px 6px 0;
	border-top-color: #ffbb76;
	top: 1px;
	left: 0
}

.ui-poptip-arrow-5 span, .ui-poptip-arrow-7 span {
	border-width: 6px 6px 0;
	border-top-color: #FFFCEF
}

.ui-poptip-arrow-5 {
	right: 28px;
	bottom: 0
}

.ui-poptip-arrow-7 {
	left: 14px;
	bottom: 0
}

:root .ui-poptip-shadow {
	FILTER: none\9
}

.ui-poptip-blue {
	color: #4d4d4d
}

.ui-poptip-blue .ui-poptip-shadow {
	background-color: rgba(0, 0, 0, .05);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000,
		endColorstr=#0c000000)
}

.ui-poptip-blue .ui-poptip-container {
	background-color: #F8FCFF;
	border: 1px solid #B9C8D3
}

.ui-poptip-blue .ui-poptip-arrow-10 em {
	border-right-color: #B9C8D3
}

.ui-poptip-blue .ui-poptip-arrow-11 em, .ui-poptip-blue .ui-poptip-arrow-1 em
	{
	border-bottom-color: #B9C8D3
}

.ui-poptip-blue .ui-poptip-arrow-2 em, .ui-poptip-blue .ui-poptip-arrow-4 em
	{
	border-left-color: #B9C8D3
}

.ui-poptip-blue .ui-poptip-arrow-5 em, .ui-poptip-blue .ui-poptip-arrow-7 em
	{
	border-top-color: #B9C8D3
}

.ui-poptip-blue .ui-poptip-arrow-10 span {
	border-right-color: #F8FCFF
}

.ui-poptip-blue .ui-poptip-arrow-11 span, .ui-poptip-blue .ui-poptip-arrow-1 span
	{
	border-bottom-color: #F8FCFF
}

.ui-poptip-blue .ui-poptip-arrow-2 span, .ui-poptip-blue .ui-poptip-arrow-4 span
	{
	border-left-color: #F8FCFF
}

.ui-poptip-blue .ui-poptip-arrow-5 span, .ui-poptip-blue .ui-poptip-arrow-7 span
	{
	border-top-color: #F8FCFF
}

.ui-poptip-white {
	color: #333
}

.ui-poptip-white .ui-poptip-shadow {
	background-color: rgba(0, 0, 0, .05);
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000,
		endColorstr=#0c000000)
}

.ui-poptip-white .ui-poptip-container {
	background-color: #fff;
	border: 1px solid #b1b1b1
}

.ui-poptip-white .ui-poptip-arrow-10 em {
	border-right-color: #b1b1b1
}

.ui-poptip-white .ui-poptip-arrow-11 em, .ui-poptip-white .ui-poptip-arrow-1 em
	{
	border-bottom-color: #b1b1b1
}

.ui-poptip-white .ui-poptip-arrow-2 em, .ui-poptip-white .ui-poptip-arrow-4 em
	{
	border-left-color: #b1b1b1
}

.ui-poptip-white .ui-poptip-arrow-5 em, .ui-poptip-white .ui-poptip-arrow-7 em
	{
	border-top-color: #b1b1b1
}

.ui-poptip-white .ui-poptip-arrow-10 span {
	border-right-color: #fff
}

.ui-poptip-white .ui-poptip-arrow-11 span, .ui-poptip-white .ui-poptip-arrow-1 span
	{
	border-bottom-color: #fff
}

.ui-poptip-white .ui-poptip-arrow-2 span, .ui-poptip-white .ui-poptip-arrow-4 span
	{
	border-left-color: #fff
}

.ui-poptip-white .ui-poptip-arrow-5 span, .ui-poptip-white .ui-poptip-arrow-7 span
	{
	border-top-color: #fff
}

.qrpay-discount-tip {
	width: 160px;
	text-align: left;
	display: none;
	position: absolute
}

.qrpay-discount-container {
	padding: 5px
}

.qrcode-independence, .qrcode-integration {
	width: 300px;
	margin: 0 auto
}

.qrcode-independence .qrcode-header, .qrcode-integration .qrcode-header,
	.qrcode-cross .qrcode-header {
	padding: 50px 0 10px;
	margin: 0 auto;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.qrcode-independence .qrcode-header, .qrcode-cross .qrcode-header {
	width: 230px
}

.qrcode-integration .qrcode-header {
	width: 185px
}

.qrcode-title {
	margin: 2px 15px;
	font-size: 22px
}

.qrcode-reward {
	margin-bottom: 10px;
	padding: 2px 0;
	margin: 2px 0;
	font-size: 12px;
	border-radius: 3px;
	background-color: #FC363B;
	color: #fff
}

.qrcode-reward-question {
	font-size: 14px;
	margin: 0 5px
}

.qrcode-independence .qrcode-img-area, .qrcode-cross .qrcode-img-area {
	width: 230px;
	margin: 0 auto;
	position: relative;
	height: 234px
}

.qrcode-integration .qrcode-img-area {
	width: 220px;
	margin: 0 auto;
	position: relative;
	height: 185px
}

.ui-loading {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-image: url(./M9UQl3TuH.gif);
	text-align: center;
	line-height: 50px;
	font-size: 11px;
	color: #777
}

.qrcode-independence .qrcode-loading {
	position: absolute;
	top: 39%;
	left: 40%
}

.qrcode-integration .qrcode-loading {
	position: absolute;
	top: 36%;
	left: 38%
}

.qrcode-foot {
	height: 65px;
	padding: 10px 0;
	display: none
}

.qrcode-explain {
	margin: 0;
	font-size: 14px
}

.qrcode-explain a:hover {
	text-decoration: none
}

.qrcode-notice {
	width: 230px;
	margin: 0 auto
}

.qrcode-notice .qrcode-notice-title {
	padding: 10px 3px 11px 63px;
	text-align: left;
	border-radius: 3px
}

.qrcode-notice .qrcode-notice-iconfont {
	margin: 2px 0 0 -51px
}

.qrcode-notice .qrcode-notice-bar {
	font-size: 16px;
	font-weight: 700
}

.qrcode-notice .qrcode-notice-explain {
	font-size: 12px;
	color: gray;
	padding: 0
}

html body .fn-mt20 {
	margin-top: 10px
}

.qrcode-area .ft-16 {
	font-size: 16px
}

.qrcode-area .fn-pt20 {
	padding-top: 20px
}

.qrpay-content .qrcode-area .fn-mb50 {
	margin-bottom: 50px
}

.qrcode-area .fn-mt50 {
	margin-top: 50px
}

.qrcode-area .qrpay-crash-icon {
	font-size: 38px;
	color: #f90
}

.qrcode-area .qrpay-crash-explain {
	color: #b2b2b2;
	margin-top: 10px
}

.qrcode-cross {
	width: 650px;
	background: url(./OyuPSd4Mn.png) no-repeat 50% 50%
}

.qrcode-cross-content {
	width: 300px
}

.qrcode-cross-explain {
	vertical-align: top;
	padding-top: 100px;
	width: 300px
}

.qrcode-cross .ft-19 {
	font-size: 19px
}

.qrcode-cross .qrcode-ex-text {
	font-size: 12px;
	color: #999
}

.qrcode-cross .qrcode-header {
	padding: 0 0 10px
}

.ui-poptip {
	*z-index: 9999 !important
}

.qrcode-discount-privilege {
	background-color: #FFF;
	height: auto;
	padding: 5px 0
}

.discount-list {
	color: #a6a6a6
}

.discount-list .discount-item {
	margin-bottom: 8px
}

.discount-list .action-rt, .action-rt {
	line-height: 14px;
	height: 14px;
	font-size: 12px !important;
	background-color: #fff !important;
	border: 1px solid #1e73c1;
	color: #1e73c1;
	margin-right: 2px;
	display: inline-block;
	zoom: 1
}

.discount-list .rt-discount {
	padding: 0 2px
}

.action-rt .action-rt-type {
	background-color: #1e73c1;
	display: inline-block;
	color: #fff;
	height: 14px;
	line-height: 14px;
	padding: 0 2px;
	zoom: 1
}

.discount-list .discount-desc {
	border-top: 1px dashed #e6e6e6;
	padding-top: 6px;
	position: static
}

.qrcode-area {
	margin: 0 auto;
	position: relative;
}

.qrcode-integration
                .qrcode-header {
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	margin-top: 75px;
	margin-bottom: 16px;
}

.qrcode-header-money {
	font-size: 26px;
	font-weight: 700;
	color: #f60;
}

.qrcode-integration .qrcode-img-area {
	width: 168px;
	height: 168px;
	text-align: center;
}

.qrcode-img-area.qrcode-img-crash {
	height: 220px;
}

.qrcode-reward-wrapper {
	text-align: center;
}

.qrcode-reward {
	display: inline-block;
	margin: 0;
	padding: 2px 5px;
	background-color: #0188cd;
	border-radius: 0;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}

.qrcode-reward-question {
	font-size: 12px;
	margin-left: 5px;
	margin-right: 0;
}

.qrcode-integration .qrcode-loading {
	top: 70px;
	left: 60px;
}

.qrcode-integration
                .qrcode-img {
	top: 70px;
	left: 70px;
}

.qrcode-integration .qrcode-img-wrapper {
	position: relative;
	width: 168px;
	height: auto;
	min-height: 168px;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid #d3d3d3;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
}

.qrcode-img-area .qrcode-busy-icon {
	padding-top: 15px;
}

.qrcode-img-area .qrcode-busy-text {
	margin-top: 20px;
}

a.mi-button-lwhite .mi-button-text {
	padding: 8px 39px 4px 36px;
}

.qrcode-img-area .mi-button {
	margin-top: 40px;
}

.qrcode-img-explain {
	padding: 10px 0 6px;
}

.qrcode-img-explain img {
	margin-left: 20px;
	margin-top: 5px;
}

.qrcode-img-explain div {
	margin-left: 10px;
}

.qrcode-foot {
	text-align: center;
}

.qrcode-downloadApp, .qrcode-downloadApp:hover, .qrcode-downloadApp:active,
	.qrcode-explain a.qrcode-downloadApp:hover {
	font-size: 12px;
	color: #a6a6a6;
	text-decoration: underline;
}

.area-split {
	margin-top: 156px;
	width: 10px;
	height: 300px;
	background-image: url(images/T1PspfXixsXXXXXXXX.png);
	background-repeat: no-repeat;
}

.qrguide-area {
	position: absolute;
	top: 62px;
	left: 505px;
	width: 204px;
	height: 183px;
	cursor: pointer;
}

.qrguide-area .qrguide-area-img {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.qrguide-area .qrguide-area-img.active {
	z-index: 10;
}

.qrguide-area
                .qrguide-area-img.background {
	z-index: 9;
}

.qrcode-notice .qrcode-notice-title {
	padding: 10px 10px 11px 63px;
}

#header {
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	margin-top: 0px;
}

#header .header-title {
	width: 380px;
	height: 60px;
	float: left;
}

#header .logo {
	float: left;
	height: 31px;
	width: 95px;
	margin-top: 14px;
	text-indent: -9999px;
	background: none;
	!
	important
}

#header .logo-title {
	font-size: 16px;
	font-weight: normal;
	font-family: "Microsoft YaHei", 微软雅黑, "宋体";
	border-left: 1px solid #676d70;
	color: #676d70;
	height: 20px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

.header-container {
	width: 950px;
	margin: 0 auto;
}

body, #footer {
	background-color: #cccccc;
}

#footer #ServerNum {
	color: #eff0f1;
}

.login-switchable-container {
	background-color: #fff;
}

#order.order-bow .orderDetail-base, #order.order-bow .ui-detail {
	border-bottom: 3px solid #bbb;
	background: #eff0f1;
	color: #000;
}

.order-ext-trigger {
	position: absolute;
	right: 20px;
	bottom: 0;
	height: 22px;
	padding: 2px 8px 1px;
	font-weight: 700;
	border-top: 0;
	background: #b3b3b3;
	z-index: 100;
	color: #fff;
}

#partner {
	margin-top: 0;
	padding-top: 0;
	background-color: #eff0f1;
}

#order.order-bow .orderDetail-base, #order.order-bow .ui-detail {
	border-bottom: 3px solid #b3b3b3;
}

.payAmount-area {
	bottom: 36px;
}

.alipay-logo {
	display: block;
	width: 150px;
	position: relative;
	left: 0;
	top: 10px;
	float: left;
	height: 39px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(./logo.png);
}

.ui-securitycore .ui-label, .mi-label {
	text-align: left;
	height: auto;
	line-height: 18px;
	padding: 0;
	display: block;
	padding-bottom: 8px;
	margin: 0;
	width: auto;
	float: none;
	font: 14px/1.5 tahoma, arial, \5b8b\4f53;
}

.ui-securitycore .ui-form-item {
	position: relative;
	padding: 0 0 10px 0;
	width: 350px;
}

.ui-securitycore .ui-form-explain {
	height: 18px;
	font-family: tahoma, arial, \5b8b\4f53;
}

.ui-securitycore .edit-link {
	position: absolute;
	top: -3px;
	right: 0;
}

.ui-securitycore .ui-input {
	height: 28px;
	font-size: 14px;
}

.ui-securitycore .standardPwdContainer .ui-input {
	width: 340px;
}

.ui-securitycore .mobile-section.checkcode-section {
	margin-top: 10px;
}

.mobile-form .ui-securitycore .ui-form-item-mobile {
	display: none;
}

.mobile-form .ui-securitycore .ui-form-item-mobile .ui-label {
	
}

.mobile-form .ui-securitycore .ui-form-item-mobile .ui-form-text {
	display: none;
}

.mobile-form .ui-securitycore .ui-form-item-counter {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	position: relative;
	height: 87px;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-label {
	display: block;
	float: none;
	margin-left: 0;
	text-align: left;
	line-height: 18px !important;
	padding: 0 0 8px 0;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-form-field {
	zoom: 1;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-form-field:after
	{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-checkcode-input
	{
	height: 24px;
	line-height: 24px;
	width: 148px;
	border: 1px solid #ccc;
	padding: 7px 10px;
	float: left;
	display: block;
	font-size: 14px;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-checkcode-input:focus
	{
	color: #4d4d4d;
	border-color: #07f;
	outline: 1px solid #8cddff;
}

.mobile-form .ui-securitycore .ui-form-item-counter .eSend-btn {
	float: left;
	color: #08c;
}

#mobileSend {
	position: absolute;
	right: 0;
	top: 26px;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-checkcode-messagecode-btn
	{
	float: left;
	width: 178px;
	height: 40px;
	_height: 38px;
	line-height: 38px;
	_line-height: 35px;
	color: #676d70;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 1px;
	background: #f3f3f3;
	margin-left: 2px;
	padding-left: 0;
	padding-right: 0;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-checkcode-messagecode-disabled-btn
	{
	background: #cacccd;
	border: 1px solid #cacccd;
	color: #aeb1b3;
	font-weight: normal;
	cursor: default;
}

.mobile-form .ui-securitycore .ui-form-item-counter .reSend-btn {
	float: left;
	margin-top: 10px;
	color: #08c;
}

.ui-checkcode-messagecode-disabled-btn {
	
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-form-field {
	display: block;
}

.mobile-form .ui-securitycore .ui-form-item-counter .ui-form-field .fn-hide,
	.mobile-form .ui-securitycore .ui-form-item-counter .fn-hide .reSend-btn
	{
	display: none;
}

.alieditContainer object {
	width: 348px;
	height: 38px;
}

#container .alieditContainer {
	width: 348px;
	height: 38px;
}

#container .alieditContainer a.aliedit-install {
	line-height: 38px;
}

#container .alieditContainer .ui-input {
	width: 324px;
	padding: 7px 10px;
	font-size: 14px;
	height: 20px;
	line-height: 24px;
}

#container .alieditContainer .ui-input:focus {
	color: #4D4D4D;
	border-color: #07F;
	outline: 1px solid #8CDDFF;
	*padding: 7px 3px 4px;
	*border: 2px solid #07F;
}

.teBox {
	height: auto;
}

#J_loginPwdMemberT {
	padding: 20px 0 60px 0;
}

#J_loginPwdMemberT #teLogin {
	height: auto;
}

#J_loginPwdMemberT .mi-form-item {
	padding: 0 0 10px 0;
}

#J_loginPwdMemberT .teBox-in {
	padding: 0;
	width: 350px;
	margin: 0 auto;
}

.t-contract-container {
	width: 76%;
}

.contract-container {
	width: 450px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

.contract-container .contract-container-label {
	width: 450px;
}

.mb-text {
	font-size: 14px;
	padding-top: 10px;
}

.ml5 {
	margin-left: 5px;
}

.user-login-account {
	font-size: 16px;
}

.mi-mobile-button {
	font-weight: bold;
}

.alipay-agreement-link {
	margin-left: 5px;
	color: #999;
}

.alipay-agreement {
	width: 600px;
	height: 270px;
	padding: 10px;
	text-align: center;
}

.alipay-agreement-content {
	height: 230px;
	width: 600px;
	margin-bottom: 5px;
}

#container .order-timeout-notice {
	margin-top: 30px;
	display: none;
}

.login-panel .fn-mb8 {
	margin-bottom: 8px;
}

.login-panel .fn-mt8 {
	margin-top: 8px;
}

.order-area {
	position: relative;
	z-index: 10;
}

.cashier-center-container {
	overflow: hidden;
	position: relative;
	z-index: 1;
	width: 950px;
	min-height: 460px;
	background-color: #fff;
	border-bottom: 3px solid #b3b3b3;
}

.cashiser-switch-wrapper {
	width: 1800px;
}

.cashier-center-view {
	position: relative;
	width: 803px;
}

.cashier-center-view.view-pc {
	display: block;
}

.cashier-center-view.view-pc .loginBox {
	padding: 60px 0 20px 238px;
	width: 350px;
	margin: 0;
}

.loginBox .login-title-area {
	margin: 0;
	margin-bottom: 30px;
}

.login-title .rt-text {
	font-size: 14px;
}

.teForm {
	padding: 0;
}

.mi-form-item {
	padding: 0 0 12px 0;
}

.submitContainer {
	margin-top: 6px;
}

.view-switch {
	width: 146px;
	height: 400px;
	padding-top: 126px;
	background-color: #e6e6e6;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.view-switch.qrcode-show {
	border-left: 1px solid #d9d9d9;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.view-switch.qrcode-hide {
	border-right: 1px solid #d9d9d9;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.switch-tip {
	text-align: center;
}

.switch-tip-font {
	font-size: 16px;
	font-family: tahoma, arial, '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53';
}

.switch-tip-icon {
	position: relative;
	z-index: 10;
	display: block;
	margin-top: 4px;
	font-size: 78px;
	color: #a6a6a6;
	cursor: pointer;
}

.switch-tip-btn {
	display: block;
	width: 106px;
	height: 36px;
	margin: 6px auto 0;
	border: 1px solid #0fa4db;
	background-color: #00aeef;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.switch-tip-btn:hover {
	color: #fff;
	text-decoration: none;
}

.view-switch.qrcode-hide .view-switch-content {
	height: 334px;
	padding-top: 126px;
}

.switch-pc-tip .switch-tip-icon {
	position: relative;
	z-index: 10;
	margin-top: 4px;
	font-size: 78px;
}

.switch-tip-icon-wrapper {
	position: relative;
}

.switch-tip-icon-wrapper:before {
	content: '';
	position: absolute;
	left: 47px;
	top: 24px;
	z-index: 0;
	width: 50px;
	height: 70px;
	background-color: #fff;
}

.switch-qrcode-tip .switch-tip-icon-wrapper:before {
	left: 38px;
	top: 25px;
	width: 70px;
	height: 47px;
}

.switch-tip-icon-img {
	position: absolute;
	left: 58px;
	top: 35px;
	z-index: 11;
}

.switch-qrcode-tip .switch-tip-icon-img {
	left: 48px;
	top: 39px;
}

.standardPwdContainer object {
	width: 348px;
	height: 38px;
}

#container .standardPwdContainer {
	width: 348px;
	height: 38px;
}

#container .standardPwdContainer a.aliedit-install {
	line-height: 38px;
}

#container .standardPwdContainer .ui-input {
	width: 324px;
	padding: 7px 10px;
	font-size: 14px;
	height: 20px;
	line-height: 24px;
}

#container .standardPwdContainer .ui-input:focus {
	color: #4D4D4D;
	border-color: #07F;
	outline: 1px solid #8CDDFF;
	*padding: 7px 3px 4px;
	*border: 2px solid #07F;
}