<%include file="header.html"%>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <h3 class="header smaller lighter blue">
                <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showModal('add');"><i class="ace-icon fa fa-plus"></i> 添加一级菜单 </a>
            </h3>
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <i class="ace-icon fa fa-info orange2 bigger-160"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                点击左端区域，可拖动改变导航按钮排序和层级关系，<span style="color: red;">最多支持三级关联菜单</span>。
                <i class="ace-icon fa fa-unlock-alt orange bigger-130"></i> 为显示状态，<i class="ace-icon fa fa-lock orange bigger-130"></i> 为隐藏状态，点击可切换状态
            </div>
            <div class="row">
                <div class="col-sm-12" style="display: <%if $appMenuList%>block<%else%>none<%/if%>;">
                    <button class="btn btn-info2" onclick="expandCollapseMenu('expand');"><i class="ace-icon fa fa-angle-down"></i>展开所有</button>
                    <button class="btn btn-info2" onclick="expandCollapseMenu('collapse');"><i class="ace-icon fa fa-angle-up"></i>折叠所有</button>
                </div>
                <div class="col-sm-12">
                    <div class="dd dd-draghandle">
                        <ol class="dd-list" id="menuList"></ol>
                    </div>

                    <div class="clearfix form-actions center" id="formActionsButton" style="display: none;">
                        <button class="btn" type="button" onclick="setMenuRank(false);">
                            <i class="ace-icon fa fa-times bigger-110"></i>
                            取消修改
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-info" type="button" onclick="setMenuRank(true);">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            确定修改
                        </button>
                    </div>
                </div>
            </div>

            <div id="menu-list-modal-form" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
                            <h4 class="blue bigger">添加一级菜单</h4>
                        </div>

                        <form name="addForm" id="addForm">
                            <div class="modal-body">
                                <fieldset>
                                    <label class="block clearfix">
                                        <div class="col-sm-5" style="text-align: right;">菜单名称：</div>
                                        <div class="col-sm-7">
                                            <input type="text" id="menuName" name="menuName" value="" />
                                        </div>
                                    </label>
                                    <label class="block clearfix">
                                        <div class="col-sm-5" style="text-align: right;">菜单icon：</div>
                                        <div class="col-sm-7">
                                            <input type="text" id="menuIcon" name="menuIcon"  placeholder="fa-xxx" value="" />
                                            <a href="/misc/icon.html" target="_blank">查看</a><br/>(Web Application Icons)
                                        </div>
                                    </label>
                                    <div class="space-6"></div>
                                    <label class="block clearfix">
                                        <div class="col-sm-5" style="text-align: right;">路由路径：</div>
                                        <div class="col-sm-7">
                                            <input type="text" id="targetUrl" name="targetUrl" value="" />
                                        </div>
                                    </label>
                                    <label class="block clearfix">
                                        <div class="pos-rel checkbox">
                                            <div class="col-sm-5" style="text-align: right;">表现形式：</div>
                                            <div class="col-sm-7">
                                            <label>
                                                <input class="ace ace-checkbox-2" type="checkbox" id="isMenu" name="isMenu" value="1"/>
                                                <span class="lbl"> 菜单</span>
                                            </label>
                                            <label>
                                                <input class="ace ace-checkbox-2" type="checkbox" id="isLink" name="isLink" value="1"/>
                                                <span class="lbl"> 链接</span>
                                            </label>
                                            </div>
                                        </div>
                                    </label>
                                    <!--
                                    <label class="block clearfix">
                                        <div class="col-sm-5" style="text-align: right;">菜单排序：</div>
                                        <div class="col-sm-7">
                                            <input type="text" id="sortIndex" name="sortIndex" value="" />
                                        </div>
                                    </label>
                                    -->
                                </fieldset>
                            </div>

                            <div class="modal-footer center">
                                <button class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
                                    <i class="ace-icon fa fa-times"></i>
                                    取消
                                </button>

                                <button class="btn btn-sm btn-primary" onclick="formSubmit();">
                                    <i class="ace-icon fa fa-check"></i>
                                    确定
                                </button>

                                <input type="hidden" name="menuId" id="menuId" value="">
                                <input type="hidden" name="flag" id="flag" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
<script src="<%$webCdnUrl%>/js/jquery.nestable.min.js"></script>
<script type="text/javascript">

    var adminMenuList = [];
    <%if $appMenuList%>
    adminMenuList = JSON.parse('<%$appMenuList%>');
    <%/if%>

    // 记录原始菜单节点用于监控是否有更改深度和排序
    var logInitMenuNodeList = [];

    jQuery(function($){

        // 显示导航按钮列表
        if (adminMenuList.length > 0) {
            var html = '';
            // 一级菜单处理
            for (var i = 0; i < adminMenuList.length; i++) {
                html += '<li class="dd-item dd2-item" data-id="' + adminMenuList[i]['menu_id'] + '">';
                html += getMenuHtml(adminMenuList[i], 'orange', 'fa-bars');

                // 记录原始菜单节点用于监控是否有更改深度和排序
                if (SysData.isNull(logInitMenuNodeList[i])) {
                    logInitMenuNodeList[i] = {};
                }
                logInitMenuNodeList[i]['id'] = parseInt(adminMenuList[i]['menu_id']);

                // 二级菜单处理
                if (!SysData.isNull(adminMenuList[i]['childList'])) {
                    html += '<ol class="dd-list">';

                    var childList = adminMenuList[i]['childList'];
                    for (var j = 0; j < childList.length; j++) {
                        html += '<li class="dd-item dd2-item" data-id="' + childList[j]['menu_id'] + '">';
                        html += getMenuHtml(childList[j], 'green', 'fa-bars');

                        // 记录原始菜单节点用于监控是否有更改深度和排序
                        if (SysData.isNull(logInitMenuNodeList[i]['children'])) {
                            logInitMenuNodeList[i]['children'] = [];
                        }
                        if (SysData.isNull(logInitMenuNodeList[i]['children'][j])) {
                            logInitMenuNodeList[i]['children'][j] = {};
                        }
                        logInitMenuNodeList[i]['children'][j]['id'] = parseInt(childList[j]['menu_id']);

                        // 三级菜单处理
                        if (!SysData.isNull(childList[j]['childList'])) {
                            html += '<ol class="dd-list">';

                            var grandsonList = childList[j]['childList'];
                            for (var k = 0; k < grandsonList.length; k++) {
                                html += '<li class="dd-item dd2-item" data-id="' + grandsonList[k]['menu_id'] + '">';
                                html += getMenuHtml(grandsonList[k], 'blue', 'fa-bars');
                                html += '</li>';

                                // 记录原始菜单节点用于监控是否有更改深度和排序
                                if (SysData.isNull(logInitMenuNodeList[i]['children'][j]['children'])) {
                                    logInitMenuNodeList[i]['children'][j]['children'] = [];
                                }
                                if (SysData.isNull(logInitMenuNodeList[i]['children'][j]['children'][k])) {
                                    logInitMenuNodeList[i]['children'][j]['children'][k] = {};
                                }
                                logInitMenuNodeList[i]['children'][j]['children'][k]['id'] = parseInt(grandsonList[k]['menu_id']);
                            }

                            html += '</ol>';
                        }

                        html += '</li>';
                    }

                    html += '</ol>';
                }

                html += '</li>';
            }

            $("#menuList").html(html);
        }

        $('.dd').nestable();
        // 默认折叠器全部
        $('.dd').nestable('collapseAll');
        $('.dd').on('change', function() {
            // 菜单排序发生改变显示确定提交按钮
            if (JSON.stringify($('.dd').nestable('serialize')) != JSON.stringify(logInitMenuNodeList)) {
                $('#formActionsButton').css('display', 'block');
            } else {
                $('#formActionsButton').css('display', 'none');
            }
        });

        $('.dd-handle a').on('mousedown', function(e){
            e.stopPropagation();
        });

        $('[data-rel="tooltip"]').tooltip();
    });

    /**
     * 展开折叠按钮列表
     */
    function expandCollapseMenu(action) {
        if (action == 'collapse') {
            $('.dd').nestable('collapseAll');
        } else {
            $('.dd').nestable('expandAll');
        }
    }

    /**
     * 组合导航按钮显示
     * @param info
     * @returns {string}
     */
    function getMenuHtml(info, color, icon) {

        // 设置了icon 使用设置的
        if (info.menu_icon) {
            icon = info.menu_icon;
        }

        // 如果是表现为链接，使用链接的icon
        if (parseInt(info.menu_is_menu) == 0 && parseInt(info.menu_is_link) == 1) {
            icon = 'fa-link';
        }

        var html = '<div class="dd-handle dd2-handle"><i class="normal-icon ace-icon fa ' + icon + ' ' + color + ' bigger-130"></i><i class="drag-icon ace-icon fa fa-arrows bigger-125"></i></div>';
        html += '<div class="dd2-content">' + info.menu_title + '<div class="pull-right action-buttons">';
        //html += '<span style="padding-right: 100px;">排序：' + info.menu_sort + '</span>';

        // 对开启和隐藏按钮做区分处理
        if (parseInt(info.menu_is_disabled) != 0) {
            html += '<a class="orange" id="showHidden-' + info.menu_id + '" title="切换为显示" href="javascript:void(0);" onclick="comfirm(' + info.menu_id + ', \'showHidden\');">';
            html += '<i class="ace-icon fa fa-lock  bigger-130"></i></a>';
        } else {
            html += '<a class="orange" id="showHidden-' + info.menu_id + '" title="切换为隐藏" href="javascript:void(0);" onclick="comfirm(' + info.menu_id + ', \'showHidden\');">';
            html += '<i class="ace-icon fa fa-unlock-alt bigger-130"></i></a>';
        }

        html += '<a class="green" title="添加子菜单" href="javascript:void(0);" onclick=\'showModal("add", {id:"' + info.menu_id + '",title:"' + info.menu_title + '"});\'><i class="ace-icon fa fa-plus bigger-130"></i></a>';
        html += '<a class="blue" title="编辑" href="javascript:void(0);" onclick=\'showModal("update", ' + JSON.stringify(info) + ');\'><i class="ace-icon fa fa-pencil bigger-130"></i></a>';
        html += '<a class="red" title="删除" href="javascript:void(0);" onclick="comfirm(' + info.menu_id + ', \'del\');"><i class="ace-icon fa fa-trash-o bigger-130"></i></a>';
        html += '</div></div>';

        return html;
    }

    /**
     * 显示弹窗
     */
    function showModal(type, data) {

        // 打开编辑信息弹窗
        $('#menu-list-modal-form').modal({backdrop: 'static', show: true});

        if (type == 'add' && !SysData.isNull(data)) {
            $(".modal-header h4").html('添加 <span style="color: red;">' + data.title + '</span> 子菜单');
            $("#menuId").val(data.id);
        } else if (type == 'update') {
            $(".modal-header h4").html('修改 <span style="color: red;">' + data.menu_title + '</span> 菜单信息');
            $("#menuId").val(data.menu_id);
            $("#menuName").val(data.menu_title);
            $("#menuIcon").val(data.menu_icon);
            $("#targetUrl").val(data.menu_target);
            $("#isMenu").get(0).checked = parseInt(data.menu_is_menu);
            $("#isLink").get(0).checked = parseInt(data.menu_is_link);
        } else {
            $(".modal-header h4").html('添加一级菜单');
        }

        $("#flag").val(type);
    }

    /**
     * 表单提交
     */
    function formSubmit() {
        event.preventDefault();
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);
        if (SysData.isNull(rsp.menuName)) {
            SysDialog.error('请输入菜单名称');
            return;
        }
        if (!rsp.isMenu && !rsp.isLink) {
            SysDialog.error('请选择表现形式');
            return;
        }

        if (rsp.flag != "add" && rsp.flag != "update") {
            SysDialog.alert("操作失败");
            return;
        }

        SysHttp.post("/admin/website/appMenu", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }
            cancel();

            // 关闭信息弹窗
            $('.modal').modal('hide');

            window.location.reload();
        });
    }

    /**
     * 确定提交服务器
     * @param id
     * @param type
     */
    function comfirm(id, type) {
        event.preventDefault();

        if (!id) {
            SysDialog.alert("操作失败");
            return;
        }

        if (type != "showHidden" && type != "del") {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {
            flag: type,
            menuId: id
        };

        var flag = type == "showHidden" ? 'update' : type;
        if (type == "showHidden") {
            rsp['flag'] = 'update';
            rsp['isShowHidden'] = 1;
        }

        SysHttp.post("/admin/website/appMenu", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }
            cancel();

            // 关闭信息弹窗
            $('.modal').modal('hide');

            // 更新锁定状态不需要刷新页面
            if (type == "showHidden") {

                var thisObj = $("#showHidden-" + id);
                if (thisObj.attr("title") == "切换为显示") {
                    thisObj.attr("title", "切换为隐藏");
                    thisObj.find("i").removeClass("fa-lock").addClass("fa-unlock-alt");
                } else {
                    thisObj.attr("title", "切换为显示");
                    thisObj.find("i").removeClass("fa-unlock-alt").addClass("fa-lock");
                }

                SysDialog.success("操作成功");
            } else {
                window.location.reload();
            }

        });

        return;
    }

    /**
     * 取消
     */
    function cancel() {
        $('#addForm').clearForm()
    }

    /**
     * 确定菜单排序
     */
    function setMenuRank(isChange) {
        if (!isChange) {
            window.location.reload();
            return;
        }

        var rsp = {
            flag: "update",
            isChangeRank: 1,
            rankList: $('.dd').nestable('serialize')
        };
        SysHttp.post("/admin/website/appMenu", rsp, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }
</script>
<%include file="footer.html"%>