<%include file="header.html"%>
<div class="row">
	<div class="col-xs-12">

		<div class="space-6"></div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="widget-box transparent">

					<div class="widget-body">
						<div class="widget-main padding-24">
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-11 label label-lg label-info arrowed-in arrowed-right">
											<b>数据概要</b>
										</div>
									</div>

									<div class="space-6"></div>

									<div class="col-sm-11 profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> 账户余额 </div>

											<div class="profile-info-value">
												<span class="editable red" id="balance"><%$balance%></span>&nbsp;&nbsp;&nbsp;&nbsp;
												<i class="ace-icon glyphicon glyphicon-refresh orange" onclick="getBalance();"></i>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 冻结资金 </div>

											<div class="profile-info-value">
												<span class="editable red" id="frozenBalance"><%$frozenBalance%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值笔数 </div>

											<div class="profile-info-value">
												<span class="editable"><%$payTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$paySum%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值返点金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$payFee%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 正在提款中笔数 </div>

											<div class="profile-info-value">
												<span class="editable" ><%$applyWithdrawalTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日提款成功笔数 </div>

											<div class="profile-info-value">
												<span class="editable"><%$successWithdrawalTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总提款成功金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$withdrawalSum%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总提款手续费 </div>

											<div class="profile-info-value">
												<span class="editable"><%$withdrawalFee%></span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-11 label label-lg label-success arrowed-in arrowed-right">
											<b>点数详情</b>
										</div>
									</div>

									<div class="space-6"></div>

									<div>
										<ul class="list-unstyled  spaced">
											<%if $platList%>
											<%foreach $platList as $info%>
											<li>
												<i class="ace-icon fa fa-caret-right green"></i><%$info.p_name%>： <%$info.point%>
											</li>
											<%/foreach%>
											<%/if%>
										</ul>
									</div>
								</div>
							</div>

							<div class="space"></div>


						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    /**
	 * 刷新余额
	 */
    function getBalance() {
        SysHttp.post("/proxyAdmin/index", {flag: "getBalance"}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            if (rs.data.balance) {
                $('#balance').html("" + rs.data.balance);
                $('#frozenBalance').html("" + rs.data.frozenBalance);
            }
        });
    }
    setInterval("getBalance()", 300000);
</script>
<%include file="footer.html"%>