<%include file="header.html"%>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="space-12"></div>
		</div><!-- /.row -->

		<div class="row" style="font-size: 18px;color: steelblue;">
			<div class="block clearfix center">
				<div class="col-sm-5 text-right modal-body-fieldset-left">
					你目前的安全等级：
					<%if $info['safeLevel'] == 1%>
					<span class="levelText" style="font-weight:bold;color: red;">低</span>
					<%/if%>
					<%if $info['safeLevel'] == 2%>
					<span class="levelText" style="font-weight:bold;color: #D15B47">一般</span>
					<%/if%>
					<%if $info['safeLevel'] == 3%>
					<span class="levelText" style="font-weight:bold;color: orange;">中</span>
					<%/if%>
					<%if $info['safeLevel'] == 4%>
					<span class="levelText" style="font-weight:bold;color: green">高</span>
					<%/if%>
				</div>
				<div class="col-sm-4 text-left" style="margin-top:5px;">
					<div class="progress pos-rel">
						<%if $info['safeLevel'] == 1%>
						<div class="progress-bar" style="width:25%;background-color: red;"></div>
						<%/if%>
						<%if $info['safeLevel'] == 2%>
						<div class="progress-bar" style="width:50%;background-color: #D15B47;"></div>
						<%/if%>
						<%if $info['safeLevel'] == 3%>
						<div class="progress-bar" style="width:75%;background-color: orange;"></div>
						<%/if%>
						<%if $info['safeLevel'] == 4%>
						<div class="progress-bar" style="width:100%;background-color: green;"></div>
						<%/if%>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<h3 class="header smaller lighter blue">
				<!--<span>安全设置：</span>-->
			</h3>
			<div class="row" style="font-size: 18px;" id="safeQuestion">
				<div class="col-sm-6" id="isSetSafeQuestion">安全问题：
					<%if $info['safeQuestionIsSet']%>
					<span class="green">已设置</span>
					<%else%>
					<span class="red">未设置</span>
					<%/if%>
				</div>
				<div class="col-sm-6 text-right"><button class="btn btn-info btn-default btn-round" onclick="showSafeQuestionForm();"><b><%if $info['safeQuestionIsSet']%>修改<%else%>设置<%/if%></b></button></div>
			</div>
			<div class="row" style="color: grey;">
				&nbsp;&nbsp;&nbsp;&nbsp;在需要修改资金密码，验证信息的时候需要使用。
			</div>
			<hr />
			<div class="row" style="font-size: 18px;" id="securityPwd">
				<div class="col-sm-6" id="isSetSecurityPwd">资金密码：
					<%if $info['securityPwdIsSet']%>
					<span class="green">已设置</span>
					<%else%>
					<span class="red">未设置</span>
					<%/if%>
				</div>
				<div class="col-sm-6 text-right"><button class="btn btn-info btn-default btn-round" onclick="showSecurityPwdForm();"><b><%if $info['securityPwdIsSet']%>修改<%else%>设置<%/if%></b></button></div>
			</div>
			<div class="row" style="color: grey;">
				&nbsp;&nbsp;&nbsp;&nbsp;在进行银行卡绑定、更改银行卡、提款等使用资金操作需要进行的资金密码确认，以提高您的资金安全性。
			</div>
			<hr />
			<div class="row" style="font-size: 18px;" id="googleSecret">
				<div class="col-sm-6" id="isSetGoogleSecret">Google验证码：
					<%if $info['googleSecretIsopen']%>
					<span class="green">已设置</span>
					<%else%>
					<span class="red">未设置</span>
					<%/if%>
				</div>
				<div class="col-sm-6 text-right"><button class="btn btn-info btn-default btn-round" onclick="showGoogleSecretForm();"><b><%if $info['googleSecretIsopen']%>修改<%else%>设置<%/if%></b></button></div>
			</div>
			<div class="row" style="color: grey;">
				&nbsp;&nbsp;&nbsp;&nbsp;使用google验证码，账户资金更安全。
			</div>
			<hr />
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->

	<div id="modal-form-secure" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
					<h4 class="blue bigger">修改 / 设置</h4>
				</div>

				<form name="secureForm" id="secureForm">
					<div class="modal-body">
						<fieldset id="modalBodyInfo">
						</fieldset>
					</div>

					<div class="modal-footer center">
						<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
							<i class="ace-icon fa fa-times"></i>
							取消
						</button>

						<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
							<i class="ace-icon fa fa-check"></i>
							确定
						</button>

						<input type="hidden" name="flag" id="actionType" value="">
						<input type="hidden" name="isSet" id="isSet" value="">
					</div>
				</form>
			</div>
		</div>
	</div>

</div><!-- /.row -->
<script type="text/javascript">

    // 监听回车键
    $(document).keypress(function (event) {
        var key = event.which;
        if (key == 13) {
            event.preventDefault();
            return;
        }
    });

    var safeLevel = parseInt('<%$info.safeLevel%>');
    var securityPwdIsSet = parseInt('<%$info.securityPwdIsSet%>');
    var safeQuestionIsSet = parseInt('<%$info.safeQuestionIsSet%>');
    var safeQuestionId = parseInt('<%$info.safeQuestionId%>');
    var googleSecretIsSet = parseInt('<%$info.googleSecretIsSet%>');
	var googleSecretIsopen = parseInt('<%$info.googleSecretIsopen%>');
	var questionList = JSON.parse('<%$info.questionList|@json_encode%>');

	// 显示资金密码表单弹窗
	function showSecurityPwdForm() {
		var viewType = securityPwdIsSet;
		if (!safeQuestionIsSet) {
			SysDialog.error('请先设置安全问题');
			return;
		}

		var html = '<div class="block clearfix center"> ' +
			'<div class="col-sm-5 text-right" style="padding-top: 6px;">安全问题： </div> ' +
			'<div class="col-sm-7 text-left"> ' + questionList[safeQuestionId] + '</div> ' +
			'</div><div class="space-4"></div>';
		html += '<div class="block clearfix center"> ' +
			'<div class="col-sm-5 text-right modal-body-fieldset-left">问题答案： </div> ' +
			'<div class="col-sm-7 text-left"> ' +
			'<input type="text" name="answer" value="" /> ' +
			'</div> ' +
			'</div><div class="space-4"></div>';

		// 显示修改页
		if (parseInt(viewType)) {
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-5 text-right modal-body-fieldset-left">旧资金密码： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="password" name="oldSecurityPwd" value="" /> ' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-5 text-right modal-body-fieldset-left">新资金密码： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="password" name="newSecurityPwd" value="" /> ' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-5 text-right modal-body-fieldset-left">确认新资金密码： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="password" name="newSecurityPwd2" value="" /> ' +
				'</div> ' +
				'</div>';
			$('#isSet').val(1);
		} else {
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-5 text-right modal-body-fieldset-left">资金密码： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="password" name="securityPwd" value="" /> ' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-5 text-right modal-body-fieldset-left">确认资金密码： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="password" name="securityPwd2" value="" /> ' +
				'</div> ' +
				'</div>';
			$('#isSet').val(0);
		}

		$('#actionType').val('securityPwd');
		$('#modalBodyInfo').html(html);

		// 显示弹窗
		$('#modal-form-secure').modal({ backdrop: 'static', show: true });
	}

	// 显示安全问题表单弹窗
	function showSafeQuestionForm() {
		var viewType = safeQuestionIsSet;

		// 显示修改页
		if (parseInt(viewType)) {
			var html = '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right" style="padding-top: 6px;">旧安全问题： </div> ' +
				'<div class="col-sm-6 text-left"> ' + questionList[safeQuestionId] + '</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right modal-body-fieldset-left">旧问题答案： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="text" name="oldAnswer" value="" /> ' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right" style="padding-top: 6px;">新安全问题： </div> ' +
				'<div class="col-sm-6 text-left"> ' +
				'<select class="form-control" name="safeQuestion"> <option value="0">请选择</option>';

			for (var i in questionList) {
				html += '<option value="' + i + '">' + questionList[i] + '</option>';
			}

			html +=     '</select>' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right modal-body-fieldset-left">新问题答案： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="text" name="answer" value="" /> ' +
				'</div> ' +
				'</div>';
			$('#isSet').val(1);
		} else {

			var html = '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right" style="padding-top: 6px;">安全问题： </div> ' +
				'<div class="col-sm-6 text-left"> ' +
				'<select class="form-control" name="safeQuestion"> <option value="0">请选择</option>';

			for (var i in questionList) {
				html += '<option value="' + i + '">' + questionList[i] + '</option>';
			}

			html +=         '</select>' +
				'</div> ' +
				'</div><div class="space-4"></div>';
			html += '<div class="block clearfix center"> ' +
				'<div class="col-sm-4 text-right modal-body-fieldset-left">答案： </div> ' +
				'<div class="col-sm-7 text-left"> ' +
				'<input type="text" name="answer" value="" /> ' +
				'</div> ' +
				'</div>';
			$('#isSet').val(0);
		}

		$('#actionType').val('safeQuestion');
		$('#modalBodyInfo').html(html);

		// 显示弹窗
		$('#modal-form-secure').modal({ backdrop: 'static', show: true });
	}

	// 显示谷歌验证表单弹窗
	function showGoogleSecretForm() {

        var viewType = googleSecretIsSet;
        if (!safeQuestionIsSet) {
            SysDialog.error('请先设置安全问题');
            return;
        }

        if (!securityPwdIsSet) {
            SysDialog.error('请先设置资金密码');
            return;
        }

        var html = '<div class="block clearfix center"> ' +
            '<div class="col-sm-5 text-right" style="padding-top: 6px;">安全问题： </div> ' +
            '<div class="col-sm-7 text-left"> ' + questionList[safeQuestionId] + '</div> ' +
            '</div><div class="space-4"></div>';
        html += '<div class="block clearfix center"> ' +
            '<div class="col-sm-5 text-right modal-body-fieldset-left">问题答案： </div> ' +
            '<div class="col-sm-7 text-left"> ' +
            '<input type="text" name="answer" value="" /> ' +
            '</div> ' +
            '</div><div class="space-4"></div>';

        html += '<div class="block clearfix center"> ' +
            '<div class="col-sm-5 text-right modal-body-fieldset-left">资金密码： </div> ' +
            '<div class="col-sm-7 text-left"> ' +
            '<input type="password" name="password" value="" /> ' +
            '</div> ' +
            '</div><div class="space-4"></div>';

        // 显示修改页
        if (parseInt(viewType)) {
            html += '<div class="block clearfix center"> ' +
                '<div class="col-sm-5 text-right modal-body-fieldset-left">谷歌动态密码： </div> ' +
                '<div class="col-sm-7 text-left"> ' +
                '<input type="text" name="googleCode"  value="" /> ' +
                '</div> ' +
                '</div><div class="space-4"></div>';
            html += '<div class="block clearfix center"> ';

            html += '<label><input id="isLockGoogleCode" name="isLockGoogleCode" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
            if (!googleSecretIsopen) {
                html += 'checked';
            }
            html += ' ><span class="lbl"></span></label>';

            html += '</div> ' +
                '</div>';
            $('#isSet').val(1);

            $('#actionType').val('googleSecret');
            $('#modalBodyInfo').html(html);
        } else {

            SysHttp.post("/proxyAdmin/safetySetting", {flag:"getGoogleCodeQr"}, function (rs) {

                if (rs.code == 200) {
                    html += '<div class="block clearfix center"> ' +
                        '<div class="col-sm-5 text-right modal-body-fieldset-left">谷歌二维码： </div> ' +
                        '<div class="col-sm-7 text-left"> ' +
                        '<span id="codeQR"><img src="' + rs.data['codeQRUrl'] + '" width="150" height="150" alt="扫二维码" /></span> ' +
                        '</div> ' +
                        '</div><div class="space-4"></div>';
                    html += '<div class="block clearfix center"> ' +
                        '<div class="col-sm-5 text-right modal-body-fieldset-left">谷歌动态密码： </div> ' +
                        '<div class="col-sm-7 text-left"> ' +
                        '<input type="text" name="googleCode"  value="" /> ' +
                        '</div> ' +
                        '</div>';
                    $('#isSet').val(0);

                    $('#actionType').val('googleSecret');
                    $('#modalBodyInfo').html(html);
                }

            });
        }



        // 显示弹窗
        $('#modal-form-secure').modal({ backdrop: 'static', show: true });
	}

	/**
	 * 取消
	 */
	function cancel() {
		$('#secureForm').clearForm();
	}

	/**
	 * 提交
	 */
	function comfirm() {
		event.preventDefault();

		// 获取表单内容
		var queryString = $('#secureForm').formSerialize();
		var rsp = $.deparam(queryString);

		if (rsp['flag'] == 'googleSecret') {
            if (googleSecretIsSet) {
                var isLock = $('#isLockGoogleCode').is(':checked');
                isLock = isLock ? 1 : 0;
                rsp["isLockGoogleCode"] = isLock;
            } else {
                rsp["isAddGoogleCode"] = 1;
			}
        }

        SysHttp.post("/proxyAdmin/safetySetting", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

			if (rsp['flag'] == 'googleSecret' && rsp["isLockGoogleCode"]) {
			    window.location.reload();
			    return;
			}

			SysDialog.success(rs.msg);
			// 修改安全等级进度条
			if (parseInt(rsp['isSet']) == 0) {

				var color = 'red';
				var levelTxt = '低';
				var progress = 25;

				safeLevel += 1;
				switch (safeLevel) {
					case 2:
						color = '#D15B47';
						levelTxt = '一般';
						progress = 50;
						break;
					case 3:
						color = 'orange';
						levelTxt = '中';
						progress = 75;
						break;
					case 4:
						color = 'green';
						levelTxt = '高';
						progress = 100;
						break;
				}
				$('.levelText').css('color', color);
				$('.levelText').html(levelTxt);
				$('.progress-bar').css('width', progress + '%');
				$('.progress-bar').css('background-color', color);
			}

			// 更改设置状态值
			switch (rsp['flag']) {
				case 'securityPwd':
					securityPwdIsSet = 1;
                    $('#isSetSecurityPwd').html('资金密码：<span class="green">已设置</span>');
					break;
				case 'safeQuestion':
					safeQuestionIsSet = 1;
					safeQuestionId = rs.data['safeQuestionId'];
                    $('#isSetSafeQuestion').html('安全问题：<span class="green">已设置</span>');
					break;
				case 'googleSecret':
					googleSecretIsopen = 1;
                    googleSecretIsSet = 1;
					$('#isSetGoogleSecret').html('Google验证码：<span class="green">已设置</span>');
					break;
			}

			// 清空表单内容
			$('#secureForm').clearForm();
			$('#modal-form-secure').modal('hide');
		});
	}

</script>
<%include file="footer.html"%>