<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="col-xs-12">

				<h3 class="header smaller lighter blue">
					<a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加支付渠道 </a>
				</h3>

				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>

				<div class="table-header">
					支付渠道列表
				</div>

				<!-- div.table-responsive -->

				<!-- div.dataTables_borderWrap -->
				<div class="table-responsive">
					<table id="dynamic-table" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="center">渠道ID</th>
							<th class="center">渠道标识</th>
							<th class="center">渠道名称</th>
							<th class="center">所属支付类型</th>
							<th class="center">渠道给的点数</th>
							<th class="center">渠道appId</th>
							<th class="center">渠道appKey</th>
							<th class="center">渠道appSecret</th>
							<th class="center">渠道支付页面url</th>
							<th class="center">操作</th>
						</tr>
						</thead>

						<tbody>
						<%foreach $list as $info%>
						<tr>
							<td class="center"><%$info.p_id%></td>
							<td class="center"><%$info.p_tag%></td>
							<td class="center"><%$info.p_name%></td>
							<td class="center"><%$payTypeList[$info['pt_id']]['pt_name']%></td>
							<td class="center"><%$info.p_point%></td>
							<td class="center"><%$info.p_app_id%></td>
							<td class="center"><textarea class="autosize-transition form-control"><%$info.p_app_key%></textarea></td>
							<td class="center"><textarea class="autosize-transition form-control"><%$info.p_app_secret%></textarea></td>
							<td class="center"><%$info.p_pay_url%></td>
							<td class="center">
								<div class="hidden-sm hidden-xs action-buttons">

									<a class="green" href="javascript:void(0);" onclick='showInfoModal(<%$info|@json_encode%>);'>
										<i class="ace-icon fa fa-pencil bigger-130"></i>
									</a>

									<a class="red" href="javascript:void(0);" onclick="del(<%$info.p_id%>);">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>

								</div>

								<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

											<li>
												<a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip" title="编辑" onclick='showInfoModal(<%$info|@json_encode%>);'>
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.p_id%>);">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</td>
						</tr>
						<%/foreach%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
						<h4 class="blue bigger">添加支付渠道</h4>
					</div>

					<form name="addForm" id="addForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道标识：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="tag" value=""/><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道名称：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="name" value="" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">所属支付类型：</div>
									<div class="col-sm-7 text-left">
										<select name="payType" style="font-size: 16px;" id="addPayType" onclick="selectPatType('add')">
											<option value="0">请选择</option>
											<%foreach $payTypeList as $info%>
											<option value="<%$info.pt_id%>"><%$info.pt_name%></option>
											<%/foreach%>
										</select>
										<span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道给的点数：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appPoint" value="" /> <span style="color: red;"> * </span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appId：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appId" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appKey：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appKey" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appSecret：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appSecret" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道支付页面url：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="payUrl" value="" />
									</div>
								</div>
								<div id="addBankCode" style="display: none">
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-12 text-left">
										<div class="header">
											<h5 class="blue bigger">银行代码：</h5>
										</div>
									</div>
								</div>
								<%foreach $bankList as $code => $name%>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">(<%$code%>)<%$name%>：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="<%$code%>" value="" />
									</div>
								</div>
								<%/foreach%>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="flag" value="add">
					</form>
				</div>
			</div>
		</div>
		<div id="modal-form" class="modal" role="dialog" tabindex="-2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">修改信息</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道标识：</div>
									<div class="col-sm-7 text-left">
										<input readonly="" type="text" name="tag" id="p_tag" value="" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道名称：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="name" id="p_name" value="" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">所属支付类型：</div>
									<div class="col-sm-7 text-left" id="upPayTypeList"></div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道给的点数：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appPoint" id="p_point" value="" /> <span style="color: red;"> * </span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appId：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appId" id="p_app_id" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appKey：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appKey" id="p_app_key" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道appSecret：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="appSecret" id="p_app_secret" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">渠道支付页面url：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="payUrl" id="p_pay_url" value="" />
									</div>
								</div>
								<div id="updateBankCode" style="display: none">
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-12 text-left">
										<div class="header">
											<h5 class="blue bigger">银行代码：</h5>
										</div>
									</div>
								</div>
								<%foreach $bankList as $code => $name%>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">(<%$code%>)<%$name%>：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="<%$code%>" id="<%$code%>" value="" />
									</div>
								</div>
								<%/foreach%>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="id" id="p_id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script type="text/javascript">

    var payTypeList = JSON.parse('<%$payTypeList|@json_encode%>');
    var bankList = JSON.parse('<%$bankList|@json_encode%>');

    jQuery(function($) {
        //initiate dataTables plugin
        $('#dynamic-table').DataTable({
            bAutoWidth: false,
            "aoColumns": [
                {"bSortable": false},
				{"bSortable": false},
				{"bSortable": false},
				{"bSortable": false},
				{"bSortable": false},
				{"bSortable": false},
				{"bSortable": false},
                {"bSortable": false},
                {"bSortable": false},
                {"bSortable": false}
			],
            "aaSorting": [],
            select: {style: 'multi'}
        });
    });

    function selectPatType(tag) {
		if (tag == 'add') {

		    var payType = $('#addPayType').val();
			if (payType == 1 || payType == 7) {
                $('#addBankCode').show();
            } else {
                $('#addBankCode').hide();
			}
		} else if (tag == 'update') {
            var payType = $('#updatePayType').val();
            if (payType == 1 || payType == 7) {
                $('#updateBankCode').show();
            } else {
                $('#updateBankCode').hide();
            }
		}
    }

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(json) {

        // 设置数据
		if (json) {
            for (var key in json) {

                if (key == 'pt_id') {

                    var payTypeId = json['pt_id'];
                    var payTypeHtml = '<select name="payType" style="font-size: 16px;" id="updatePayType" onclick="selectPatType(\'update\')">';
                    payTypeHtml += '<option value="0">请选择</option>';
                    for (var tmpPayTypeId in payTypeList) {
                        if (tmpPayTypeId == payTypeId) {
                            payTypeHtml += '<option value="' + tmpPayTypeId + '" selected>' + payTypeList[tmpPayTypeId]['pt_name'] + '</option>';
                        } else {
                            payTypeHtml += '<option value="' + tmpPayTypeId + '">' + payTypeList[tmpPayTypeId]['pt_name'] + '</option>';
                        }
                    }
                    payTypeHtml += '</select><span style="color: red;"> *</span>';

                    $('#upPayTypeList').html(payTypeHtml);

                    if (payTypeId == 1 || payTypeId == 7) {
                        $('#updateBankCode').show();
					} else {
                        $('#updateBankCode').hide();
					}

                } else if (key == 'p_bank_code') {
                    for (var code in bankList) {
                        if (json[key][code]) {
                            $('#' + code).val(json[key][code]);
						}
                    }
				} else {
                    $('#' + key).val(json[key]);
				}

            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function del(id) {

        if (SysData.isNull(id)) {
			SysDialog.error("操作失败");
            return;
        }

		SysHttp.post("/admin/plat/list", {flag: "del", id: id}, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}
			window.location.reload();
		});
        return;
    }

	function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        if (SysData.isNull(rsp['tag'])) {
            SysDialog.error("渠道标识不能为空");
            return;
        }

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("渠道名称不能为空");
            return;
        }

        if (SysData.isNull(rsp['payType'])) {
            SysDialog.error("请选择所属支付类型");
            return;
        }

        if (rsp['appPoint'] < 0) {
            SysDialog.error("点数不能小于0");
            return;
        }

        rsp['appKey'] = isJSON(rsp['appKey']) ? JSON.parse(rsp['appKey']) : rsp['appKey'];
        rsp['appSecret'] = isJSON(rsp['appSecret']) ? JSON.parse(rsp['appSecret']) : rsp['appSecret'];

		SysHttp.post("/admin/plat/list", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

            window.location.reload();
		});
	}

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['tag'])) {
            SysDialog.error("渠道标识不能为空");
            return;
        }

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("渠道名称不能为空");
            return;
        }

        if (SysData.isNull(rsp['payType'])) {
            SysDialog.error("请选择所属支付类型");
            return;
        }

        if (rsp['appPoint'] < 0) {
            SysDialog.error("点数不能小于0");
            return;
        }

        rsp['appKey'] = isJSON(rsp['appKey']) ? JSON.parse(rsp['appKey']) : rsp['appKey'];
        rsp['appSecret'] = isJSON(rsp['appSecret']) ? JSON.parse(rsp['appSecret']) : rsp['appSecret'];

        // 提交表单
        SysHttp.post("/admin/plat/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function isJSON(str) {
        if (typeof str == 'string') {
            try {
                var obj=JSON.parse(str);
                if(typeof obj == 'object' && obj ){
                    return true;
                }else{
                    return false;
                }

            } catch(e) {
                return false;
            }
        } else {
            return false;
		}

    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addBankCode').hide();
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>