<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="col-xs-12">

				<h3 class="header smaller lighter blue">
					<a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加支付类型 </a>
				</h3>

				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>

				<div class="table-header">
					支付类型列表
				</div>

				<!-- div.table-responsive -->

				<!-- div.dataTables_borderWrap -->
				<div class="table-responsive">
					<table id="dynamic-table" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="center">类型ID</th>
							<th class="center">类型名称</th>
							<th class="center">操作</th>
						</tr>
						</thead>

						<tbody>
						<%foreach $list as $info%>
						<tr>
							<td class="center"><%$info.pt_id%></td>
							<td class="center"><%$info.pt_name%></td>

							<td class="center">
								<div class="hidden-sm hidden-xs action-buttons">

									<a class="green" href="javascript:void(0);" onclick='showInfoModal(<%$info|@json_encode%>);'>
										<i class="ace-icon fa fa-pencil bigger-130"></i>
									</a>

									<a class="red" href="javascript:void(0);" onclick="del(<%$info.pt_id%>);">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>

								</div>

								<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

											<li>
												<a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip" title="编辑" onclick='showInfoModal(<%$info|@json_encode%>);'>
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
												</a>
											</li>

											<li>
												<a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.pt_id%>);">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
											</li>

										</ul>
									</div>
								</div>
							</td>
						</tr>
						<%/foreach%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
						<h4 class="blue bigger">添加支付类型</h4>
					</div>

					<form name="addForm" id="addForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">类型名称：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="name" value="" />
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="flag" value="add">
					</form>
				</div>
			</div>
		</div>
		<div id="modal-form" class="modal" role="dialog" tabindex="-2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">修改信息</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-5 text-right">类型名称：</div>
									<div class="col-sm-7 text-left">
										<input type="text" name="name" id="pt_name" value="" />
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="id" id="pt_id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script type="text/javascript">

    jQuery(function($) {
        //initiate dataTables plugin
        $('#dynamic-table').DataTable({
            bAutoWidth: false,
            "aoColumns": [null, {"bSortable": false}, {"bSortable": false}],
            "aaSorting": [],
            select: {style: 'multi'}
        });
    });

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(json) {

        // 设置数据
		if (json) {
            for (var key in json) {
				$('#' + key).val(json[key]);
            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function del(id) {

        if (SysData.isNull(id)) {
			SysDialog.error("操作失败");
            return;
        }

		SysHttp.post("/admin/plat/payType", {flag: "del", id: id}, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}
			window.location.reload();
		});
        return;
    }

	function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

		SysHttp.post("/admin/plat/payType", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

            window.location.reload();
		});
	}

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("类型名称不能为空");
            return;
        }

        // 提交表单
        SysHttp.post("/admin/plat/payType", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.href = "/admin/plat/payType";
        });
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>