<%include file="header.html"%>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="changePasswordForm" id="changePasswordForm">

                <div class="form-group">
                    <label class="col-sm-3 col-xs-12 control-label no-padding-right" for="form-input-readonly"> 用户昵称： </label>

                    <div class="col-xs-12 col-sm-9">
                        <input readonly="" type="text" class="col-xs-10 col-sm-2" id="form-input-readonly" value="<%$userNickname%>" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 旧密码：</label>

                    <div class="col-sm-9">
                        <div class="pos-rel">
                            <input class="typeahead scrollable" type="password" placeholder="" name="oldpass" id="oldpass"/>
                        </div>
                    </div>
                </div>

                <div class="space-6"></div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">新密码：</label>

                    <div class="col-xs-12 col-sm-9">
                        <input class="typeahead scrollable" type="password" placeholder="" name="newpass" id="newpass"/> (6－16位数字和字母，不能只是数字，或者只是字母，不能连续三位相同）
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">再次输入新密码：</label>

                    <div class="col-xs-12 col-sm-9">
                        <input class="typeahead scrollable" type="password" placeholder="" name="newpass2" id="newpass2"/>
                    </div>
                </div>

                <div class="clearfix form-actions center">
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        取消
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn btn-info" type="button" onclick="confirm();">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        确定
                    </button>
                </div>

            </form>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
<script type="text/javascript">

    function confirm() {

        var oldpass = $("#oldpass").val();
        if (SysData.isNull(oldpass)) {
            SysDialog.error("旧密码不能为空");
            return;
        }

        var newpass = $("#newpass").val();
        var newpass2 = $("#newpass2").val();
        if (SysData.trim(newpass2) != SysData.trim(newpass)) {
            SysDialog.error("两次输入的新密码不一致");
            return;
        }

        if (SysData.trim(oldpass) == SysData.trim(newpass)) {
            SysDialog.error("旧密码与新密码相同");
            return;
        }

		if (!SysData.validateUserPss(SysData.trim(newpass))) {
            SysDialog.error("密码不符合规则");
            return;
		}

        var rsp = {
            "oldPassword": oldpass,
            "newPassword": newpass,
			"newPassword2": newpass2,
        };

        SysHttp.post("/appAdmin/user/changePassword", rsp, function (rs) {
			$('#changePasswordForm').clearForm();
			if (rs.code != 200) {
                SysDialog.error(rs.msg);
				return;
			}

            SysDialog.success("修改成功");
        });

        return;
	}

</script>
<%include file="footer.html"%>