<%include file="header.html"%>

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" name="searchForm" id="searchForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 参数： </label>

                            <div class="col-sm-6">
                                <textarea class="autosize-transition form-control" name="param" id="param"></textarea>
                                例如: a=1&b=2&c=3  ，<span style="color: red;">（注意：不要带上商户key）</span>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-info btn-sm btn-round" onclick="confirm();">提交</button>
                            </div>
                        </div>
                        <input type="hidden" name="flag" value="check">
                    </form>
                </div>
            </div>
            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="space-6"></div>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > &nbsp; </label>

                            <div class="col-sm-6 center">
                                <span style="font-size: 24px;">验证数据为</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 按字典排序后为： </label>

                            <div class="col-sm-6">
                                <textarea class="autosize-transition form-control" name="noKeyMd5Str" id="noKeyMd5Str"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > MD5前的字符串为： </label>

                            <div class="col-sm-6">
                                <textarea class="autosize-transition form-control" name="md5Str" id="md5Str"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > MD5后： </label>

                            <div class="col-sm-6">
                                <textarea class="autosize-transition form-control" name="sign" id="sign"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
<script type="text/javascript">

    function confirm() {

        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['param'])) {
            SysDialog.error("请求参数不能为空");
            return;
        }

        SysHttp.post("/appAdmin/checkSign", rsp, function (rs) {
			if (rs.code != 200) {
                SysDialog.error(rs.msg);
				return;
			}

            $('#noKeyMd5Str').val(rs.data.noKeyMd5Str);
            $('#md5Str').val(rs.data.md5Str);
            $('#sign').val(rs.data.sign);
        });

        return;
	}

</script>
<%include file="footer.html"%>