<%include file="header.html"%>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="space-12"></div>
		</div><!-- /.row -->

		<div class="row" style="font-size: 18px;color: steelblue;">
			<div class="block clearfix center">
					相关对接资料
			</div>
		</div>
		<div class="col-xs-12">
			<h3 class="header smaller lighter blue">
				<!--<span>安全设置：</span>-->
			</h3>
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6" style="width: 33%;">支付接口对接文档
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/接口文档.docx"><b>点击下载</b></a>
				</div>
				<div class="col-sm-6" style="width: 33%;">支付接入代码demo（PHP）
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/php_demo.zip"><b>点击下载</b></a>
				</div>
				<div class="col-sm-6" style="width: 33%;">支付接入代码demo（JAVA）
					<a class="btn btn-info btn-default btn-round" href="https://pay-1259110394.cos.ap-guangzhou.myqcloud.com/java_demo.zip"><b>点击下载</b></a>
				</div>
			</div>
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6" style="width: 33%;">代付接口对接文档
					<a class="btn btn-info btn-default btn-round" href="https://pay-1259110394.cos.ap-guangzhou.myqcloud.com/dyfypay.pdf"><b>点击下载</b></a>
				</div>			
				<div class="col-sm-6" style="width: 33%;">代付接入代码demo（PHP）
					<a class="btn btn-info btn-default btn-round" href="https://pay-1259110394.cos.ap-guangzhou.myqcloud.com/dypay_df_demo.zip"><b>点击下载</b></a>
				</div>
			</div>			
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">API接口域名：<%$apiDomain%>

				</div>

			</div>
			<hr />
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->

</div><!-- /.row -->

<%include file="footer.html"%>