<%include file="header.html"%>
<div class="row">
	<div class="col-xs-12">

		<h3 class="header smaller lighter blue">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-sm-6 control-label align-right" style="font-size: 20px;">商户ID：</label>
						<label class="col-sm-6 control-label align-left" style="font-size: 20px;"><b><%$appId%></b></label>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="form-group">
						<label class="col-sm-4 control-label align-right" style="font-size: 20px;">商户KEY：</label>
						<label class="col-sm-8 control-label align-left" style="font-size: 20px;">
							<span id="secureKey"><%$appKey%></span>
							<button class="btn btn-sm btn-danger btn-default btn-round" onclick="resetSecretKey();"><i class="ace-icon fa fa-bolt"></i>重新生成</button>
							<button class="btn btn-sm btn-success btn-default btn-round" onclick="showSecretKey();"><i class="ace-icon fa fa-eye"></i>查看</button>
						</label>
					</div>
				</div>
			</div>
		</h3>

		<div class="space-6"></div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="widget-box transparent">

					<div class="widget-body">
						<div class="widget-main padding-24">
							<div class="row">
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-11 label label-lg label-info arrowed-in arrowed-right">
											<b>数据概要</b>
										</div>
									</div>

									<div class="space-6"></div>

									<div class="col-sm-11 profile-user-info profile-user-info-striped">

										<div class="profile-info-row">
											<div class="profile-info-name"> 账户余额 </div>

											<div class="profile-info-value">
												<span class="editable red" id="balance"><%$balance%></span>&nbsp;&nbsp;&nbsp;&nbsp;
												<i class="ace-icon glyphicon glyphicon-refresh orange" onclick="getBalance();"></i>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 冻结资金 </div>

											<div class="profile-info-value">
												<span class="editable red" id="frozenBalance"><%$frozenBalance%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值笔数 </div>

											<div class="profile-info-value">
												<span class="editable"><%$payTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$paySum%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总充值返点金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$payFee%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 正在提款中笔数 </div>

											<div class="profile-info-value">
												<span class="editable" ><%$applyWithdrawalTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日提款成功笔数 </div>

											<div class="profile-info-value">
												<span class="editable"><%$successWithdrawalTimes%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总提款成功金额 </div>

											<div class="profile-info-value">
												<span class="editable"><%$withdrawalSum%></span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> 今日总提款手续费 </div>

											<div class="profile-info-value">
												<span class="editable"><%$withdrawalFee%></span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-11 label label-lg label-success arrowed-in arrowed-right">
											<b>点数详情</b>
										</div>
									</div>

									<div class="space-6"></div>

									<div>
										<ul class="list-unstyled  spaced">
											<%if $platList%>
											<%foreach $platList as $info%>
											<li>
												<i class="ace-icon fa fa-caret-right green"></i><%$info.p_name%>： <%$info.point%>
											</li>
											<%/foreach%>
											<%/if%>
										</ul>
									</div>
								</div>
							</div>

							<div class="space"></div>


						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
	<div id="modal-form-checkSecret" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" onclick="checkSecretCancel();">&times;</button>
					<h4 class="blue bigger">验证资金密码</h4>
				</div>

				<form name="checkSecretForm" id="checkSecretForm">
					<div class="modal-body">
						<fieldset>
							<div class="block clearfix center">
								<div class="col-sm-5 text-right modal-body-fieldset-left">
									资金密码：
								</div>
								<div class="col-sm-7 text-left">
									<input type="password" name="password" value="" />
								</div>
							</div>
						</fieldset>
					</div>

					<div class="modal-footer center">
						<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="checkSecretCancel();">
							<i class="ace-icon fa fa-times"></i>
							取消
						</button>

						<button type="button" class="btn btn-sm btn-primary" onclick="checkSecretComfirm();">
							<i class="ace-icon fa fa-check"></i>
							确定
						</button>

						<input type="hidden" name="viewType" id="viewType" value="">
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!-- /.row -->
<script type="text/javascript">

    // 监听回车键
    $(document).keypress(function (event) {
        var key = event.which;
        if (key == 13) {
            checkSecretComfirm();
        }
    });

    var securityPwdIsSet = parseInt('<%$securityPwdIsSet%>');

    /**
	 * 刷新余额
	 */
    function getBalance() {
        SysHttp.post("/appAdmin/index", {flag: "getBalance"}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            if (rs.data.balance) {
                $('#balance').html("" + rs.data.balance);
                $('#frozenBalance').html("" + rs.data.frozenBalance);
            }
        });
    }
    setInterval("getBalance()", 300000);

	/**
	 * 查看私钥
	 */
	function showSecretKey(password) {
		event.preventDefault();

		if (!securityPwdIsSet) {
			SysDialog.error('请先到安全设置里面设置资金密码');
			return;
		}

		var rsp = {
            flag: "showSecretKey",
			password: password ? password : ''
		};

        SysHttp.post("/appAdmin/index", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

			// 显示资金密码验证页
			if (rs.data.showSecurityPwdVerify) {
				$('#viewType').val('show');
				// 显示弹窗
				$('#modal-form-checkSecret').modal({ backdrop: 'static', show: true });
				return;
			}

			$('#secureKey').html(rs.data.secretKey);
		});
	}

	/**
	 * 重新生成私钥
	 */
	function resetSecretKey(password) {
		event.preventDefault();

		if (!securityPwdIsSet) {
			SysDialog.error('请先到安全设置里面设置资金密码');
			return;
		}

		var rsp = {
            flag: "resetSecretKey",
			password: password ? password : ''
		};

        SysHttp.post("/appAdmin/index", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

			// 显示资金密码验证页
			if (rs.data.showSecurityPwdVerify) {
				$('#viewType').val('reset');
				// 显示弹窗
				$('#modal-form-checkSecret').modal({ backdrop: 'static', show: true });
				return;
			}

			$('#secureKey').html(rs.data.secretKey);
		});
	}

	/**
	 * 取消提交检查资金密码
	 */
	function checkSecretCancel() {
		$('#checkSecretForm').clearForm();
	}

	/**
	 * 提交检查资金密码
	 */
	function checkSecretComfirm() {
		event.preventDefault();

		// 获取表单内容
		var queryString = $('#checkSecretForm').formSerialize();
		var rsp = $.deparam(queryString);

		if (rsp['viewType'] == 'reset') {
			resetSecretKey(rsp['password']);
		} else {
			showSecretKey(rsp['password']);
		}

		// 清空表单内容
		$('#checkSecretForm').clearForm();
		$('#modal-form-checkSecret').modal('hide');
	}

</script>
<%include file="footer.html"%>