<ul class="nav nav-list" id="navMenuList">
    <%foreach $navMenuList as $info%>
    <%if !$info.menu_is_disabled && $info.menu_is_menu%>
	<li id="<%$info.menu_id%>">
		<a href="<%if $info.menu_target%><%$info.menu_target%><%else%>javascript:void(0);<%/if%>" <%if isset($info.childList)%>class="dropdown-toggle"<%/if%>>
			<i class="menu-icon fa <%if $info.menu_icon%><%$info.menu_icon%><%else%>fa-bars<%/if%>"></i>
			<span class="menu-text"> <%$info.menu_title%> </span>
        <%if isset($info.childList)%>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <%foreach $info.childList as $info1%>
            <%if !$info1.menu_is_disabled && $info1.menu_is_menu%>
            <li id="<%$info.menu_id%>-<%$info1.menu_id%>">
                <a href="<%if $info1.menu_target%><%$info1.menu_target%><%else%>javascript:void(0);<%/if%>" <%if isset($info1.childList)%>class="dropdown-toggle"<%/if%>>
                    <i class="menu-icon fa <%if $info1.menu_icon%><%$info1.menu_icon%><%else%>fa-caret-right<%/if%>"></i>
                     <%$info1.menu_title%>
                    <%if isset($info1.childList)%>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <%foreach $info1.childList as $info2%>
                    <%if !$info2.menu_is_disabled && $info2.menu_is_menu%>
                    <li id="<%$info.menu_id%>-<%$info1.menu_id%>-<%$info2.menu_id%>">
                        <a href="<%if $info2.menu_target%><%$info2.menu_target%><%else%>javascript:void(0);<%/if%>">
                            <i class="menu-icon fa <%if $info2.menu_icon%><%$info2.menu_icon%><%else%>fa-caret-right<%/if%>"></i>
                            <%$info2.menu_title%>
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <%/if%>
                    <%/foreach%>
                </ul>
                <%else%>
                </a>
                <b class="arrow"></b>
                <%/if%>
            </li>
            <%/if%>
            <%/foreach%>
        </ul>
        <%else%>
		</a>
        <b class="arrow"></b>
        <%/if%>
	</li>
    <%/if%>
    <%/foreach%>

</ul><!-- /.nav-list -->
<script type="text/javascript">

	jQuery(function($){

		var urlPathNameStr = window.location.pathname + window.location.search;
        var urlPathNameArr = urlPathNameStr.split('?');
        var urlPathName = urlPathNameArr[0];
            $(".nav-list li a").each(function () {
			var href = $(this).attr("href");
			if (href == urlPathName) {
				$(".nav-list li").removeClass("active open");
				$(this).parent().addClass("active");
				var idName = $(this).parent().attr('id');
				if (idName && idName.indexOf("-") != -1) {
					var strs = idName.split("-");
					var changeClassIdName = strs[0];
				}

				$("#" + changeClassIdName).addClass("active open");
				for (var i = 1; i < strs.length - 1; i++) {
					changeClassIdName += '-' + strs[i];
					$("#" + changeClassIdName).addClass("active open");
				}
			}
		});

	});

</script>