<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="inline">
				<div class="input-group">
					<span>支付类型：</span>
					<select name="type" style="font-size: 16px;">
						<option value="0">请选择</option>
						<%foreach $platList as $platId => $platName%>
						<option value="<%$platId%>"><%$platName%></option>
						<%/foreach%>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>支付结果：</span>
					<select name="result" style="font-size: 16px;">
						<option value="all">所有</option>
						<option value="1" selected>已支付</option>
						<option value="0">未支付</option>
					</select>
				</div>
			</div>
			
			<div class="inline">
				<div class="input-group">
					<span>充值订单号：</span>
					<input type="text" name="orderId" value="<%$orderId%>" />
				</div>
			</div>
			
			<div class="inline">
				<div class="input-group">
					<span>交易流水号：</span>
					<input type="text" name="tradeNo" value="<%$tradeNo%>" />
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>开始时间：</span>
					<input class="date-timepicker1" type="text" name="startTime" value="<%$startTime%>" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>结束时间：</span>
					<input class="date-timepicker1" type="text" name="endTime" value="<%$endTime%>" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
				<div class="input-group-btn col-xs-2">
					<button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
				</div>
				</div>
			</div>
			<input type="hidden" name="flag" value="search">
		</form>
		<hr>
		<div class="row">
			<div class="clearfix">
				<div class="pull-right tableTools-container">
					<div class="dt-buttons btn-overlap btn-group">
						<a href="javascript:void(0);" onclick="exportExcel();">
							<span>
								<i class='fa fa-file-excel-o bigger-110 green'></i>
								<span>导出为 Excel</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">商户</th>
						<th class="center">支付类型</th>
						<th class="center">充值订单号</th>
						<th class="center">充值金额</th>
						<th class="center">真实到账金额</th>
						<th class="center">渠道充值订单号</th>
						<th class="center">充值时间</th>
						<th class="center">完成时间</th>
						<th class="center">点数</th>
						<th class="center">扣掉点数后金额</th>
						<th class="center">支付状态</th>
						<th class="center">通知商户</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.id%></td>
						<td class="center"><%$info.app_name%></td>
						<td class="center"><%$platList[$info.pt_id]%></td>
						<td class="center"><%$info.order_id%></td>
						<td class="center"><%$info.amount%></td>
						<td class="center"><%$info.real_amount%></td>
						<td class="center"><%$info.tradeNo%></td>
						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info.end_time%></td>
						<td class="center"><%$info.current_fee_rate%></td>
						<td class="center"><%$info.current_fee%></td>
						<%if $info.result == 1%><td class="center green">已支付</td><%else%><td class="center red">未支付</td><%/if%>

						<%if ($info.result == 1 && $info['notify_status'] == 0 && ($info['end_time'] || $info['content'])) %>
						<td class="center" id="button_<%$info.id%>"><input type="button" value="重新推送" class="btn btn-sm btn-round btn-danger" onclick="push(<%$info.id%>);"></td>
						<%else%>
							<%if ($info.result == 1)%>
							<td class="center green">已完成</td>
							<%else%>
							<td class="center green"></td>
							<%/if%>
						<%/if%>

					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="13">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal">总真实充值到账金额：<%$sumInfo['sumRealAmount']%>，扣除点数后金额：<%$sumInfo['sumFee']%></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
	</div>
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    var platList = JSON.parse('<%$platList|@json_encode%>');

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    function exportExcel() {
        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);

        window.location.href = "/appAdmin/app/exportExcel?platId=" + rsp['platId'] + "&result=" + rsp['result'] + "&startTime=" + rsp['startTime'] + "&endTime=" + rsp['endTime'];
    }

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/appAdmin/app/payList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {
                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['app_name'] + '</td>';
                    html += '<td class="center">' + platList[rs.data['data'][index]['pt_id']] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['order_id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['real_amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['tradeNo'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['end_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_fee_rate'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_fee'] + '</td>';
                    if (rs.data['data'][index]['result'] == 0) {
                        html += '<td class="center red">未支付</td>';
                    } else {
                        html += '<td class="center green">已支付</td>';
                    }

                    if (rs.data['data'][index]['result'] == 1 && rs.data['data'][index]['notify_status'] == 0 && (rs.data['data'][index]['end_time'] || rs.data['data'][index]['content'])) {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['id'] + '"><input type="button" value="重新推送" class="btn btn-sm btn-round btn-danger" onclick="push(' + rs.data['data'][index]['id'] + ');"></td>';
                    } else {
                        if (rs.data['data'][index]['result'] == 1) {
                            html += '<td class="center green">已完成</td>';
                        } else {
                            html += '<td class="center green"></td>';
                        }
                    }
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tatal').html('总真实充值到账金额：' + rs.data.sumRealAmount + '，扣除点数后金额：' + rs.data.sumFee);
            } else {
                html += '<tr><td class="center" colspan="13">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function push(id) {
        SysHttp.post("/appAdmin/app/pushOrder", {id:id}, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#button_' + id).html('<span class="green">已完成</span>');
        });
    }

</script>
<%include file="footer.html"%>