<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="inline">
				<div class="input-group">
					<span>状态：</span>
					<select name="status" style="font-size: 16px;">
						<option value="all">请选择</option>
						<option value="0">系统处理中</option>
						<option value="1">银行处理中</option>
						<option value="2">提款成功</option>
						<option value="3">提款失败</option>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>交易流水号：</span>
					<input type="text" name="tradeNo" value="<%$tradeNo%>" />
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>开始时间：</span>
					<input class="date-timepicker1" type="text" name="startTime" value="" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>结束时间：</span>
					<input class="date-timepicker1" type="text" name="endTime" value="" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
				<div class="input-group-btn col-xs-2">
					<button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
				</div>
				</div>
			</div>
			<input type="hidden" name="flag" value="search">
		</form>
		<hr>
		<div class="row">
			<div class="clearfix">
				<div class="pull-right tableTools-container">
					<div class="dt-buttons btn-overlap btn-group">
						<a href="javascript:void(0);" onclick="exportExcel();">
							<span>
								<i class='fa fa-file-excel-o bigger-110 green'></i>
								<span>导出为 Excel</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">提款金额</th>
						<th class="center">提款手续费</th>
						<th class="center">提款银行</th>
						<th class="center">提款银行卡号</th>
						<th class="center">银行卡对应的银行</th>
						<th class="center">持卡人</th>
						<th class="center">交易流水号</th>
						<th class="center">申请时间</th>
						<th class="center">备注</th>
						<th class="center">状态</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.id%></td>
						<td class="center"><%$info.amount%></td>
						<td class="center"><%$info.fee%></td>
						<td class="center"><%$info.bank_type%></td>
						<td class="center"><%$info.card_no%></td>
						<td class="center"><%$info.bank_name%></td>
						<td class="center"><%$info.card_account_name%></td>
						<td class="center"><%$info.tradeNo%></td>
						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info.remark%></td>
						<td class="center"><%$info.statusName%></td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="11">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal">总真实提现到账金额：<%$sumAmount%></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
	</div>
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

	function exportExcel() {
		// 获取表单内容
		var queryString = $('#logsForm').formSerialize();
		var rsp = $.deparam(queryString);

		window.location.href = "/appAdmin/app/exportWithdrawalExcel?status=" + rsp['status'] + "&startTime=" + rsp['startTime'] + "&endTime=" + rsp['endTime'];
	}

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/appAdmin/app/withdrawalList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['fee'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['bank_type'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_no'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['bank_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_account_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['tradeNo'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['remark'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['statusName'] + '</td>';

                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="11">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

</script>
<%include file="footer.html"%>