<%include file="header.html"%>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <form class="form-horizontal" name="searchForm" id="searchForm">
                    <div class="inline">
                        <div class="input-group">
                            <span>收款类型：</span>
                            <select name="payType" style="font-size: 16px;">
                                <option value="all">请选择</option>
                                <option value="2">支付宝</option>
                                <option value="3">微信</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>码商：</span>
                            <select name="qrCodeUserId" style="font-size: 16px;">
                                <option value="0">请选择</option>
                                <%foreach $qrCodeUserList as $id => $name%>
                                <option value="<%$id%>"><%$name%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>收款账号：</span>
                            <input type="text" name="account" value="" />
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>是否开放：</span>
                            <select name="isOpen" style="font-size: 16px;">
                                <option value="all">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <div class="input-group-btn col-xs-2">
                                <button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="flag" value="search">
                </form>
                <hr>

                <div class="table-header">
                    收款码列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">序号</th>
                            <th class="center">所属码商</th>
                            <th class="center">收款类型</th>
                            <th class="center">收款账号</th>
                            <th class="center">最小金额/笔</th>
                            <th class="center">最大金额/笔</th>
                            <th class="center">收款额度/日</th>
                            <th class="center">收款码</th>
                            <th class="center">吱口令</th>
                            <th class="center">备注</th>
                            <th class="center">是否开放</th>
                            <th class="center">最近修改时间</th>
                        </tr>
                        </thead>

                        <tbody id="tableData">
                        <%if $pageList['data']%>
                        <%foreach $pageList['data'] as $info%>
                        <tr>
                            <td class="center"><%$info.id%></td>
                            <td class="center"><%$info.qrcode_user_name%></td>
                            <td class="center"><%$info.payTypeName%></td>
                            <td class="center"><%$info.pay_account%></td>
                            <td class="center"><%$info.min_money%></td>
                            <td class="center"><%$info.max_money%></td>
                            <td class="center"><%$info.day_amount%></td>
                            <td class="center"><%$info.img_url%></td>
                            <td class="center"><%$info.code%></td>
                            <td class="center"><%$info.remark%></td>
                            <td class="center">
                                <label>
                                    <input id="isOpen-<%$info.id%>" name="isOpen-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.is_open%>checked<%/if%>  onclick="setOpen({id:<%$info.id%>});">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center"><%$info.last_time%></td>
                        </tr>
                        <%/foreach%>
                        <%else%>
                        <tr><td class="center" colspan="12">无相关数据</td></tr>
                        <%/if%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="pull-right text-right" id="pageNav"></div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    jQuery(function($) {

        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/qrCode/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['qrcode_user_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['payTypeName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['pay_account'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['min_money'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['max_money'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['day_amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['img_url'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['code'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['remark'] + '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isOpen-' + rs.data['data'][index]['id'] + '" name="isOpen-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_open'])) {
                        html += 'checked';
                    }
                    html += ' onclick="setOpen({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">' + rs.data['data'][index]['last_time'] + '</td>';
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="12">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function setOpen(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isOpen-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["setOpen"] = 1;
        rsp["isOpen"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/qrCode/list", rsp, function (rs) {

            if (rs.code != 200) {
                $('#isOpen-' + rsp.id).get(0).checked = isLock ? 0 : 1;
                SysDialog.error(rs.msg);
                return;
            }

            $('#isOpen-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

</script>
<%include file="footer.html"%>