<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="inline">
				<div class="input-group">
					<span>开始时间：</span>
					<input class="date-timepicker1" type="text" name="startTime" id="startTime" value="<%$pageList['startTime']%>" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>结束时间：</span>
					<input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$pageList['endTime']%>" />
					<span class="input-group-addon" style="width:0px;">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>支付状态：</span>
					<select name="result" style="font-size: 16px;">
						<option value="all">全部</option>
						<option value="0">支付中</option>
						<option value="1" selected>已支付</option>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>支付类型：</span>
					<select name="payType" style="font-size: 16px;">
						<option value="all">全部</option>
						<option value="2">支付宝</option>
						<option value="3">微信</option>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>码商：</span>
					<select name="qrCodeUserId" style="font-size: 16px;">
						<option value="0">请选择</option>
						<%foreach $qrCodeUserList as $id => $name%>
						<option value="<%$id%>"><%$name%></option>
						<%/foreach%>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>商户：</span>
					<select name="appId" style="font-size: 16px;">
						<option value="0">请选择</option>
						<%foreach $appList as $appId => $appName%>
						<option value="<%$appId%>"><%$appName%></option>
						<%/foreach%>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>商户充值订单id：</span>
					<input type="text" name="orderId" value="" />
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>支付宝、微信等订单号：</span>
					<input type="text" name="payNo" value="" />
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
				<div class="input-group-btn col-xs-2">
					<button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
				</div>
				</div>
			</div>
			<input type="hidden" name="flag" value="search">
		</form>
		<hr>
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">充值时间</th>
						<th class="center">支付类型</th>
						<th class="center">收款账号</th>
						<th class="center">充值金额</th>
						<th class="center">真实付款金额</th>
						<th class="center">所属商户</th>
						<th class="center">商户订单号</th>
						<th class="center">所属码商</th>
						<th class="center">支付宝、微信等订单号</th>
						<th class="center">支付状态</th>
						<th class="center">通知商户状态</th>
						<th class="center">下单IP</th>
						<th class="center">充值到账时间</th>
						<th class="center">通知商户时间</th>
						<th class="center">操作</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info['create_time']%></td>
						<td class="center"><%$info['payTypeName']%></td>
						<td class="center"><%$info['pay_account']%></td>
						<td class="center"><%$info['amount']%></td>
						<td class="center"><%$info['real_amount']%></td>
						<td class="center"><%$appList[$info['app_id']]%></td>
						<td class="center"><%$info['app_order_id']%></td>
						<td class="center"><%$info['qrcode_user_name']%></td>
						<td class="center"><%$info['pay_no']%></td>
						<td class="center"><%$info['resultName']%></td>
						<td class="center" id="notifyStatusName_<%$info['app_id']%>_<%$info['app_order_id']%>"><%$info['notifyStatusName']%></td>
						<td class="center"><%$info['client_ip']%></td>
						<td class="center"><%$info['end_time']%></td>
						<td class="center"><%$info['notify_time']%></td>
						<td class="center" id="button_<%$info['app_id']%>_<%$info['app_order_id']%>">
							<%if ($info.result == 1 && $info.notify_status != 1)%>
							<input type="button" value="重新推送" class="btn btn-sm btn-round btn-danger" onclick="push(<%$info.id%>, '<%$info.create_time%>', '<%$info.app_id%>_<%$info.app_order_id%>');">
							<%/if%>
						</td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="15">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				总成功充值：<span id="tallMoney"><%$pageList['tallMoney']%></span> 元
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>

		<div id="modal-form" class="modal" role="dialog" tabindex="-2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">修改支付状态</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">充值时间：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="create_time" name="createTime" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">收款账号：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="pay_account" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">充值金额：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="amount" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">所属商户：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="appName" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">商户订单id：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="app_order_id" name="appOrderId" size="35" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">所属码商：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="qrcode_user_name" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">支付结果：</div>
									<div class="col-sm-9 text-left">
										<select name="result" style="font-size: 16px;">
											<option value="0">支付中</option>
											<option value="1">已支付</option>
										</select>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">真实付款金额：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="realAmount" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">支付宝、微信等订单号：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="payNo" id="pay_no" value="" />
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="id" id="id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    var appList = JSON.parse('<%$appList|@json_encode%>');

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/qrCode/payList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['payTypeName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['pay_account'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['real_amount'] + '</td>';

                    if (rs.data['data'][index]['app_id'] && rs.data['data'][index]['app_id'] != '0') {
                        html += '<td class="center">' + appList[rs.data['data'][index]['app_id']] + '</td>';
                    } else {
                        html += '<td class="center"></td>';
                    }

                    html += '<td class="center">' + rs.data['data'][index]['app_order_id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['qrcode_user_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['pay_no'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['resultName'] + '</td>';
                    html += '<td class="center" id="notifyStatusName_' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['app_order_id'] + '">' + rs.data['data'][index]['notifyStatusName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['client_ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['end_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['notify_time'] + '</td>';

                    if (rs.data['data'][index]['notify_status'] != 1 && rs.data['data'][index]['result'] == 1 && !rs.data['data'][index]['mergeOrderId']) {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['app_order_id'] + '"><input type="button" value="重新推送" class="btn btn-sm btn-round btn-danger" onclick="push(' + rs.data['data'][index]['id'] + ', \'' + rs.data['data'][index]['create_time'] + '\', \'' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['app_order_id'] + '\');"></td>';
                    } else {
                        if (rsp['orderId'] && rs.data['data'][index]['result'] != 1 && rs.data['data'][index]['haveMerge'] != 1) {
                            html += '<td class="center" id="button_' + rs.data['data'][index]['app_id'] + '_' + rs.data['data'][index]['app_order_id'] + '"><input type="button" value="修改" class="btn btn-sm btn-round btn-danger" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'></td>';
                        } else {

                            if (rsp['orderId'] && rs.data['data'][index]['mergeOrderId'] > 0) {
                                html += '<td class="center" id="merge_' + rs.data['data'][index]['mergeOrderId'] + '_' + rs.data['data'][index]['id'] + '"><input type="button" value="关联订单" class="btn btn-sm btn-round btn-danger" onclick=\'mergeOrder(' + JSON.stringify(rs.data['data'][index]) + ');\'></td>';
                            } else {
                                html += '<td class="center"></td>';
                            }
                        }

                    }

                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tallMoney').html(rs.data.tallMoney);
            } else {
                html += '<tr><td class="center" colspan="15">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function push(id, createTime, buttonId) {
        SysHttp.post("/admin/qrCode/pushOrder", {id:id,createTime:createTime}, function (rs) {
            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#button_' + buttonId).html('');
            $('#notifyStatusName_' + buttonId).html('通知成功');
        });
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            for (var idKey in json) {

                if (idKey == 'app_id') {
                    $('#appName').val(appList[json['app_id']]);
                }

                $('#' + idKey).val(json[idKey]);

            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function mergeOrder(json) {

        var rsp = {};
        rsp['createTime'] = json['create_time'];
        rsp['id'] = json['id'];
        rsp['mergeOrderId'] = json['mergeOrderId'];

        SysDialog.confirm('确定合并吗？',
            function (rqs) {
                if (rqs) {
                    SysHttp.post("/admin/qrCode/mergePayInfo", rsp, function (rs) {

                        if (rs.code != 200) {
                            SysDialog.error(rs.msg);
                            return;
                        }

                        searchComfirm();
                        cancel();
                    });
                }
            }
        );
    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        SysDialog.confirm('确定修改吗？',
            function (rqs) {
                if (rqs) {
					SysHttp.post("/admin/qrCode/updatePayInfo", rsp, function (rs) {

						if (rs.code != 200) {
							SysDialog.error(rs.msg);
							return;
						}

						searchComfirm();
						cancel();
					});
                }
            }
        );
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>