<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="col-xs-12">

				<h3 class="header smaller lighter blue">
					<a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加码商 </a>
				</h3>

				<div class="clearfix">
					<div class="pull-right tableTools-container"></div>
				</div>

				<form class="form-horizontal" name="searchForm" id="searchForm">
					<div class="inline">
						<div class="input-group">
							<span>码商账号：</span>
							<input type="text" name="name" value="" />
						</div>
					</div>
					<div class="inline">
						<div class="input-group">
							<div class="input-group-btn col-xs-2">
								<button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
							</div>
						</div>
					</div>
					<input type="hidden" name="flag" value="search">
				</form>
				<hr>

				<div class="table-header">
					商户列表
				</div>

				<!-- div.table-responsive -->

				<!-- div.dataTables_borderWrap -->
				<div class="table-responsive">
					<table id="simple-table" class="table  table-bordered table-hover">
						<thead>
						<tr>
							<th class="center">序号</th>
							<th class="center">码商账号</th>
							<th class="center">点数</th>
							<th class="center">余额</th>
							<th class="center">添加的管理员</th>
							<th class="center">允许登录的ip</th>
							<th class="center">最后登录ip</th>
							<th class="center">创建时间</th>
							<th class="center">最后登录时间</th>
							<th class="center">重置密码</th>
							<th class="center">是否锁定</th>
							<th class="center">操作</th>
						</tr>
						</thead>

						<tbody id="tableData">
						<%if $pageList['data']%>
						<%foreach $pageList['data'] as $info%>
						<tr>
							<td class="center"><%$info.id%></td>
							<td class="center"><%$info.name%></td>
							<td class="center"><%$info.point%></td>
							<td class="center"><%$info.balance%></td>
							<td class="center"><%$info.adminName%></td>
							<td class="center"><%$info.allow_login_ip%></td>
							<td class="center"><%$info.last_ip%></td>
							<td class="center"><%$info.create_time%></td>
							<td class="center"><%$info.last_time%></td>
							<td class="center">
								<input type="button" value="重置登录密码" class="btn btn-minier btn-round btn-warning" onclick="resetLoginPassword('<%$info.id%>');">
							</td>
							<td class="center">
								<label>
									<input id="isLock-<%$info.id%>" name="isLock-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.is_lock%>checked<%/if%>  onclick="onOffLock({id:<%$info.id%>});">
									<span class="lbl"></span>
								</label>
							</td>
							<td class="center">

								<div class="hidden-sm hidden-xs action-buttons">

									<a class="green" href="javascript:void(0);" onclick='showInfoModal(<%$info|@json_encode%>);'>
										<i class="ace-icon fa fa-pencil bigger-130"></i>
									</a>

									<a class="red" href="javascript:void(0);" onclick="del(<%$info.id%>);">
										<i class="ace-icon fa fa-trash-o bigger-130"></i>
									</a>

								</div>

								<div class="hidden-md hidden-lg">
									<div class="inline pos-rel">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

											<li>
												<a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip" title="编辑" onclick='showInfoModal(<%$info|@json_encode%>);'>
														<span class="green">
															<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
														</span>
												</a>
											</li>

											<li>
												<a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.id%>);">
														<span class="red">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</span>
												</a>
											</li>

										</ul>
									</div>
								</div>

							</td>
						</tr>
						<%/foreach%>
						<%else%>
						<tr><td class="center" colspan="12">无相关数据</td></tr>
						<%/if%>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="pull-right text-right" id="pageNav"></div>
			</div>
		</div>
		<div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
						<h4 class="blue bigger">添加码商</h4>
					</div>

					<form name="addForm" id="addForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">账号：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="name" value="" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">密码：</div>
									<div class="col-sm-9 text-left">
										<input type="password" name="password" value="" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">点数：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="point" value="0.005" /><span style="color: red;"> *</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">余额：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="balance" value="0" />
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="flag" value="add">
					</form>
				</div>
			</div>
		</div>
		<div id="modal-form" class="modal" role="dialog" tabindex="-2">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">修改信息</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">账号：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="name" size="35" value="" />
									</div>
								</div>
                                <div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">点数：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="point" id="point" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">余额：</div>
									<div class="col-sm-9 text-left">
										<input type="text" name="balance" id="balance" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">允许登录的ip：</div>
									<div class="col-sm-9 text-left">
										<textarea class="autosize-transition form-control" name="allowLoginIp" id="allow_login_ip"></textarea><span style="color: red;"> (多个用半角道号分隔，默认所有ip均可登录)</span>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="id" id="id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script type="text/javascript">

    jQuery(function($) {
        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/qrCode/userList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['point'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['balance'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['adminName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['allow_login_ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['last_ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['last_time'] + '</td>';

                    html += '<td class="center">';
                    html += '<input type="button" value="重置登录密码" class="btn btn-minier btn-round btn-warning" onclick="resetLoginPassword(' + rs.data['data'][index]['id'] + ');"><br/><br/>';
                    html += '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isLock-' + rs.data['data'][index]['id'] + '" name="isLock-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_lock'])) {
                        html += 'checked';
                    }
                    html += ' onclick="onOffLock({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs action-buttons"><a class="green" href="javascript:void(0);" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'><i class="ace-icon fa fa-pencil bigger-130"></i></a>';
                    html += '<a class="red" href="javascript:void(0);" onclick="del(' + rs.data['data'][index]['id'] + ');"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></div>';
                    html += '<div class="hidden-md hidden-lg"><div class="inline pos-rel"><button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto"><i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button><ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
                    html += '<li><a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip" title="编辑" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'><span class="green"><i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>';
                    html += '<li><a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(' + rs.data['data'][index]['id'] + ');"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
                    html += '</td></tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="12">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(json) {

        // 设置数据
		if (json) {
            for (var idKey in json) {
				$('#' + idKey).val(json[idKey]);
            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function onOffLock(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isLock-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["onOffLock"] = 1;
        rsp["isLock"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/qrCode/userList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 更新锁定状态不需要刷新页面
            $('#isLock-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

    function del(id) {

        if (SysData.isNull(id)) {
			SysDialog.error("操作失败");
            return;
        }

		SysHttp.post("/admin/qrCode/userList", {flag: "del", id: id}, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}
			window.location.reload();
		});
        return;
    }

	function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

		SysHttp.post("/admin/qrCode/userList", rsp, function (rs) {

			if (rs.code != 200) {
				SysDialog.error(rs.msg);
				return;
			}

            window.location.reload();
		});
	}

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("码商账号不能为空");
            return;
        }

        // 提交表单
        SysHttp.post("/admin/qrCode/userList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function changeKey() {
        SysHttp.post("/admin/qrCode/userList", {flag: "changeKey"}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#app_key').val(rs.data.key);
        });
    }

    function resetLoginPassword(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("id不能为空");
            return;
        }

        SysDialog.confirm('确定重置登录密码吗？',
            function (rqs) {
                if (rqs) {
					SysHttp.post("/admin/qrCode/userList", {flag: "resetLoginPassword", id:id}, function (rs) {

						if (rs.code != 200) {
							SysDialog.error(rs.msg);
							return;
						}

						SysDialog.success('登录密码重置成功！初始密码为：' + rs.data.password);
					});
                }
            }
        );
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#withdrawalFee').val(withdrawalFee);
        $('#add-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>