<%include file="header.html"%>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加银行卡 </a>
                </h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <form class="form-horizontal" name="searchForm" id="searchForm">
                    <div class="inline">
                        <div class="input-group">
                            <span>银行类型：</span>
                            <select name="bankType" style="font-size: 16px;">
                                <option value="all">--所有银行--</option>
                                <%foreach $bankNameList as $type => $name%>
                                <option value="<%$type%>"><%$name%></option>
                                <%/foreach%>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>持卡人：</span>
                            <input type="text" name="cardAccountName" value="" />
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>银行卡号：</span>
                            <input type="text" name="cardNo" value="" />
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>开始时间：</span>
                            <input class="date-timepicker1" type="text" name="startTime" value="<%$startTime%>" />
                            <span class="input-group-addon" style="width:0px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>结束时间：</span>
                            <input class="date-timepicker1" type="text" name="endTime" value="<%$endTime%>" />
                            <span class="input-group-addon" style="width:0px;">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <div class="input-group-btn col-xs-2">
                                <button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="flag" value="search">
                </form>
                <hr>

                <div class="table-header">
                    银行卡列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">序号</th>
                            <th class="center">银行名称</th>
                            <th class="center">银行卡号</th>
                            <th class="center">持卡人</th>
                            <th class="center">开户省市</th>
                            <th class="center">支行名称</th>
                            <th class="center">是否在使用中</th>
                            <th class="center">是否是默认卡</th>
                            <th class="center">绑定时间</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody id="tableData">
                        <%if $pageList['data']%>
                        <%foreach $pageList['data'] as $info%>
                        <tr>
                            <td class="center"><%$info.id%></td>
                            <td class="center"><%$bankNameList[$info.bank_type]%></td>
                            <td class="center"><%$info.card_no%></td>
                            <td class="center"><%$info.card_account_name%></td>
                            <td class="center"><%$info.city_name%></td>
                            <td class="center"><%$info.bank_name%></td>
                            <td class="center">
                                <label>
                                    <input id="isLock-<%$info.id%>" name="isLock-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.is_lock%>checked<%/if%>  onclick="onOffLock({id:<%$info.id%>});">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center">
                                <label>
                                    <input id="isDefault-<%$info.id%>" name="isDefault-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.is_default%>checked<%/if%>  onclick="setDefault({id:<%$info.id%>});">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center"><%$info.create_time%></td>
                            <td class="center">

                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a class="red" href="javascript:void(0);" onclick="del(<%$info.id%>);">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>

                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.id%>);">
														<span class="red">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <%/foreach%>
                        <%else%>
                        <tr><td class="center" colspan="10">无相关数据</td></tr>
                        <%/if%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="pull-right text-right" id="pageNav"></div>
            </div>
        </div>
        <div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
                        <h4 class="blue bigger">添加银行卡</h4>
                    </div>

                    <form name="addForm" id="addForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">银行类型：</div>
                                    <div class="col-sm-9 text-left">
                                        <select name="bankType" style="font-size: 16px;">
                                            <option value="">请选择</option>
                                            <%foreach $bankNameList as $type => $name%>
                                            <option value="<%$type%>"><%$name%></option>
                                            <%/foreach%>
                                        </select>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">银行卡号：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="cardNo" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">所在城市：</div>
                                    <div class="col-sm-9 text-left" id="area"></div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">支行名称：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" class="col-xs-10 col-sm-9" name="bankName" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">持卡人：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="cardAccountName" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">资金密码：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="password" name="password" value="" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="add">
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script type="text/javascript">

    var bankNameList = JSON.parse('<%$bankNameList|@json_encode%>');

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/bankCard", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + bankNameList[rs.data['data'][index]['bank_type']] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_no'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_account_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['city_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['bank_name'] + '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isLock-' + rs.data['data'][index]['id'] + '" name="isLock-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_lock'])) {
                        html += 'checked';
                    }
                    html += ' onclick="onOffLock({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isDefault-' + rs.data['data'][index]['id'] + '" name="isDefault-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_default'])) {
                        html += 'checked';
                    }
                    html += ' onclick="setDefault({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs action-buttons"><a class="red" href="javascript:void(0);" onclick="del(' + rs.data['data'][index]['id'] + ');"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></div>';
                    html += '<div class="hidden-md hidden-lg"><div class="inline pos-rel"><button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto"><i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button><ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
                    html += '<li><a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(' + rs.data['data'][index]['id'] + ');"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
                    html += '</td></tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="10">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function showAddModal() {
        $("#area").city();
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function onOffLock(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isLock-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["onOffLock"] = 1;
        rsp["isLock"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/bankCard", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 更新锁定状态不需要刷新页面
            $('#isLock-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

    function setDefault(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isDefault-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["setDefault"] = 1;
        rsp["isDefault"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/admin/bankCard", rsp, function (rs) {

            if (rs.code != 200) {
                $('#isDefault-' + rsp.id).get(0).checked = isLock ? 0 : 1;
                SysDialog.error(rs.msg);
                return;
            }

            searchComfirm();
            SysDialog.success("操作成功");
        });
    }

    function del(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("操作失败");
            return;
        }

        SysHttp.post("/admin/bankCard", {flag: "del", id: id}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }
            window.location.reload();
        });
        return;
    }

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.bankType) || SysData.isNull(rsp.cardNo) || SysData.isNull(rsp.cityId) || SysData.isNull(rsp.bankName) || SysData.isNull(rsp.cardAccountName)) {
            SysDialog.alert("请填整完信息！");
            return;
        }

        var cityName = $.getCityText(rsp.cityId);
        rsp['cityName'] = cityName;

        // 提交表单
        SysHttp.post("/admin/bankCard", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>