<%include file="header.html"%>
<style>
    .chosen-single {
        width: 180px
    }

    .form-row {
        margin: 10px auto 0;
    }

    .pagination {
        margin: 0 1px;
    }

    .fixed-table-loading {
        display: none !important;
    }

    .profile-user-info {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="profile-user-info profile-user-info-striped">
<!--            <div class="profile-info-row">-->
<!--                <div class="profile-info-name"> 账户余额</div>-->

<!--                <div class="profile-info-value">-->
<!--                    <span class="editable red"><%$balance%></span>-->
<!--                </div>-->
<!--            </div>-->

            <div class="profile-info-row">
                <div class="profile-info-name"> 今日总充值笔数</div>

                <div class="profile-info-value">
                    <span class="editable"><%$payTimes%></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 今日总充值金额</div>

                <div class="profile-info-value">
                    <span class="editable"><%$paySum%></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 今日总赚取点差金额</div>

                <div class="profile-info-value">
                    <span class="editable"><%$sumFee%></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 未处理提款申请笔数</div>

                <div class="profile-info-value">
                    <span class="editable">总共：<%$withdrawalTimes%> 笔；其中 商户：<%$appWithdrawalTimes%> 笔，代理：<%$proxyWithdrawalTimes%> 笔</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 今日我方总提款成功金额</div>

                <div class="profile-info-value">
                    <span class="editable"><%$withdrawalSum%></span>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <form class="form-horizontal" name="logsForm" id="logsForm">
            <div class="row form-row">
                <div class="input-group inline">
                    <select name="appId" id="appId" class="chosen-single">
                        <option value="0">请选择商户名称</option>
                        <%foreach $appList as $appId => $appName%>
                        <option value="<%$appId%>"><%$appName%></option>
                        <%/foreach%>
                    </select>
                </div>
                <div class="input-group inline">
                    <select name="payTypeId" id="payTypeId" class="chosen-single">
                        <option value="0">请选择支付类型</option>
                        <%foreach $payTypeList as $ptId => $ptName%>
                        <option value="<%$ptId%>"><%$ptName%></option>
                        <%/foreach%>
                    </select>
                </div>
                <div class="input-group inline">
                    <select name="platId" id="platId" class="chosen-single">
                        <option value="0">请选择渠道名称</option>
                        <%foreach $platList as $platId => $platName%>
                        <option value="<%$platId%>"><%$platName%></option>
                        <%/foreach%>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="input-group pull-left">
                    <span class="input-group-addon" style="width:0;">
						时间区间
					</span>
                    <input class="date-timepicker1" type="text"
                           style="border-right: 0;" id="startTime"
                           name="startTime" value="<%$startTime%>"/>
                </div>
                <div class="input-group pull-left" style="margin-right: 10px">
                     <span class="input-group-addon" style="width:0;background: #FFF">
						-
					</span>
                    <input class="date-timepicker1" type="text" name="endTime"
                           id="endTime"
                           value="<%$endTime%>"/>
                </div>
            </div>
            <div class="row form-row">
                <div class="input-group pull-left">
                    <span class="input-group-addon" style="width:0;">
						金额区间
					</span>
                    <input class="form-control" style="border-right: 0;" type="text" name="min_amount" id="min_amount"
                           value="<%$min_amount%>"/>
                </div>
                <div class="input-group pull-left">
                     <span class="input-group-addon" style="width:0;background: #FFF">
						-
					</span>
                    <input class="form-control" type="text" name="max_amount" id="max_amount" value="<%$max_amount%>"/>
                </div>
                <div class="input-group" style="padding-top: 7px;padding-left: 10px">
                    <span class="alert alert-warning" style="padding: 6px">
						金额区间: 筛选每天每个小时成单金额总和
					</span>
                </div>
            </div>
            <div class="row form-row">
                <div class="input-group inline">
                    <button type="button" class="btn btn-info" id="searchButton">
                        <i class="fa fa-search"></i> 数据查询
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div id="echarts-line-chart"></div>
        <div class="table-responsive">
            <table id="simple-table" class="table  table-bordered table-hover table-striped">
            </table>
        </div>
    </div>
</div>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>

<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>

<script src="/misc/js/fusioncharts/fusioncharts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.charts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.powercharts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.jqueryplugin.min.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.theme.fusion.js"></script>

<script type="text/javascript">
    // Table
    var tableParams = "pageSize,pageNumber,platId,payTypeId,appId,min_amount,max_amount,startTime,endTime",
        tableParamsHeader = "/admin/index?flag=theader",
        tableParamsBody = "/admin/index?flag=tbody",
        tableHandler = $('#simple-table');
    $(document).ready(function () {

        $('.chosen-single').chosen({
            search_contains: true
        });



        $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#searchButton').on('click', function () {
            tableHandler.bootstrapTable('refresh');
            drawChart();
        });

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
        btTable(tableHandler, tableParams, tableParamsHeader, tableParamsBody);
        drawChart();
    });

    function drawChart() {
        $.ajax({
            url: "/admin/index?flag=api_charts",
            type: 'get',
            dataType: "json",
            data: $('#logsForm').serialize(),
            async: false,
            success: function (data) {
                $("#echarts-line-chart").insertFusionCharts({
                    type: 'mscombidy2d',
                    width: '100%',
                    height: '400',
                    dataFormat: 'json',
                    dataSource: {
                        chart: {
                            "caption": "统计图表",
                            "numberSuffix": " 万",
                            "sNumberSuffix": "%",
                            "theme": "fusion",
                            "formatNumberScale": 0
                        },
                        categories: [{
                            category: data.category
                        }],
                        dataset: data.dataset
                    }
                });
            }
        });
    }

    function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
        Handler.bootstrapTable({
            sidePagination: "server", //服务端请求
            method: 'get',
            dataType: "json",
            url: tableParamsBody,
            queryParams: queryParams,
            responseHandler: function (result) {
                var total_sum = '';
                if (result.totalSum) {
                    total_sum = result.totalSum;
                }
                return {"rows": result.data, "total": result.total, "totalSum": total_sum}
            },
            pagination: true,
            queryParamsType: Params,
            pageSize: tableSize ? tableSize : 10,
            pageNumber: 1,
            pageList: [],
            height: $(document).outerHeight - 120,
            singleSelect: false,
            search: false,
            maintainSelected: false,
            strictSearch: false,
            clickToSelect: false,
            showToggle: false,
            showColumns: false,
            showRefresh: false,
            showExport: false,
            striped: true,
            toolbar: "#dataTableLabelToolbar",
            iconSize: "outline",
            showFooter: true,
            icons: {
                refresh: "glyphicon-repeat",
                toggle: "glyphicon-list-alt",
                columns: "glyphicon-list",
                export: "glyphicon-export"
            },
            columns: queryColumns()
        });

        Handler.on('load-success.bs.table', function (e, data) {
            Handler.find('tfoot tr').remove();
            Handler.find('tfoot').append('<tr>' + data.totalSum + '</tr>');
        });
    }

    function queryParams(params) {
        var optionalParam = {
            pageSize: params.pageSize,
            pageNumber: params.pageNumber
        };
        var data = tableParams.split(',');
        for (var i in data) {
            if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
                optionalParam[data[i]] = $('#' + data[i]).val();
            }
        }
        return optionalParam
    }

    function queryColumns() {
        var $columns = [];
        $.ajax({
            url: tableParamsHeader,
            type: 'get',
            dataType: "json",
            data: {'flag': 'theader'},
            async: false,
            success: function (returnValue) {
                $columns = returnValue.data;
            }
        });
        return $columns;
    }

    function setWithdrawalFee() {

        var withdrawalFee = $('#withdrawalFee').val();
        if (SysData.isNull(withdrawalFee)) {
            SysDialog.error("系统提款手续费必须大于0");
            return;
        }

        SysHttp.post("/admin/index", {flag: "setWithdrawalFee", withdrawalFee: withdrawalFee}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            SysDialog.success('修改成功！');
        });
    }
</script>
<%include file="footer.html"%>
