<%include file="header.html"%>
<!-- 可能会处理成公共样式 -->
<style>

    .chosen-single {
        width: 180px
    }

    .form-row {
        margin: 10px auto 0;
    }

    .pagination {
        margin: 0 1px;
    }

    .fixed-table-loading {
        display: none !important;
    }

    .profile-user-info {
        width: 100%;
    }
</style>

<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
            <div class="row form-row">
                <div class="inline">
                    <div class="input-group inline">
                        <select name="bankType" id="bankType" class="chosen-single">
                            <option value="0">--结算类型--</option>
                            <option value="all">请选择</option>
                            <option value="1">充值结算</option>
                            <option value="2">提款</option>
                            <option value="3">提款手续费</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row form-row">
                <div class="input-group pull-left">
                    <span class="input-group-addon" style="width:0;">时间区间</span>
                    <input class="date-timepicker1" type="text" style="border-right: 0;" id="startTime"  name="startTime" value="<%$startTime%>"/>
                </div>
                <div class="input-group pull-left" style="margin-right: 10px">
                    <span class="input-group-addon" style="width:0;background: #FFF">-</span>
                    <input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$endTime%>"/>
                </div>
            </div>

            <div class="row form-row">
                <div class="input-group inline">
                    <button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
                </div>
                <input type="hidden" name="flag" value="search">
            </div>

		</form>
		<hr>
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">金额</th>
						<th class="center">类型</th>
						<th class="center">交易流水号</th>
						<th class="center">帐变时间</th>
						<th class="center">帐变后金额</th>
						<th class="center">操作</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.id%></td>
						<td class="center"><%$info.amount%></td>
						<td class="center"><%$info.typeName%></td>
						<td class="center"><%$info.tradeInfo%></td>
						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info.current_balance%></td>
						<td class="center" id="button_<%$info.id%>"><input type="button" value="查看详情" class="btn btn-sm btn-round btn-success" onclick='viewInfo(<%$info|@json_encode%>);'></td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="7">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
	</div>
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    //可能会处理成公共JS------
        $(document).ready(function () {

            $('.chosen-single').chosen({
                search_contains: true
            });

            $('.date-timepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        });

        function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
            Handler.bootstrapTable({
                sidePagination: "server", //服务端请求
                method: 'get',
                dataType: "json",
                url: tableParamsBody,
                queryParams: queryParams,
                responseHandler: function (result) {
                    return {"rows": result.data.data, "total": result.data.total}
                },
                pagination: true,
                queryParamsType: Params,
                pageSize: tableSize ? tableSize : 10,
                pageNumber: 1,
                pageList: [],
                height: $(document).outerHeight - 120,
                singleSelect: false,
                search: false,
                maintainSelected: false,
                strictSearch: false,
                clickToSelect: false,
                showToggle: false,
                showColumns: false,
                showRefresh: false,
                showExport: false,
                striped: true,
                toolbar: "#dataTableLabelToolbar",
                iconSize: "outline",
                icons: {
                    refresh: "glyphicon-repeat",
                    toggle: "glyphicon-list-alt",
                    columns: "glyphicon-list",
                    export: "glyphicon-export"
                },
                columns: queryColumns()
            });
        }

        function queryParams(params) {
            var optionalParam = {
                pageSize: params.pageSize,
                pageNumber: params.pageNumber
            };
            var data = tableParams.split(',');
            for (var i in data) {
                if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
                    optionalParam[data[i]] = $('#' + data[i]).val();
                }
            }
            return optionalParam
        }

        function queryColumns() {
            var $columns = [];
            $.ajax({
                url: tableParamsHeader,
                type: 'get',
                dataType: "json",
                data: {'flag': 'theader'},
                async: false,
                success: function (returnValue) {
                    $columns = returnValue.data;
                }
            });
            return $columns;
        }
    //-------end-----------
    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        pagelist(parseInt("<%$pageList['totalPages']%>"), true);

    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/orderList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';

                    if (rs.data['data'][index]['type'] == 1) {
                        html += '<td class="center">充值结算</td>';
                    } else if (rs.data['data'][index]['type'] == 2) {
                        html += '<td class="center">提款</td>';
                    } else {
                        html += '<td class="center">提款手续费</td>';
                    }

                    html += '<td class="center">' + rs.data['data'][index]['tradeInfo'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['current_balance'] + '</td>';
                    html += '<td class="center" id="button_' + rs.data['data'][index]['id'] + '"><input type="button" value="查看详情" class="btn btn-sm btn-round btn-success" onclick=\'viewInfo(' + JSON.stringify(rs.data['data'][index]) + ');\'></td>';
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="7">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function viewInfo(json) {

        if (SysData.isNull(json.id) || SysData.isNull(json.type)) {
            SysDialog.alert("参数错误");
            return;
        }

        if (json.type != 1) {
            window.location.href = '/admin/withdrawalList?tradeNo=' + json.tradeInfo;
        } else {
            window.location.href = '/admin/payList?startTime=' + json.start_time + '&startTime=' + json.end_time;
        }

    }

</script>
<%include file="footer.html"%>