<%include file="header.html"%>
<!-- 可能会处理成公共样式 -->
<style>

    .chosen-single {
        width: 180px
    }

    .form-row {
        margin: 10px auto 0;
    }

    .pagination {
        margin: 0 1px;
    }

    .fixed-table-loading {
        display: none !important;
    }

    .profile-user-info {
        width: 100%;
    }
</style>
<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="row form-row">
                <div class="input-group pull-left">
                    <span class="input-group-addon" style="width:0;">时间区间</span>
                    <input class="date-timepicker1" type="text" style="border-right: 0;" id="startTime"  name="startTime" value="<%$startTime%>"/>
                </div>
                <div class="input-group pull-left" style="margin-right: 10px">
                    <span class="input-group-addon" style="width:0;background: #FFF">-</span>
                    <input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$endTime%>"/>
                </div>
            </div>

            <div class="row form-row">
                <div class="input-group inline">
                    <button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
                </div>
                <input type="hidden" name="flag" value="search">
            </div>
		</form>
		<hr>
                <div id="echarts-line-chart"></div>
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">月份</th>
						<th class="center">总成功充值笔数</th>
						<th class="center">总充值金额</th>
						<th class="center">总结算金额</th>
					</tr>
					</thead>
					<tbody id="tableData">
                                        <tr><td class="center" colspan="4">数据加载中…</td></tr>
                                        <!--
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.report_month%></td>
						<td class="center"><%$info.order_number%></td>
						<td class="center"><%$info.real_amount%></td>
						<td class="center"><%$info.fee%></td>
					</tr>
					<%/foreach%>
					<tr class="green">
						<td class="center">所有汇总</td>
						<td class="center"><%$pageList.orderNum%></td>
						<td class="center"><%$pageList.sumRealAmount%></td>
						<td class="center"><%$pageList.sumFee%></td>
					</tr>
					<%else%>
					<tr><td class="center" colspan="4">无相关数据</td></tr>
					<%/if%>
                                        -->
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal"></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
	</div>
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>

<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>

<script src="/misc/js/fusioncharts/fusioncharts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.charts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.powercharts.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.jqueryplugin.min.js"></script>
<script src="/misc/js/fusioncharts/fusioncharts.theme.fusion.js"></script>
<script type="text/javascript">
	//可能会处理成公共JS------
        $(document).ready(function () {

            $('.chosen-single').chosen({
                search_contains: true
            });

            $('.date-timepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            searchComfirm();
        });

        function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
            Handler.bootstrapTable({
                sidePagination: "server", //服务端请求
                method: 'get',
                dataType: "json",
                url: tableParamsBody,
                queryParams: queryParams,
                responseHandler: function (result) {
                    return {"rows": result.data.data, "total": result.data.total}
                },
                pagination: true,
                queryParamsType: Params,
                pageSize: tableSize ? tableSize : 10,
                pageNumber: 1,
                pageList: [],
                height: $(document).outerHeight - 120,
                singleSelect: false,
                search: false,
                maintainSelected: false,
                strictSearch: false,
                clickToSelect: false,
                showToggle: false,
                showColumns: false,
                showRefresh: false,
                showExport: false,
                striped: true,
                toolbar: "#dataTableLabelToolbar",
                iconSize: "outline",
                icons: {
                    refresh: "glyphicon-repeat",
                    toggle: "glyphicon-list-alt",
                    columns: "glyphicon-list",
                    export: "glyphicon-export"
                },
                columns: queryColumns()
            });
        }

        function queryParams(params) {
            var optionalParam = {
                pageSize: params.pageSize,
                pageNumber: params.pageNumber
            };
            var data = tableParams.split(',');
            for (var i in data) {
                if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
                    optionalParam[data[i]] = $('#' + data[i]).val();
                }
            }
            return optionalParam
        }

        function queryColumns() {
            var $columns = [];
            $.ajax({
                url: tableParamsHeader,
                type: 'get',
                dataType: "json",
                data: {'flag': 'theader'},
                async: false,
                success: function (returnValue) {
                    $columns = returnValue.data;
                }
            });
            return $columns;
        }
    //-------end-----------



    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });
        
        //pagelist(parseInt("<%$pageList['totalPages']%>"), true);

    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    var round = function(v,tofix=0){
        if(isNaN(v)||isNaN(v)){
            return 0;
        }else{
            var pow = Math.pow(10,tofix);
            return Math.round(v*pow)/pow;
        }
    }
    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/reportMonth", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            var dataChart = {category:[],dataset:[
                    {
                        "seriesname": "总成功充值笔数", 
                        "renderAs": "spline",
                        "parentYAxis":"S", 
                        "showValues": "0", 
                        "data":[]
                    },
                    {
                        "seriesname": "总充值金额", 
                        "renderAs": "bar", 
                        "showValues": "0", 
                        "data":[]
                    },
                    {
                        "seriesname": "总结算金额", 
                        "renderAs": "bar",
                        "showValues": "0", 
                        "data":[]
                    }
            ]};
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {
                    dataChart.category.push({"label":rs.data['data'][index]['report_month']});
                    dataChart.dataset[0].data.push({"value":rs.data['data'][index]['order_number']});
                    dataChart.dataset[1].data.push({"value":round(rs.data['data'][index]['real_amount']*1.0/10000,2)})
                    dataChart.dataset[2].data.push({"value":round(rs.data['data'][index]['fee']*1.0/10000,2)})

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['report_month'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['order_number'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['real_amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['fee'] + '</td>';
                    html += '</tr>';
                }

                html += '<tr class="green">';
                html += '<td class="center">所有汇总</td>';
                html += '<td class="center">' + rs.data['orderNum'] + '</td>';
                html += '<td class="center">' + rs.data['sumRealAmount'] + '</td>';
                html += '<td class="center">' + rs.data['sumFee'] + '</td>';
                html += '</tr>';

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="4">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);
            drawChart(dataChart);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }
    function drawChart(data) {
        $("#echarts-line-chart").insertFusionCharts({
            type: 'mscombidy2d',
            width: '100%',
            height: '400',
            dataFormat: 'json',
            dataSource: {
                chart: {
                    "caption": "统计图表",
                    "PYAxisName":"金额",
                    "SYAxisName":"数量",
                    "numberSuffix": " 万",
                    "sNumberSuffix": " 笔",
                    "theme": "fusion",
                    "formatNumberScale": 0
                },
                categories: [{
                    category: data.category
                }],
                dataset: data.dataset
            }
        });
    }
</script>
<%include file="footer.html"%>