<%include file="header.html"%>
<style>

	.chosen-single {
		width: 180px
	}

	.form-row {
		margin: 10px auto 0;
	}

	.pagination {
		margin: 0 1px;
	}

	.fixed-table-loading {
		display: none !important;
	}

	.profile-user-info {
		width: 100%;
	}
</style>
<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="row form-row">
				<div class="inline">
					<div class="input-group inline">

						<select name="appId" id="appId" class="chosen-single">
							<option value="0">--商户--</option>
								<%foreach $appList as $appId => $appName%>
								<option value="<%$appId%>"><%$appName%></option>
								<%/foreach%>
						</select>
					</div>
				</div>

				<div class="inline">
					<div class="input-group inline">

						<select name="payTypeId" id="payTypeId" class="chosen-single">
							<option value="0">--支付类型--</option>
							<%foreach $payTypeList as $ptId => $ptName%>
							<option value="<%$ptId%>"><%$ptName%></option>
							<%/foreach%>
						</select>
					</div>
				</div>

				<div class="inline">
					<div class="input-group inline">

						<select name="platId" id="platId" class="chosen-single">
							<option value="0">--支付渠道--</option>
							<%foreach $platList as $platId => $platName%>
							<option value="<%$platId%>"><%$platName%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row form-row">

				<div class="input-group inline">
					<button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>

				</div>
				<input type="hidden" name="flag" value="search">
			</div>

		</form>
		<hr>
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal">总统计单数：<%$payLogList["allNum"]%>，成功支付单数：<%$payLogList["successNum"]%>，成功率：<%$payLogList["successRate"]%>%，最近100单成功率：<%$payLogList["successRate100"]%>%</span>
			</div>
		</div>
		
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">充值金额</th>
						<!--<th class="center">真实到账金额</th>-->
						<th class="center">支付状态</th>
						<th class="center">充值时间</th>
						<!--<th class="center">完成时间</th>-->
						<th class="center">支付类型</th>
						<th class="center">商户</th>
						<th class="center">渠道</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $payLogList['list']%>
					<%foreach $payLogList['list'] as $info%>
					<tr>
						<td class="center"><%$info.amount%></td>
						<!--<td class="center"><%$info.real_amount%></td>-->

						<%if $info['result'] == 1%>
						<td class="center"><input type="button" value="成功" class="btn btn-minier btn-success"></td>
						<%else%>
						<td class="center"><input type="button" value="支付中" class="btn btn-minier btn-warning"></td>
						<%/if%>

						<td class="center"><%$info.create_time%></td>
						<!--<td class="center"><%$info.end_time%></td>-->
						<td class="center"><%$payTypeList[$info['pt_id']]%></td>
						<td class="center"><%$info.app_name%></td>
						<td class="center"><%$platList[$info['p_id']]%></td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="8">无数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->

	</div>
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>

<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
	//可能会处理成公共JS------
	$(document).ready(function () {

		$('.chosen-single').chosen({
			search_contains: true
		});

		$('.date-timepicker1').datetimepicker({
			format: 'YYYY-MM-DD HH:mm:ss',
			icons: {
				time: 'fa fa-clock-o',
				date: 'fa fa-calendar',
				up: 'fa fa-chevron-up',
				down: 'fa fa-chevron-down',
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-arrows ',
				clear: 'fa fa-trash',
				close: 'fa fa-times'
			}
		}).next().on(ace.click_event, function () {
			$(this).prev().focus();
		});

		$.ajaxSetup({
			headers: {
				'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
			}
		});
	});

	function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
		Handler.bootstrapTable({
			sidePagination: "server", //服务端请求
			method: 'get',
			dataType: "json",
			url: tableParamsBody,
			queryParams: queryParams,
			responseHandler: function (result) {
				return {"rows": result.data.data, "total": result.data.total}
			},
			pagination: true,
			queryParamsType: Params,
			pageSize: tableSize ? tableSize : 10,
			pageNumber: 1,
			pageList: [],
			height: $(document).outerHeight - 120,
			singleSelect: false,
			search: false,
			maintainSelected: false,
			strictSearch: false,
			clickToSelect: false,
			showToggle: false,
			showColumns: false,
			showRefresh: false,
			showExport: false,
			striped: true,
			toolbar: "#dataTableLabelToolbar",
			iconSize: "outline",
			icons: {
				refresh: "glyphicon-repeat",
				toggle: "glyphicon-list-alt",
				columns: "glyphicon-list",
				export: "glyphicon-export"
			},
			columns: queryColumns()
		});
	}

	function queryParams(params) {
		var optionalParam = {
			pageSize: params.pageSize,
			pageNumber: params.pageNumber
		};
		var data = tableParams.split(',');
		for (var i in data) {
			if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
				optionalParam[data[i]] = $('#' + data[i]).val();
			}
		}
		return optionalParam
	}

	function queryColumns() {
		var $columns = [];
		$.ajax({
			url: tableParamsHeader,
			type: 'get',
			dataType: "json",
			data: {'flag': 'theader'},
			async: false,
			success: function (returnValue) {
				$columns = returnValue.data;
			}
		});
		return $columns;
	}
	//-------end-----------


    var payTypeList = JSON.parse('<%$payTypeList|@json_encode%>');
    var platList = JSON.parse('<%$platList|@json_encode%>');

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/successRateList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.list && !SysData.isNull(rs.data.list)) {
                for (var index in rs.data.list) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['list'][index]['amount'] + '</td>';
                    //html += '<td class="center">' + rs.data['list'][index]['real_amount'] + '</td>';

					if (rs.data['list'][index]['result'] == 1) {
                        html += '<td class="center"><input type="button" value="成功" class="btn btn-minier btn-success"></td>';
                    } else {
                        html += '<td class="center"><input type="button" value="支付中" class="btn btn-minier btn-warning"></td>';
                    }

                    html += '<td class="center">' + rs.data['list'][index]['create_time'] + '</td>';
                    //html += '<td class="center">' + rs.data['list'][index]['end_time'] + '</td>';
                    html += '<td class="center">' + payTypeList[rs.data['list'][index]['pt_id']] + '</td>';
                    html += '<td class="center">' + rs.data['list'][index]['app_name'] + '</td>';
                    html += '<td class="center">' + platList[rs.data['list'][index]['p_id']] + '</td>';
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tatal').html('总统计单数：' + rs.data.allNum + '，成功支付单数：' + rs.data.successNum + '，成功率：' + rs.data.successRate + '%，最近100单成功率：'+ rs.data.successRate100 + '%') ;
            } else {
                html += '<tr><td class="center" colspan="8">无数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

        });
    }

    setInterval("searchComfirm()", 3000);

</script>
<%include file="footer.html"%>