<%include file="header.html"%>
<style>

    .chosen-single {
        width: 180px
    }

    .form-row {
        margin: 10px auto 0;
    }

    .pagination {
        margin: 0 1px;
    }

    .fixed-table-loading {
        display: none !important;
    }

    .profile-user-info {
        width: 100%;
    }
</style>
<div class="row">
	<div class="col-xs-12">

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="row form-row">
                <div class="inline">
                    <div class="input-group inline">
                        <select name="status" id="status" class="chosen-single">
							<option value="all">--请选择--</option>
							<option value="0">系统处理中</option>
							<option value="1">银行处理中</option>
							<option value="2">提款成功</option>
							<option value="3">提款失败</option>
                        </select>
                    </div>
                </div>
            </div>
			<div class="row form-row">
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">交易流水号</span>
					<input class="form-control" type="text" name="tradeNo" id="tradeNo" value="<%$tradeNo%>"/>
				</div>
				<div class="input-group pull-left">
					<span class="input-group-addon" style="width:0;">时间区间</span>
					<input class="date-timepicker1" type="text" style="border-right: 0;" id="startTime"  name="startTime" value="<%$startTime%>"/>
				</div>
				<div class="input-group pull-left" style="margin-right: 10px">
					<span class="input-group-addon" style="width:0;background: #FFF">-</span>
					<input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$endTime%>"/>
				</div>
			</div>
			
            <div class="row form-row">
                <div class="input-group inline">
                    <button type="button" class="btn btn-info" id="searchButton" onclick="searchComfirm();"><i class="fa fa-search"></i> 数据查询</button>
                </div>
                <input type="hidden" name="flag" value="search">
            </div>
		</form>
		<hr>
		<div class="row">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">序号</th>
						<th class="center">提款金额</th>
						<th class="center">提款手续费</th>
						<th class="center">提款银行</th>
						<th class="center">提款银行卡号</th>
						<th class="center">银行卡对应的银行</th>
						<th class="center">持卡人</th>
						<th class="center">交易流水号</th>
						<th class="center">申请时间</th>
						<th class="center">状态</th>
						<th class="center">提款申请人</th>
						<th class="center">操作</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info.id%></td>
						<td class="center"><%$info.amount%></td>
						<td class="center"><%$info.fee%></td>
						<td class="center"><%$info.bank_type%></td>
						<td class="center"><%$info.card_no%></td>
						<td class="center"><%$info.bank_name%></td>
						<td class="center"><%$info.card_account_name%></td>
						<td class="center"><%$info.tradeNo%></td>
						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info.statusName%></td>
						<td class="center"><%$info.apply_user%></td>
						<%if $info['status'] == 1%>
						<td class="center" id="button_<%$info.id%>"><input type="button" value="审核" class="btn btn-sm btn-round btn-danger" onclick="check(<%$info.id%>);"></td>
						<%else%>
						<td class="center"></td>
						<%/if%>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="12">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-left text-left">
				<span id="tatal">总提款金额为：<%$pageList['sumAmount']%>，总提款手续费为：<%$pageList['sumFee']%></span>
			</div>
			<div class="pull-right text-right" id="pageNav"></div>
		</div>
		<div id="modal-form" class="modal" role="dialog" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
						<h4 class="blue bigger">提款审核</h4>
					</div>

					<form name="updateForm" id="updateForm">
						<div class="modal-body">
							<fieldset>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">能提款资金：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="cash_balance" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">提款资金：</div>
									<div class="col-sm-9 text-left">
										<input readonly="" id="amount" value="" />
									</div>
								</div>
								<div class="space-4"></div>
								<div class="block clearfix center">
									<div class="col-sm-3 text-right">审核状态：</div>
									<div class="col-sm-9 text-left">
										<select name="status" style="font-size: 16px;">
											<option value="0">请选择</option>
											<option value="2">提款成功</option>
											<option value="3">提款失败</option>
										</select>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="modal-footer center">
							<button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>

							<button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
								<i class="ace-icon fa fa-check"></i>
								确定
							</button>
						</div>
						<input type="hidden" name="id" id="id" value="">
						<input type="hidden" name="flag" value="update">
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.row -->
<!-- 可能会处理成公共JS -->
<script src="/misc/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/misc/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/misc/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/misc/js/bootstrap-table/export/bootstrap-table-export.js"></script>
<script src="/misc/js/bootstrap-table/export/table-export.js"></script>
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">
    //可能会处理成公共JS------
        $(document).ready(function () {

            $('.chosen-single').chosen({
                search_contains: true
            });

            $('.date-timepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-arrows ',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        });

        function btTable(Handler, Params, ParamsHeader, ParamsBody, tableSize) {
            Handler.bootstrapTable({
                sidePagination: "server", //服务端请求
                method: 'get',
                dataType: "json",
                url: tableParamsBody,
                queryParams: queryParams,
                responseHandler: function (result) {
                    return {"rows": result.data.data, "total": result.data.total}
                },
                pagination: true,
                queryParamsType: Params,
                pageSize: tableSize ? tableSize : 10,
                pageNumber: 1,
                pageList: [],
                height: $(document).outerHeight - 120,
                singleSelect: false,
                search: false,
                maintainSelected: false,
                strictSearch: false,
                clickToSelect: false,
                showToggle: false,
                showColumns: false,
                showRefresh: false,
                showExport: false,
                striped: true,
                toolbar: "#dataTableLabelToolbar",
                iconSize: "outline",
                icons: {
                    refresh: "glyphicon-repeat",
                    toggle: "glyphicon-list-alt",
                    columns: "glyphicon-list",
                    export: "glyphicon-export"
                },
                columns: queryColumns()
            });
        }

        function queryParams(params) {
            var optionalParam = {
                pageSize: params.pageSize,
                pageNumber: params.pageNumber
            };
            var data = tableParams.split(',');
            for (var i in data) {
                if (data[i] != 'pageSize' && data[i] != 'pageNumber') {
                    optionalParam[data[i]] = $('#' + data[i]).val();
                }
            }
            return optionalParam
        }

        function queryColumns() {
            var $columns = [];
            $.ajax({
                url: tableParamsHeader,
                type: 'get',
                dataType: "json",
                data: {'flag': 'theader'},
                async: false,
                success: function (returnValue) {
                    $columns = returnValue.data;
                }
            });
            return $columns;
        }
    //-------end-----------

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        pagelist(parseInt("<%$pageList['totalPages']%>"), true);

    });

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/admin/withdrawalList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['fee'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['bank_type'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_no'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['bank_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['card_account_name'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['tradeNo'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['statusName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['apply_user'] + '</td>';

                    if (rs.data['data'][index]['status'] == 1) {
                        html += '<td class="center" id="button_' + rs.data['data'][index]['id'] + '"><input type="button" value="审核" class="btn btn-sm btn-round btn-danger" onclick="check(' + rs.data['data'][index]['id'] + ');"></td>';
                    } else {
                        html += '<td class="center"></td>';
                    }

                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tatal').html('总提款金额为：' + rs.data.sumAmount + '，总提款手续费为：' + rs.data.sumFee);
            } else {
                html += '<tr><td class="center" colspan="12">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function check(id) {

        if (SysData.isNull(id)) {
            SysDialog.alert("操作失败");
            return;
        }

        SysHttp.post("/admin/withdrawalList", {flag:"getInfo", id:id}, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            for (var idKey in rs.data) {
                $('#' + idKey).val(rs.data[idKey]);
            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        });

    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        if (rsp['status'] == 0) {
            SysDialog.error("请选择审核状态");
            return;
        }

        if (rsp['status'] == 3 && SysData.isNull(rsp.remark)) {
            SysDialog.error("提款失败，必须填写原因");
            return;
        }

        SysHttp.post("/admin/withdrawalList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            if (rsp['status'] == 1) {
                $('#status_' + rsp.id).html('银行处理中');
            } else if (rsp['status'] == 2) {
                $('#status_' + rsp.id).html('提款成功');
			} else {
                $('#status_' + rsp.id).html('提款失败');
			}
            $('#button_' + rsp.id).html(' ');

            window.location.reload();
        });

        cancel();
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>