<%include file="header.html"%>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i
                            class="ace-icon fa fa-plus"></i> 添加管理员 </a>
                </h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <div class="table-header">
                    管理员列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">管理员编号</th>
                            <th class="center">管理员账号</th>
                            <th class="center">管理员昵称</th>
                            <th class="center">创建时间</th>
                            <th class="center">最后登录时间</th>
                            <th class="center">最后登录ip</th>
                            <th class="center">是否锁定</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <%foreach $list as $info%>
                        <tr>
                            <td class="center"><%$info.admin_id%></td>
                            <td class="center"><%$info.admin_name%></td>
                            <td class="center"><%$info.admin_nickname%></td>
                            <td class="center"><%$info.create_time%></td>
                            <td class="center"><%$info.last_update_time%></td>
                            <td class="center"><%$info.last_ip%></td>
                            <td class="center">
                                <label>
                                    <%if $info.islocked%>
                                    <span class="text-danger">已锁定</span><span class="lbl"></span>
                                    <%else%>
                                    <span class="text-success">正常</span><span class="lbl"></span>
                                    <%/if%>
                                </label>
                            </td>

                            <td class="center">
                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a class="green" href="javascript:void(0);"
                                       onclick='showInfoModal(<%$info|@json_encode%>);'>
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                                data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip"
                                                   title="编辑" onclick='showInfoModal(<%$info|@json_encode%>);'>
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <%/foreach%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
                        <h4 class="blue bigger">添加管理员</h4>
                    </div>

                    <form name="addForm" id="addForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">管理员账号：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="text" name="name" id="name" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">管理员昵称：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="text" name="nickname" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">设置密码：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="password" name="password" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">确认密码：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="password" name="password2" value=""/>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="add">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal" role="dialog" tabindex="-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
                        <h4 class="blue bigger">修改 <span id="userName"></span> 信息</h4>
                    </div>

                    <form name="updateForm" id="updateForm">
                        <div class="modal-body">
                            <fieldset>
                                <legend>需要修改的账号信息</legend>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">管理员账号：</div>
                                    <div class="col-sm-7 text-left">
                                        <input readonly="" type="text" class="col-xs-10 col-sm-2" name="name"
                                               id="admin_name" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">管理员昵称：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="text" name="nickname" id="admin_nickname" value=""/>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">锁定账户：</div>
                                    <div class="col-sm-7 text-left">
                                        <input id="is_lock" name="is_lock"
                                               class="ace ace-switch ace-switch-4 btn-empty" type="checkbox">
                                        <span class="lbl"></span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">设置新密码：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="password" name="password" value=""/><br/>
                                        (不修改密码此项留空)
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">确认新密码：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="password" name="password2" value=""/>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>管理员资金安全设置</legend>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right modal-body-fieldset-left">资金密码：</div>
                                    <div class="col-sm-7 text-left"><input type="password" id="adm_password"
                                                                           name="adm_password" value="">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right modal-body-fieldset-left">Google验证码：</div>
                                    <div class="col-sm-7 text-left"><input type="text" name="adm_googleCode"
                                                                           id="adm_googleCode" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="id" id="admin_id" value="">
                        <input type="hidden" name="flag" value="update">
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/citys-zh-cn.js"></script>
<script src="<%$webCdnUrl%>/js/city.js"></script>
<script type="text/javascript">

    jQuery(function ($) {
        //initiate dataTables plugin
        $('#dynamic-table').DataTable({
            bAutoWidth: false,
            "aoColumns": [{"bSortable": false}, {"bSortable": false}, null, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}],
            "aaSorting": [],
            select: {style: 'multi'}
        });
    });

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            for (var key in json) {

                if (key == 'admin_name') {
                    $('#userName').html(json[key]);
                }

                $('#' + key).val(json[key]);
            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function comfirm() {

        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        if (SysData.trim(rsp['password']) != SysData.trim(rsp['password2'])) {
            SysDialog.error("两次输入的新密码不一致");
            return;
        }

        SysHttp.post("/admin/user/info", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['name'])) {
            SysDialog.error("管理员账号不能为空");
            return;
        }

        if (SysData.isNull(rsp['nickname'])) {
            SysDialog.error("管理员昵称不能为空");
            return;
        }

        if (SysData.isNull(rsp['password'])) {
            SysDialog.error("管理员密码不能为空");
            return;
        }

        if (SysData.trim(rsp['password']) != SysData.trim(rsp['password2'])) {
            SysDialog.error("两次输入的密码不一致");
            return;
        }

        // 提交表单
        SysHttp.post("/admin/user/info", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.href = "/admin/user/list";
        });
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>
