<%include file="header.html"%>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加权限组 </a>
                </h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <div class="table-header">
                    权限组列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">权限组id</th>
                            <th class="center">权限组名称</th>
                            <th class="center">菜单组合</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <%foreach $list as $info%>
                        <tr>
                            <td class="center"><%$info.power_id%></td>
                            <td class="center"><%$info.power_name%></td>
                            <td class="center"><%$info.menuName%></td>
                            <td class="center">
                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a class="green" href="javascript:void(0);" onclick='showInfoModal(<%$info.power_id%>);'>
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" href="javascript:void(0);" onclick="del(<%$info.power_id%>);">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>

                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href="javascript:void(0);" class="tooltip-success" data-rel="tooltip" title="编辑" onclick='showInfoModal(<%$info.power_id%>);'>
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.power_id%>);">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <%/foreach%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
                        <h4 class="blue bigger">添加权限组</h4>
                    </div>

                    <form name="addForm" id="addForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">权限组名称：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="text" name="powerName" id="powerName" value=""/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="widget-box">
                                        <div class="widget-header header-color-blue2">
                                            <h4 class="lighter smaller">选择菜单权限</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <div id="chooseTree" class="tree"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="add">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal" role="dialog" tabindex="-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
                        <h4 class="blue bigger">修改信息</h4>
                    </div>

                    <form name="updateForm" id="updateForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-5 text-right">权限组名称：</div>
                                    <div class="col-sm-7 text-left">
                                        <input type="text" name="powerName" id="power_name" value="" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="widget-box">
                                        <div class="widget-header header-color-blue2">
                                            <h4 class="lighter smaller">菜单权限</h4>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-8">
                                                <div id="editerChooseTree" class="tree"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="id" id="power_id" value="">
                        <input type="hidden" name="flag" value="update">
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/tree.min.js"></script>
<script type="text/javascript">

    var treeData = <%$treeData%>;
    var viewUpdateTreeData = {};
    var selectTreeData = {};

    jQuery(function($) {

        //initiate dataTables plugin
        $('#dynamic-table').DataTable({
            bAutoWidth: false,
            "aoColumns": [{"bSortable": false}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}],
            "aaSorting": [],
            select: {style: 'multi'}
        });

        var initTreeData = initiateData();

        $('#chooseTree').ace_tree({
            dataSource: initTreeData['dataSource'] ,
            loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            'open-icon' : 'ace-icon fa fa-folder-open',
            'close-icon' : 'ace-icon fa fa-folder',
            'itemSelect' : true,
            'folderSelect': false,
            'multiSelect': true,
            'selected-icon' : 'ace-icon fa fa-check',
            'unselected-icon' : 'ace-icon fa fa-times',
            'folder-open-icon' : 'ace-icon tree-plus',
            'folder-close-icon' : 'ace-icon tree-minus'
        });

        $('#chooseTree').on('selected.fu.tree', function (e, data) {

            selectTreeData = {};
            for (var key in data.selected) {
                if (!selectTreeData[data.selected[key]['parentMenuId']]) {
                    selectTreeData[data.selected[key]['parentMenuId']] = {};
                }

                selectTreeData[data.selected[key]['parentMenuId']][data.selected[key]['menuId']] = data.selected[key]['menuId'];
            }

        }).on('deselected.fu.tree', function(e, data) {

            selectTreeData = {};
            for (var key in data.selected) {
                if (!selectTreeData[data.selected[key]['parentMenuId']]) {
                    selectTreeData[data.selected[key]['parentMenuId']] = {};
                }

                selectTreeData[data.selected[key]['parentMenuId']][data.selected[key]['menuId']] = data.selected[key]['menuId'];
            }
        });

        $('#editerChooseTree').ace_tree({
            dataSource: initTreeData['upDataSource'] ,
            loadingHTML:'<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            'open-icon' : 'ace-icon fa fa-folder-open',
            'close-icon' : 'ace-icon fa fa-folder',
            'itemSelect' : true,
            'folderSelect': false,
            'multiSelect': true,
            'selected-icon' : 'ace-icon fa fa-check',
            'unselected-icon' : 'ace-icon fa fa-times',
            'folder-open-icon' : 'ace-icon tree-plus',
            'folder-close-icon' : 'ace-icon tree-minus'
        });

        $('#editerChooseTree').on('selected.fu.tree', function (e, data) {

            selectTreeData = {};
            for (var key in data.selected) {
                if (!selectTreeData[data.selected[key]['parentMenuId']]) {
                    selectTreeData[data.selected[key]['parentMenuId']] = {};
                }

                selectTreeData[data.selected[key]['parentMenuId']][data.selected[key]['menuId']] = data.selected[key]['menuId'];
            }

        }).on('deselected.fu.tree', function(e, data) {

            selectTreeData = {};
            for (var key in data.selected) {
                if (!selectTreeData[data.selected[key]['parentMenuId']]) {
                    selectTreeData[data.selected[key]['parentMenuId']] = {};
                }

                selectTreeData[data.selected[key]['parentMenuId']][data.selected[key]['menuId']] = data.selected[key]['menuId'];
            }
        });

    });

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(powerId) {

        var rsp = {};
        rsp['id'] = powerId;
        rsp['flag'] = 'getInfo';

        // 提交表单
        SysHttp.post("/admin/user/powerGroup", rsp, function (rs) {

            if (rs.code != 0) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#power_name').val(rs.data.power_name);
            $('#power_id').val(rs.data.power_id);

            viewUpdateTreeData = JSON.parse(rs.data.treeData);

            $('#editerChooseTree').find("li:not([data-template])").remove();
            $('#editerChooseTree').tree('render');

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        });
    }

    function del(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("操作失败");
            return;
        }

        SysHttp.post("/admin/user/powerGroup", {flag: "del", id: id}, function (rs) {

            if (rs.code != 0) {
                SysDialog.error(rs.msg);
                return;
            }
            window.location.reload();
        });
        return;
    }

    function comfirm() {

        // 获取表单内容
        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['powerName'])) {
            SysDialog.error("权限组名称不能为空");
            return;
        }

        var menuIds = '';
        if (getArrayOrObjSize(selectTreeData) > 0) {
            for (var parentMenuId in selectTreeData) {
                if (!menuIds) {
                    menuIds = parentMenuId;
                } else {
                    menuIds += ',' + parentMenuId;
                }

                if (getArrayOrObjSize(selectTreeData[parentMenuId]) > 0) {
                    for (var menuId in selectTreeData[parentMenuId]) {
                        if (!menuIds) {
                            menuIds = menuId;
                        } else {
                            menuIds += ',' + menuId;
                        }
                    }
                }
            }
        }
        rsp['menuIds'] = menuIds;

        // 提交表单
        SysHttp.post("/admin/user/powerGroup", rsp, function (rs) {

            if (rs.code != 0) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp['powerName'])) {
            SysDialog.error("权限组名称不能为空");
            return;
        }

        var menuIds = '';
        if (getArrayOrObjSize(selectTreeData) > 0) {
            for (var parentMenuId in selectTreeData) {
                if (!menuIds) {
                    menuIds = parentMenuId;
                } else {
                    menuIds += ',' + parentMenuId;
                }

                if (getArrayOrObjSize(selectTreeData[parentMenuId]) > 0) {
                    for (var menuId in selectTreeData[parentMenuId]) {
                        if (!menuIds) {
                            menuIds = menuId;
                        } else {
                            menuIds += ',' + menuId;
                        }
                    }
                }
            }
        }
        rsp['menuIds'] = menuIds;

        // 提交表单
        SysHttp.post("/admin/user/powerGroup", rsp, function (rs) {

            if (rs.code != 0) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

    function initiateData() {

        var dataSource = function(options, callback){
            var $data = null
            if(!("text" in options) && !("type" in options)){
                $data = treeData;//the root tree
                callback({ data: $data });
                return;
            }
            else if("type" in options && options.type == "folder") {
                if("additionalParameters" in options && "children" in options.additionalParameters)
                    $data = options.additionalParameters.children || {};
                else $data = {}//no data
            }

            if($data != null)//this setTimeout is only for mimicking some random delay
                setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

            //we have used static data here
            //but you can retrieve your data dynamically from a server using ajax call
            //checkout examples/treeview.html and examples/treeview.js for more info
        };

        var upDataSource = function(options, callback){
            var $data = null
            if(!("text" in options) && !("type" in options)){
                $data = viewUpdateTreeData;//the root tree
                callback({ data: $data });
                return;
            }
            else if("type" in options && options.type == "folder") {
                if("additionalParameters" in options && "children" in options.additionalParameters)
                    $data = options.additionalParameters.children || {};
                else $data = {}//no data
            }

            if($data != null)//this setTimeout is only for mimicking some random delay
                setTimeout(function(){callback({ data: $data });} , parseInt(Math.random() * 500) + 200);

            //we have used static data here
            //but you can retrieve your data dynamically from a server using ajax call
            //checkout examples/treeview.html and examples/treeview.js for more info
        };


        return {'dataSource': dataSource, 'upDataSource': upDataSource}
    }

    function getArrayOrObjSize(obj) {
        if(!obj) {
            return 0;
        }

        var size = 0;
        for(var f in obj) {
            if(obj.hasOwnProperty(f)) {
                size++;
            }
        }

        return size;
    }

</script>
<%include file="footer.html"%>