<%include file="header.html"%>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="row">
			<div class="space-12"></div>
		</div><!-- /.row -->

		<div class="row" style="font-size: 18px;color: steelblue;">
			<div class="block clearfix center">
					相关资料和软件
			</div>
		</div>
		<div class="col-xs-12">
			<h3 class="header smaller lighter blue">
				<!--<span>安全设置：</span>-->
			</h3>
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">上号操作文档
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/上号操作步骤.docx"><b>点击下载</b></a>
				</div>

			</div>
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">掉单补单操作文档
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/补单操作步骤.docx"><b>点击下载</b></a>
				</div>

			</div>
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">VirtualXposted 虚拟机软件
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/xposted3.1.5.apk"><b>点击下载</b></a>
				</div>
			</div>
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">收款助手软件
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/payhelper.apk"><b>点击下载</b></a>
				</div>
			</div>
			<hr />
			<div class="row" style="font-size: 18px;">
				<div class="col-sm-6">支付宝
					<a class="btn btn-info btn-default btn-round" href="<%$webCdnUrl%>/download/alipay10.1.38.apk"><b>点击下载</b></a>
				</div>
			</div>
			<hr />
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->

</div><!-- /.row -->

<%include file="footer.html"%>