<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>后台管理系统</title>

		<meta name="description" content="管理后台" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="csrf-token" content="<%$csrfToken%>">

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/jquery-ui.custom.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/chosen.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap-datepicker3.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap-timepicker.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/daterangepicker.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap-duallistbox.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap-multiselect.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/select2.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ui.jqgrid.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-skins.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/common.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="<%$webCdnUrl%>/js/html5shiv.min.js"></script>
		<script src="<%$webCdnUrl%>/js/respond.min.js"></script>
		<![endif]-->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='<%$webCdnUrl%>/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="<%$webCdnUrl%>/js/bootstrap.min.js"></script>
		<script src="<%$webCdnUrl%>/js/jquery.form.js"></script>
		<script src="<%$webCdnUrl%>/js/jquery-deparam.js"></script>
		<script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
		<script src="<%$webCdnUrl%>/js/layui/laypage/laypage.js"></script>
		<script src="<%$webCdnUrl%>/js/common.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		<script src="<%$webCdnUrl%>/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="<%$webCdnUrl%>/js/jquery-ui.min.js"></script>
		<script src="<%$webCdnUrl%>/js/jquery-ui.custom.min.js"></script>
		<script src="<%$webCdnUrl%>/js/jquery.ui.touch-punch.min.js"></script>

		<!-- ace scripts -->
		<script src="<%$webCdnUrl%>/js/ace-elements.min.js"></script>
		<script src="<%$webCdnUrl%>/js/ace.min.js"></script>

		<!-- ace settings handler -->
		<script src="<%$webCdnUrl%>/js/ace-extra.min.js"></script>
		<!-- ace scripts -->
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">隐藏/展开</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="javascript:void(0);" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							管理后台
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
								<img class="nav-user-photo" src="<%$webCdnUrl%>/images/avatars/avatar6.png" alt="用户头像" />
								<span class="user-info">
									<small>欢迎,</small>
									<%$adminName%>
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<!--
								<li>
									<a href="/appAdmin/user/changePassword">
										<i class="ace-icon fa fa-cog"></i>
										修改密码
									</a>
								</li>

								<li class="divider"></li>
								-->

								<li>
									<a href="/appAdmin/user/logout">
										<i class="ace-icon fa fa-power-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<%include file="nav.html"%>

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">