<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">

		<h3 class="header smaller lighter blue">
			<div class="row">
				&nbsp;&nbsp;&nbsp;&nbsp;账户余额：<span class="red" id="balance"><%$payLogList["balance"]%></span>&nbsp;&nbsp;&nbsp;&nbsp;
				点数：<span class="red" id="point"><%$payLogList["point"]%></span>&nbsp;&nbsp;&nbsp;&nbsp;
				监控软件登录地址：<%$monitorLoginUrl%>
			</div>
		</h3>

		<div class="space-6"></div>

		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" name="logsForm" id="logsForm">
			<div class="inline">
				<div class="input-group">
					<span>支付类型：</span>
					<select name="payTypeId" style="font-size: 16px;" onchange="select();">
						<option value="0">请选择</option>
						<option value="2">支付宝</option>
						<option value="3">微信</option>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<span>收款账号：</span>
					<select name="qrCodeId" style="font-size: 16px;" id="searchAccount">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="inline">
				<div class="input-group">
					<div class="input-group-btn col-xs-2">
						<button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="flag" value="search">
		</form>
		<hr>
		<div class="row col-sm-12">
			<div class="pull-left text-left">
				<span id="tatal">总统计单数：<%$payLogList["allNum"]%>，成功支付单数：<%$payLogList["successNum"]%>，成功率：<%$payLogList["successRate"]%>%，最近25单成功率：<%$payLogList["successRate25"]%>%</span>
			</div>
		</div>
		<div class="row col-sm-8">
			<div class="table-header">
				<span> </span>
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">充值金额</th>
						<th class="center">支付状态</th>
						<th class="center">充值时间</th>
						<th class="center">支付类型</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $payLogList['list']%>
					<%foreach $payLogList['list'] as $info%>
					<tr>
						<td class="center"><%$info.amount%></td>

						<%if $info['result'] == 1%>
						<td class="center"><input type="button" value="成功" class="btn btn-minier btn-success"></td>
						<%else%>
						<td class="center"><input type="button" value="支付中" class="btn btn-minier btn-warning"></td>
						<%/if%>

						<td class="center"><%$info.create_time%></td>
						<td class="center"><%$info['payTypeName']%></td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="4">无数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->

	</div>
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

    });

    function select() {

        var payTypeId = $('#searchPayTypeId').val();
        var accountHtml = '<option value="">请选择</option>';
        $('#searchAccount').html(accountHtml);

        if (!payTypeId) {
            return;
        }

        // 提交表单
        var rsp = {};
        rsp['flag'] = 'getAccountList';
        rsp['payTypeId'] = payTypeId;
        SysHttp.post("/qrCodeAdmin/index", rsp, function (rs) {

            if (rs.code != 200) {
                return;
            }

            var accountList = rs.data;
            for (var index in accountList) {
                accountHtml += '<option value="' + index + '">' + accountList[index] + '</option>';
            }

            $('#searchAccount').html(accountHtml);
        });

    }

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {

        rsp['flag'] = 'successRateList';

        // 提交表单
        SysHttp.post("/qrCodeAdmin/index", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            $('#balance').html(rs.data.balance);
            $('#point').html(rs.data.point);

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.list && !SysData.isNull(rs.data.list)) {
                for (var index in rs.data.list) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['list'][index]['amount'] + '</td>';
                    //html += '<td class="center">' + rs.data['list'][index]['real_amount'] + '</td>';

                    if (rs.data['list'][index]['result'] == 1) {
                        html += '<td class="center"><input type="button" value="成功" class="btn btn-minier btn-success"></td>';
                    } else {
                        html += '<td class="center"><input type="button" value="支付中" class="btn btn-minier btn-warning"></td>';
                    }

                    html += '<td class="center">' + rs.data['list'][index]['create_time'] + '</td>';
                    //html += '<td class="center">' + rs.data['list'][index]['end_time'] + '</td>';
                    html += '<td class="center">' + payTypeList[rs.data['list'][index]['pt_id']] + '</td>';
                    html += '<td class="center">' + rs.data['list'][index]['app_name'] + '</td>';
                    html += '<td class="center">' + rs.data['list'][index]['payTypeName'] + '</td>';
                    html += '</tr>';
                }

                $('#pageNav').css('display', 'block');
                $('#tatal').html('总统计单数：' + rs.data.allNum + '，成功支付单数：' + rs.data.successNum + '，成功率：' + rs.data.successRate + '%，最近25单成功率：' + rs.data.successRate25 + '%');
            } else {
                html += '<tr><td class="center" colspan="8">无数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

        });
    }

    setInterval("searchComfirm()", 3000);

</script>
<%include file="footer.html"%>