<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>登录-后台管理系统</title>

		<meta name="description" content="后台管理系统登录页" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="csrf-token" content="<%$csrfToken%>">

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/bootstrap.min.css" />
		<link rel="stylesheet" href="<%$webCdnUrl%>/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace.min.css" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="<%$webCdnUrl%>/css/ace-ie.min.css" />
		<![endif]-->

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="<%$webCdnUrl%>/js/html5shiv.min.js"></script>
		<script src="<%$webCdnUrl%>/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="login-layout light-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="grey" id="id-text2">二维码后台管理系统</span>
								</h1>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												请输入账号、密码、验证码
											</h4>

											<div class="space-6"></div>

											<form id="loginForm">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="userName" id="userName" class="form-control" placeholder="账号" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" id="password" class="form-control" placeholder="密码" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="width-60 input-icon input-icon-right">
															<input type="text" name="captcha" id="captcha" class="form-control" placeholder="验证码" />
															<i class="ace-icon fa fa-barcode"></i>
														</span>
														<span class="pull-right" id="changeCaptchaImg"><img name="changeCaptcha" src="/captcha?codeName=qrCoderLoginCaptcha" title="点击更换图片" style="cursor:pointer"></span>
													</label>

													<div class="space"></div>

													<div class="clearfix">

														<div class="width-35 center-block">
														<button type="button" class="width-100 btn btn-sm btn-primary" onclick="confirm();">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登录</span>
														</button>
														</div>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

										</div><!-- /.widget-main -->

									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

							</div><!-- /.position-relative -->

						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="<%$webCdnUrl%>/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="<%$webCdnUrl%>/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='<%$webCdnUrl%>/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<script src="<%$webCdnUrl%>/js/layui/layer/layer.js"></script>
		<script src="<%$webCdnUrl%>/js/common.js"></script>
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			$(document).ready(function () {

                // 默认光标在账号输入框
                $('#userName').focus();

				// 更换图片验证码
				$("#changeCaptchaImg").on("click", "img", function(e){
					e.preventDefault();

					var src = $(this).attr("src");
					var index = src.indexOf("&r=");
					if (index != -1) {
						src = src.substring(0, index);
					}

					var r = new Date().getTime() / 1000;
					$(this).attr("src", src + "&r=" + Math.floor(r));
				});
			});

			$(document).keypress(function (event) {
				var key = event.which;
				if (key == 13) {
					confirm();
				}
			});

			function confirm() {

				var userName = $("#userName").val();
				var password = $("#password").val();
				var captcha = $("#captcha").val().toUpperCase();

				if (SysData.isNull(userName)) {
					layer.alert("账号不能为空!", {title:"&nbsp;"});
					return;
				}

				if (SysData.isNull(password)) {
					layer.alert("密码不能为空!", {title:"&nbsp;"});
					return;
				}

				if (SysData.isNull(captcha)) {
					layer.alert("验证码不能为空!", {title:"&nbsp;"});
					return;
				}

				var rsp = {
					"userName": userName,
					"password": password,
					"captcha": captcha
				};

				SysHttp.post("/qrCodeAdmin/user/login", rsp, function (rs) {
                    if (rs.code != 200) {
                        SysDialog.error(rs.msg);
                        return;
                    }
					window.location.href = "/qrCodeAdmin/index";
				});
			}
		</script>
	</body>
</html>
