<%include file="header.html"%>

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="space-12"></div>
		<form name="logsForm" id="logsForm">
			<div class="row">
				<div class="inline">
					<div class="input-group">
						<span style="font-size: 18px;">开始时间：</span>
						<input class="date-timepicker1" type="text" name="startTime" id="startTime" value="<%$pageList['startTime']%>" />
						<span class="input-group-addon" style="width:0px;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
					</div>
				</div>
				<div class="inline">
					<div class="input-group">
						<span style="font-size: 18px;padding-left: 5px;">结束时间：</span>
						<input class="date-timepicker1" type="text" name="endTime" id="endTime" value="<%$pageList['endTime']%>" />
						<span class="input-group-addon" style="width:0px;">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
					</div>
				</div>
				<div class="inline">
					<div class="input-group">
						<span style="font-size: 18px;padding-left: 5px;">访问行为：</span>
						<select name="logType" style="font-size: 16px;">
							<option value="all">全部</option>
							<%foreach $menuList as $info%>
							<option value="<%$info.menu_target%>"><%$info.menu_title%></option>
							<%/foreach%>
						</select>
					</div>
				</div>
				<div class="inline">
					<span style="font-size: 18px;">IP：</span><input type="text" name="ip" size="30" value="" />
				</div>&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="inline">
					<button class="btn btn-info btn-default btn-round" onclick="searchComfirm();">查询</button>
				</div>
			</div>
		</form>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">
			<span>&nbsp;</span>
		</h3>
		<div class="row">
			<div class="table-header">
				操作记录信息列表
			</div>
			<div class="table-responsive">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
					<tr>
						<th class="center">编号</th>
						<th class="center">管理员</th>
						<th class="center">访问行为</th>
						<th class="center">IP</th>
						<th class="center">时间</th>
						<th class="center">操作</th>
					</tr>
					</thead>
					<tbody id="tableData">
					<%if $pageList['data']%>
					<%foreach $pageList['data'] as $info%>
					<tr>
						<td class="center"><%$info['id']%></td>
						<td class="center"><%$adminList[$info['admin_id']]['name']%></td>
						<td class="center"><%$info['title']%></td>
						<td class="center"><%$info['ip']%></td>
						<td class="center"><%$info['create_time']%></td>
						<td class="center">
							<div class="hidden-sm hidden-xs btn-group">
								<button class="btn btn-xs btn-success" onclick="showInfo(<%$info['id']%>);">
									<i class="ace-icon fa fa-eye bigger-120"></i>
									查看
								</button>
							</div>
							<div class="hidden-md hidden-lg">
								<div class="inline pos-rel">
									<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
										<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
									</button>

									<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
										<li>
											<a href="#" class="tooltip-info" data-rel="tooltip" title="查看" onclick="showInfo(<%$info['id']%>);">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-eye bigger-120"></i>
                                                </span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</td>
					</tr>
					<%/foreach%>
					<%else%>
					<tr><td class="center" colspan="6">无相关数据</td></tr>
					<%/if%>
					</tbody>
				</table>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="pull-right" id="pageNav"></div>
		</div>
	</div>
	<div id="modal-form-logs" class="modal" role="dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">日志详情</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								编号：
							</div>
							<div class="col-sm-7 text-left" id="id"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								管理员：
							</div>
							<div class="col-sm-7 text-left" id="admin_name"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								控制器：
							</div>
							<div class="col-sm-7 text-left" id="controller"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								操作行为：
							</div>
							<div class="col-sm-7 text-left" id="title"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								操作内容：
							</div>
							<div class="col-sm-7 text-left" id="content"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								操作时间：
							</div>
							<div class="col-sm-4 text-left" id="create_time"></div>
						</div>
						<div class="space-4"></div>
						<div class="block clearfix center">
							<div class="col-sm-5 text-right">
								ip：
							</div>
							<div class="col-sm-4 text-left" id="ip"></div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-timepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/daterangepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    var adminList = {};
    <%if $adminList%>
    adminList = <%$adminList|@json_encode%>;
    <%/if%>

    jQuery(function($) {
        if(!ace.vars['old_ie']) $('.date-timepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-arrows ',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            }
        }).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

        // 分页
        pagelist(<%$pageList['totalPages']%>, true);
    });

    /**
     * 查看信息弹窗
     */
    function showInfo(id) {

        event.preventDefault();

        if (SysData.isNull(id)) {
            SysDialog.error('非法操作');
            return;
        }

        SysHttp.post("/qrCodeAdmin/logs/info", { id: id }, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 设置数据
            for (var key in rs.data) {
                if (key == 'admin_id') {
                    $('#admin_name').html(adminList[rs.data[key]]['name']);
                } else {
                    $('#' + key).html(rs.data[key]);
                }
            }

            // 显示弹窗
            $('#modal-form-logs').modal({ backdrop: 'static', show: true });
        });
    }

    /**
     * 点击搜索按钮提交表单
     */
    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#logsForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    /**
     * 获取表格数据
     */
    function getData(rsp) {
        // 提交表单
        SysHttp.post("/qrCodeAdmin/logs/list", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {
                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['id'] + '</td>';
                    if (adminList[rs.data['data'][index]['admin_id']]) {
                        html += '<td class="center">' + adminList[rs.data['data'][index]['admin_id']]['name'] + '</td>';
                    } else {
                        html += '<td class="center"></td>';
                    }
                    html += '<td class="center">' + rs.data['data'][index]['title'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['ip'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['create_time'] + '</td>';
                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs btn-group"> ';
                    html += '<button class="btn btn-xs btn-success" onclick="showInfo(' + rs.data['data'][index]['id'] + ');"> <i class="ace-icon fa fa-eye bigger-120"></i> 查看 </button> ';
                    html += '</div>';
                    html += '<div class="hidden-md hidden-lg"> <div class="inline pos-rel"> <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto"> <i class="ace-icon fa fa-cog icon-only bigger-110"></i> </button>';
                    html += '<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
                    html += '<li> <a href="#" class="tooltip-info" data-rel="tooltip" title="查看" onclick="showInfo(' + rs.data['data'][index]['id'] + ');"> <span class="green"> <i class="ace-icon fa fa-eye bigger-120"></i> </span> </a> </li> ';
                    html += '</ul></div></div></td></tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="6">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    /**
     * 分页列表
     */
    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    // 获取表单内容
                    var queryString = $('#logsForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }
</script>
<%include file="footer.html"%>