<%include file="header.html"%>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">

                <h3 class="header smaller lighter blue">
                    <a href="#" role="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="showAddModal();"><i class="ace-icon fa fa-plus"></i> 添加收款码 </a>
                </h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>

                <form class="form-horizontal" name="searchForm" id="searchForm">
                    <div class="inline">
                        <div class="input-group">
                            <span>收款类型：</span>
                            <select name="payType" style="font-size: 16px;">
                                <option value="all">请选择</option>
                                <option value="2">支付宝</option>
                                <option value="3">微信</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>收款账号：</span>
                            <input type="text" name="account" value="" />
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <span>是否开放：</span>
                            <select name="isOpen" style="font-size: 16px;">
                                <option value="all">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="input-group">
                            <div class="input-group-btn col-xs-2">
                                <button type="button" class="btn btn-info btn-sm btn-round" onclick="searchComfirm();">查询</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="flag" value="search">
                </form>
                <hr>

                <div class="table-header">
                    收款码列表
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div class="table-responsive">
                    <table id="simple-table" class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">收款类型</th>
                            <th class="center">收款账号</th>
                            <th class="center">最小金额/笔</th>
                            <th class="center">最大金额/笔</th>
                            <th class="center">收款额度/日</th>
                            <th class="center">收款码</th>
                            <th class="center">吱口令</th>
                            <th class="center">备注</th>
                            <th class="center">是否开放</th>
                            <th class="center">最近修改时间</th>
                            <th class="center">操作</th>
                        </tr>
                        </thead>

                        <tbody id="tableData">
                        <%if $pageList['data']%>
                        <%foreach $pageList['data'] as $info%>
                        <tr>
                            <td class="center"><%$info.payTypeName%></td>
                            <td class="center"><%$info.pay_account%></td>
                            <td class="center"><%$info.min_money%></td>
                            <td class="center"><%$info.max_money%></td>
                            <td class="center"><%$info.day_amount%></td>
                            <td class="center"><%$info.img_url%></td>
                            <td class="center"><%$info.code%></td>
                            <td class="center"><%$info.remark%></td>
                            <td class="center">
                                <label>
                                    <input id="isOpen-<%$info.id%>" name="isOpen-<%$info.id%>" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" <%if $info.is_open%>checked<%/if%>  onclick="setOpen({id:<%$info.id%>});">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td class="center"><%$info.last_time%></td>
                            <td class="center">

                                <div class="hidden-sm hidden-xs action-buttons">

                                    <a class="btn btn-xs btn-info" href="javascript:void(0);" onclick='showInfoModal(<%$info|@json_encode%>);'>
                                        修改
                                    </a>

                                    <a class="red" href="javascript:void(0);" onclick="del(<%$info.id%>);">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>

                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href="javascript:void(0);" class="btn btn-xs btn-info" onclick='showInfoModal(<%$info|@json_encode%>);'>
                                                    修改
                                                </a>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(<%$info.id%>);">
														<span class="red">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <%/foreach%>
                        <%else%>
                        <tr><td class="center" colspan="11">无相关数据</td></tr>
                        <%/if%>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="pull-right text-right" id="pageNav"></div>
            </div>
        </div>
        <div id="add-modal-form" class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelAdd();">&times;</button>
                        <h4 class="blue bigger">添加收款码</h4>
                    </div>

                    <form name="addForm" id="addForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款类型：</div>
                                    <div class="col-sm-9 text-left">
                                        <select name="payType" style="font-size: 16px;">
                                            <option value="all">请选择</option>
                                            <option value="2">支付宝</option>
                                            <option value="3">微信</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款账号：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="account" value="" /><br/>
                                        可随意填，建议与支付宝、微信等第三方支付账户名一致
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">最小金额/笔：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="minMoney" value="100" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">最大金额/笔：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="maxMoney" value="5000" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款额度/日：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="dayAmount" value="50000" /><span class="red"> (0 为无限制)</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款码：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="imgUrl" value="" size="30"/><br/>
                                        <span class="red">查看文档按步骤操作获取</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">吱口令：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="code" value="" /><br/>
                                        支付宝收款账户吱口令（选填）
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">备注：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="remark" value="" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancelAdd();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirmAdd();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="flag" value="add">
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-form" class="modal" role="dialog" tabindex="-2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="cancel();">&times;</button>
                        <h4 class="blue bigger">修改信息</h4>
                    </div>

                    <form name="updateForm" id="updateForm">
                        <div class="modal-body">
                            <fieldset>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款类型：</div>
                                    <div class="col-sm-9 text-left">
                                        <input readonly="" id="payTypeName" size="35" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款账号：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="account" id="pay_account" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">最小金额/笔：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="minMoney" id="min_money" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">最大金额/笔：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="maxMoney" id="max_money" value="" />
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款额度/日：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="dayAmount" id="day_amount" value="" /><span class="red"> (0 为无限制)</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">收款码：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="imgUrl" id="img_url" value="" size="30"/><br/>
                                        <span class="red">查看文档按步骤操作获取</span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">吱口令：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="code" id="code" value="" /><br/>
                                        支付宝收款账户吱口令（选填）
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="block clearfix center">
                                    <div class="col-sm-3 text-right">备注：</div>
                                    <div class="col-sm-9 text-left">
                                        <input type="text" name="remark" id="remark" value="" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer center">
                            <button type="button" class="btn btn-sm" data-dismiss="modal" onclick="cancel();">
                                <i class="ace-icon fa fa-times"></i>
                                取消
                            </button>

                            <button type="button" class="btn btn-sm btn-primary" onclick="comfirm();">
                                <i class="ace-icon fa fa-check"></i>
                                确定
                            </button>
                        </div>
                        <input type="hidden" name="id" id="id" value="">
                        <input type="hidden" name="flag" value="update">
                    </form>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- inline scripts related to this page -->
<script src="<%$webCdnUrl%>/js/jquery.dataTables.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="<%$webCdnUrl%>/js/dataTables.buttons.min.js"></script>
<script src="<%$webCdnUrl%>/js/chosen.jquery.min.js"></script>
<script src="<%$webCdnUrl%>/js/spinbox.min.js"></script>
<script src="<%$webCdnUrl%>/js/moment.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.actual.min.js"></script>
<script src="<%$webCdnUrl%>/js/jquery.bootstrap-duallistbox.min.js"></script>
<script type="text/javascript">

    jQuery(function($) {
        // 分页
        pagelist(parseInt("<%$pageList['totalPages']%>"), true);
    });

    function searchComfirm() {
        event.preventDefault();

        // 获取表单内容
        var queryString = $('#searchForm').formSerialize();
        var rsp = $.deparam(queryString);
        rsp['search'] = 1;

        getData(rsp);
    }

    function getData(rsp) {
        // 提交表单
        SysHttp.post("/qrCodeAdmin/qrCodeList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            // 替换表格数据
            var html = '';
            // 分页数据存在则显示分页数据，否则显示无数据
            if (rs.data.data && !SysData.isNull(rs.data.data)) {
                for (var index in rs.data.data) {

                    html += '<tr>';
                    html += '<td class="center">' + rs.data['data'][index]['payTypeName'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['pay_account'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['min_money'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['max_money'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['day_amount'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['img_url'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['code'] + '</td>';
                    html += '<td class="center">' + rs.data['data'][index]['remark'] + '</td>';

                    html += '<td class="center">';
                    html += '<label><input id="isOpen-' + rs.data['data'][index]['id'] + '" name="isOpen-' + rs.data['data'][index]['id'] + '" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox" ';
                    if (parseInt(rs.data['data'][index]['is_open'])) {
                        html += 'checked';
                    }
                    html += ' onclick="setOpen({id:' + rs.data['data'][index]['id'] + '});"><span class="lbl"></span></label>';
                    html += '</td>';

                    html += '<td class="center">' + rs.data['data'][index]['last_time'] + '</td>';
                    html += '<td class="center">';
                    html += '<div class="hidden-sm hidden-xs action-buttons"><a class="btn btn-xs btn-info" href="javascript:void(0);" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'>修改</a>';
                    html += '<a class="red" href="javascript:void(0);" onclick="del(' + rs.data['data'][index]['id'] + ');"><i class="ace-icon fa fa-trash-o bigger-130"></i></a></div>';
                    html += '<div class="hidden-md hidden-lg"><div class="inline pos-rel"><button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto"><i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button><ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
                    html += '<li><a href="javascript:void(0);" class="btn btn-xs btn-info" onclick=\'showInfoModal(' + JSON.stringify(rs.data['data'][index]) + ');\'>修改</a></li>';
                    html += '<li><a href="javascript:void(0);" class="tooltip-error" data-rel="tooltip" title="删除" onclick="del(' + rs.data['data'][index]['id'] + ');"><span class="red"><i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
                    html += '</td></tr>';
                }

                $('#pageNav').css('display', 'block');
            } else {
                html += '<tr><td class="center" colspan="11">无相关数据</td></tr>';
                $('#pageNav').css('display', 'none');
            }

            $('#tableData').html(html);

            // 点击查询需要刷新分页
            if (rs.data.data && !SysData.isNull(rsp['search'])) {
                pagelist(rs.data.totalPages, true);
            }
        });
    }

    function pagelist(totalPage, isFirstOpen) {

        laypage({
            cont: $('#pageNav'),
            pages: totalPage, //总页数
            skip: true, //是否开启跳页
            groups: 5, //连续显示分页数
            jump: function(obj){ //触发分页后的回调
                if (!obj.curr) {
                    return;
                }

                // 非首次调用才向服务器发送请求
                if (!isFirstOpen) {
                    var queryString = $('#searchForm').formSerialize();
                    var rsp = $.deparam(queryString);
                    rsp['page'] = obj.curr;

                    getData(rsp);
                    return;
                }
                isFirstOpen = false;
            }
        });
    }

    function showAddModal() {
        $('#add-modal-form').modal({backdrop: 'static', show: true});
    }

    function showInfoModal(json) {

        // 设置数据
        if (json) {
            for (var idKey in json) {
                $('#' + idKey).val(json[idKey]);
            }

            // 显示弹窗
            $('#modal-form').modal({backdrop: 'static', show: true});
        }
    }

    function setOpen(json) {
        if (SysData.isNull(json.id)) {
            SysDialog.alert("操作失败");
            return;
        }

        var rsp = {};
        var isLock = $('#isOpen-' + json.id).is(':checked');
        isLock = isLock ? 1 : 0;

        rsp["flag"] = "update";
        rsp["setOpen"] = 1;
        rsp["isOpen"] = isLock;
        rsp["id"] = json.id;
        SysHttp.post("/qrCodeAdmin/qrCodeList", rsp, function (rs) {

            if (rs.code != 200) {
                $('#isOpen-' + rsp.id).get(0).checked = isLock ? 0 : 1;
                SysDialog.error(rs.msg);
                return;
            }

            $('#isOpen-' + rsp.id).get(0).checked = isLock;
            SysDialog.success("操作成功");
        });
    }

    function del(id) {

        if (SysData.isNull(id)) {
            SysDialog.error("操作失败");
            return;
        }

        SysDialog.confirm('确定删除吗？',
            function (rs) {
                if (rs) {
                    SysHttp.post("/qrCodeAdmin/qrCodeList", {flag: "del", id: id}, function (rs) {

                        if (rs.code != 200) {
                            SysDialog.error(rs.msg);
                            return;
                        }
                        window.location.reload();
                    });

                }
            }
        );
        return;
    }

    function comfirmAdd() {

        // 获取表单内容
        var queryString = $('#addForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.payType) || SysData.isNull(rsp.account) || SysData.isNull(rsp.imgUrl)) {
            SysDialog.alert("请选择付款类型、收款账号和收款码！");
            return;
        }

        // 提交表单
        SysHttp.post("/qrCodeAdmin/qrCodeList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function cancelAdd() {
        $('#addForm').clearForm();
        $('#add-modal-form').modal('hide');
    }

    function comfirm() {

        // 获取表单内容
        var queryString = $('#updateForm').formSerialize();
        var rsp = $.deparam(queryString);

        if (SysData.isNull(rsp.id)) {
            SysDialog.alert("操作失败！");
            return;
        }

        if (SysData.isNull(rsp.account) || SysData.isNull(rsp.imgUrl)) {
            SysDialog.alert("请选择付款类型、收款账号和收款码！");
            return;
        }

        SysHttp.post("/qrCodeAdmin/qrCodeList", rsp, function (rs) {

            if (rs.code != 200) {
                SysDialog.error(rs.msg);
                return;
            }

            window.location.reload();
        });
    }

    function cancel() {
        $('#updateForm').clearForm();
        $('#modal-form').modal('hide');
    }

</script>
<%include file="footer.html"%>